<template>
    <MbModal ref="modal">
        <template #content>
            <h3>{{title}}</h3>

            <p>
                {{message}}
            </p>

            <div class="buttons">
                <button @click="close()" class="alert">Annulla</button>
            </div>
        </template>
    </MbModal>
</template>
<script>

import MbModal from "./MbModal"

export default {
    components: {
        MbModal
    },
    data() {
        return {
            title: '',
            message: ''
        }
    },
    methods: {
        show(title, message) {
            this.title = title
            this.message = message

            this.$ref.modal.open()
        },
        close() {
            this.$ref.modal.close()
        }
    }

}

</script>