<template>
    <MbModal ref="modal">
        <template #content>
            <h3>Attenzione</h3>

            <div class="message">
                <slot name="message"></slot>
            </div>

            <div>
                <input type="text" v-model="text" />
            
                <div style="color: red;">
                    {{ error }}
                </div>
            </div>
            
            <div class="buttons">
                <button @click="onClickNext()" style="margin-right:10px;">Procedi</button>
                <button @click="close()" class="alert">Annulla</button>
            </div>
        </template>
    </MbModal>
</template>
<script>

import MbModal from './MbModal.vue';

export default {
    components: {
        MbModal
    },
    props: {
        confirmWord: String,
    },
    data() {
        return {
            text: '',
            error: '',
            callback: null
        }
    },
    methods: {
        open(callback) {
            this.error = ""
            this.text = ""
            this.callback = callback
            this.$refs.modal.open()
        },
        close() {
            this.$refs.modal.close()
        },
        onClickNext() {
            if (this.text != this.confirmWord) {
                this.error = 'Testo inserito non corretto'
                return
            }

            if (this.callback != null) {
                this.callback()
            }

            this.close()
        }
    }
    
}

</script>
<style scoped>
.message{
    padding: 20px 0px 20px 0px;
}
.buttons{
    text-align: center;
    margin-top: 20px;
}
</style>