<template>
    <MbModal ref="modal">
        <template #content>
            <h3>Attenzione</h3>

            <p>
                {{message}}
            </p>
        
            <div class="buttons">
                <button @click="onClickOk()" type="button" class="btn btn-primary close-btn">
                    Ok
                </button>
                <button @click="onClickCancel()" type="button" class="btn btn-secondary close-btn">
                    Annulla
                </button>
            </div>
        </template>
    </MbModal>
</template>
<script>
import MbModal from "./MbModal"

export default {
    components: {
        MbModal
    },
    props: {
        userId: Number
    },
    data(){
        return {
            message: '',
            onClickOkHandler: null,
            onClickCancellHandler: null
        }
    },
    created(){
    },
    mounted(){
    },
    methods: {
        show(message, onClickOkHandler, onClickCancellHandler){
            this.message = message
            this.onClickOkHandler = onClickOkHandler,
            this.onClickCancellHandler = onClickCancellHandler

            this.$refs.modal.open()
        },
        onClickOk(){
            if (this.onClickOkHandler){
                this.onClickOkHandler()
            }
            this.$refs.modal.close()
        },
        onClickCancel(){
            if (this.onClickCancellHandler){
                this.onClickCancellHandler()
            }
            this.$refs.modal.close()
        }
    }
}
</script>