<template>
    <div ref="dialog" class="reveal-modal small" data-reveal>
        <slot name="content"></slot>
    </div>
</template>
<script>

export default {
    methods: {
        open() {
            window.$(this.$refs.dialog).foundation('reveal', 'open');
        },
        close() {
            window.$(this.$refs.dialog).foundation('reveal', 'close');
        }
    }
}

</script>