<template>
    <div>
        <div v-if="isLoading">
            <mb-loading></mb-loading>
        </div>
        <div v-else-if="!result.success">
            <p>{{result.message}}</p>
        </div>
        <div v-else>
            <div class="row-100">
                <div class="column small-12">
                    <h3>Dati studente</h3>
                    <table>
                        <tr><td>Istituto</td><td>{{result.result.details.sg_name}}</td></tr>
                        <tr><td>Scuola</td><td>{{result.result.details.s_name}}</td></tr>
                        <tr><td>Nome</td><td>{{result.result.details.name}}</td></tr>
                        <tr><td>Cognome</td><td>{{result.result.details.surname}}</td></tr>
                    </table>
                </div>
            </div>

            <div 
                v-for="(exam, key) in result.result.examResults" :key="key"
                class="row-100" style="margin-top: 30px;">
                <div class="column small-12 large-6">
                    <h3>Test</h3>
                    <table >
                        <tr><td>Tipo test</td><td>{{exam.exam.type}}</td></tr>
                        <tr><td>Insegnante</td><td>{{exam.exam.teacher}}</td></tr>
                        <tr><td>Esaminatore</td><td>{{exam.exam.examiner}}</td></tr>
                        <tr><td>Anno</td><td>{{exam.exam.year}}</td></tr>
                        <tr><td>Mese</td><td>{{exam.exam.month}}</td></tr>
                        <tr><td>Dati test</td><td>{{exam.exam.content}}</td></tr>
                    </table>
                </div>

                <div class="column small-12 large-6">
                    <h3>Risultati</h3>
                    <table>
                        <tr><td>Non eseguita</td><td>{{exam.result.absent}}</td></tr>
                        <tr><td>Superato</td><td>{{exam.result.passed}}</td></tr>
                        <tr><td>Risultati</td><td>{{exam.result.result}}</td></tr>
                        <tr><td>Commento</td><td>{{exam.result.comment}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";
import MbLoading from "@/components/ui/base/MbLoading"

export default{
    components: {
        MbLoading
    },
    props: {
        id: Number
    },
    data(){
        return {
            isLoading: true,
            results: {
                success: false
            }
        }
    },
    mounted() {
        this.isLoading = true

        axios.get("/admin/test/AlfaChildAdminAction-childData?id=" + this.id)
            .then((response) => {
                this.isLoading = false
                this.result = response.data
            })
    }
}
</script>