<template>
    <div>
        <mb-table query-name="admin.test.StudentQuery" >
            <template #custom-columns="{content, visibleColumns}">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    <div v-if="columnId == 'birth_date'">
                        {{content[columnId] | date}}
                    </div>
                    <div v-else>
                        {{content[columnId]}}
                    </div>
                </td>
                <td style="width: 80px;">
                    <a @click="onClickDetails(content)" 
                        class="button tiny secondary radius">
                        <i class="fas fa-search"></i>
                    </a>
                </td>
            </template>
        </mb-table>
    </div>
</template>
<script>
import MbEntityUserDetails from "@/components/ui/entity/MbEntityUserDetails"

export default{
    methods: {
        onClickDetails(row){
            window.vueBus.$emit("right-panel-show", {
					title: "Dettagli untente",
                    componentType: MbEntityUserDetails,
                    parameters: {
                        "userId": row.user_id
                    }
                });
        }
    }
}
</script>