<template>
    <div>
        <div v-if="isLoading">
            <mb-loading></mb-loading>
        </div>
        <div v-else-if="!result.success">
            <p>{{result.message}}</p>
        </div>
        <div v-else>
            <div class="row-100">
                <div class="column small-12">
                    <h3>Dati studente</h3>
                    <table>
                        <tr><td>Istituto</td><td>{{result.result.details.sg_name}}</td></tr>
                        <tr><td>Scuola</td><td>{{result.result.details.s_name}}</td></tr>
                        <tr><td>Nome</td><td>{{result.result.details.name}}</td></tr>
                        <tr><td>Cognome</td><td>{{result.result.details.surname}}</td></tr>
                    </table>
                </div>
            </div>

            <div class="row-100" style="margin-top: 30px;">
                <div class="column small-12 large-6">
                    <h3>Risultati</h3>

                    <div v-for="(exam, key) in result.result.examResults" :key="key">
                        <h4>{{exam.name}}</h4>
                        <table v-for="(result, kresult) in exam.testScores" :key="kresult">
                            <tr><td>Anno</td><td>{{result.year}}</td></tr>
                            <tr><td>Periodo</td><td>{{result.period}}</td></tr>
                            <tr><td>Totale</td><td>{{result.total}}</td></tr>
                            <tr><td>Note</td><td>{{result.comment}}</td></tr>
                            <tr><td>Dati</td><td>
                                    <div v-for="(v, vk) in getVars(result)" :key="vk" style="display:inline-block; width: 100px;">
                                        <div style="display:inline-block; font-weight: bold; min-width: 40px;">{{vk}}:</div>
                                        <div style="display:inline-block;">{{v}}</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";
import MbLoading from "@/components/ui/base/MbLoading"

export default{
    components: {
        MbLoading
    },
    props: {
        id: Number
    },
    data(){
        return {
            isLoading: true,
            results: {
                success: false
            }
        }
    },
    mounted() {
        this.isLoading = true

        axios.get("/admin/test/EsisChildAdminAction-childData?id=" + this.id)
            .then((response) => {
                this.isLoading = false
                this.result = response.data
            })
    },
    methods: {
        getVars(scores){
            let res = {}

            let skipIndexes = ["id", "child_id", "exam_id", "comment", "total", "year_id", "period", "school_id", "year"]

            for (let k in scores){
                if (skipIndexes.indexOf(k) !== -1){
                    continue
                }
                res[k] = scores[k]
            }
            return res
        }
    }
}
</script>