<template>
<div>
    <p>
        I seguenti dati sono letti dal backup del database della piattaforma ESIS.
    </p>
    <mb-table query-name="admin.test.EsisChildQuery">
        <template #custom-columns="{content, visibleColumns}">
            <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                <div v-if="columnId == 'class_dictionary_value'">
                    {{content[columnId].value}}
                </div>
                <div v-else>
                    {{content[columnId]}}
                </div>
            </td>
            <td style="width: 80px;">
                <a :href="'/admin/test/EsisChildAdminAction?id=' + content.id" 
                    class="button tiny secondary radius">
                    <i class="fas fa-chart-bar"></i>
                </a>
            </td>
        </template>
    </mb-table>
</div>
</template>
<script>

</script>