<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <div>
        <mb-table query-name="admin.test.SomministrazioneQuery" >
            <template #custom-columns="{content, visibleColumns}">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    <div v-if="columnId == 'tests'">
                        <div v-for="(test, testId) in content.tests" :key="testId">
                            <a :href="'/admin/test/SomministrazioniAdminAction-testParameters?id=' + test.somministrazione_test_id">
                                {{test.name}}
                            </a>
                        </div>
                    </div>
                    <div v-else-if="columnId == 'data_inizio'">
                        {{content[columnId] | date}}
                    </div>
                    <div v-else-if="columnId == 'data_fine'">
                        {{content[columnId] | date}}
                    </div>
                    <div v-else-if="columnId == 'status'">
                        <div :class="'square ' + content[columnId].key">
                        </div>
                        {{content[columnId].value}}
                    </div>
                    <div v-else>
                        {{content[columnId]}}
                    </div>
                </td>
                <td style="width: 180px;">
                    <a :href="'/admin/test/SomministrazioniAdminAction-edit?id=' + content.somministrazione_id" 
                        class="button tiny secondary radius">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a :href="'/admin/test/SomministrazioneStatsAdminAction?id=' + content.somministrazione_id" 
                        class="button tiny secondary radius">
                        <i class="fas fa-chart-bar"></i>
                    </a>
                    <a @click="onClickRemove(content)" 
                        class="button tiny secondary radius">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </template>
        </mb-table>
    </div>
</template>
<script>
export default{
    params: {
    },
    methods:{
        onClickRemove(content){
            if (!confirm("Rimuovere la somministrazione e i dati associati?")){
                return;
            }

            window.location = "/admin/test/SomministrazioniAdminAction-remove?id=" + content.somministrazione_id
        }
    }
}
</script>
<style scoped>
.square {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
}
.waiting{
    background-color: yellow;
}
.open{
    background-color: lightgreen;
}
.closed{
    background-color: red;
}
</style>
