<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->

<template>
<div>
    <div v-if="selectedClassRow">
        <div>
            <h2>
                <a @click="selectedRow = null; selectedClassRow = null">
                    Admin
                </a>
                <i class="fas fa-arrow-right"></i>
                <a @click="selectedClassRow = null">
                    {{selectedRow.structure_name}}
                </a>
                <i class="fas fa-arrow-right"></i>
                {{selectedClassRow.class}}
            </h2>
        </div>

        <MbSomministrazioneClassStatsTable
            :somministrazioneId="somministrazioneId"
            :structureId="selectedRow.structure_id"
            :classId="selectedClassRow.structure_class_id"
            ></MbSomministrazioneClassStatsTable>
    </div>
    <div v-else-if="selectedRow">
        <div>
            <h2>
                <a @click="selectedRow = null">
                    Admin
                </a>
                <i class="fas fa-arrow-right"></i>
                {{selectedRow.structure_name}}
            </h2>
        </div>
        
        <MbSomministrazioneStatsTable
            :somministrazioneId="somministrazioneId"
            :structureId="selectedRow.structure_id"
            :enableSelectClass="true"
            @onSelectClass="onSelectedClass"            
            ></MbSomministrazioneStatsTable>
    </div>
    <MbLoading v-else-if="isLoading"></MbLoading>
    <div v-else>
        <div v-if="data" style="margin-bottom: 40px;">
            <div v-for="(testData, tk) in data.test_data" :key="tk"
                class="row-100 my-5">
                <h3>{{testData.test.name}}</h3>

                <div v-for="(variable, vk) in testData.variables" :key="vk"
                    class="columns large-4 small-6 float-left">
                    <h4 class="text-center">{{variable.label}}</h4>

                    <MbTestFasceChart
                        :data="calcolaFasce(testData.test.test_id, variable.name, data.table)">
                    </MbTestFasceChart>
                </div>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>
                        <a>
                            <i class="fas fa-download" @click="downloadData()"></i>
                        </a>
                    </th>
                    <th v-for="(testData, key) in data.test_data" :key="key" :colspan="(Object.keys(testData.variables).length * 3) + 3" style="text-align:center;">
                        {{testData.test.name}}
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <template v-for="(testData, key) in data.test_data">
                        <th colspan="3"></th>
                        <th v-for="(variable, key) in testData.variables" colspan="3">
                            {{variable.label}}
                        </th>
                    </template>
                    <th></th>
                </tr>
                <tr>
                    <th>Istituto</th>
                    <template v-for="(testData, key) in data.test_data">
                        <th>
                            <i class="fas fa-exclamation-triangle color-red" title="Indicare se lo studente è assente, se ha eseguito la prova o se la prova non è valida"></i>
                        </th>
                        <th>NE</th>
                        <th>NV</th>
                        <template v-for="(variable, key) in testData.variables">
                            <th>R</th>
                            <th>G</th>
                            <th>V</th>
                        </template>
                    </template>
                    <th>Totale studenti</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row, key) in data.table" :key="key">
                    <td>
                        <a @click="onClickIstitute(row)">
                            {{row.structure_name}}
                        </a>
                    </td>
                    <template v-for="(testData, key) in data.test_data">
                        <td :set="results = row.tests[testData.test.test_id]">
                            {{results == null || !results['not_set'] ? 0 : results['not_set']}}
                        </td>
                        <td :set="results = row.tests[testData.test.test_id]">{{results == null || !results['assente'] ? 0 : results['assente']}}</td>
                        <td>{{results == null || !results['non_valida'] ? 0 : results['non_valida']}}</td>
                        <template v-for="(variable, key) in testData.variables">
                            <td class="result result-red" :set="resultsVar = row.tests[testData.test.test_id][variable.name]">{{resultsVar == null || !resultsVar['f_0'] ? 0 : resultsVar['f_0']}}</td>
                            <td class="result result-yellow">{{resultsVar == null || !resultsVar['f_1'] ? 0 : resultsVar['f_1']}}</td>
                            <td class="result result-green">{{resultsVar == null || !resultsVar['f_2'] ? 0 : resultsVar['f_2']}}</td>
                        </template>
                    </template>
                    <td>{{row.totale_studenti}}</td>
                </tr>
                <template v-if="data.total">
                    <tr class="total">
                        <td>
                            TOTALE
                        </td>
                        <template v-for="(testData, key) in data.test_data">
                            <td :set="results = data.total.tests[testData.test.test_id]">
                                {{results == null || !results['not_set'] ? 0 : results['not_set']}}
                            </td>
                            <td>{{results == null || !results['assente'] ? 0 : results['assente']}}</td>
                            <td>{{results == null || !results['non_valida'] ? 0 : results['non_valida']}}</td>
                            <template v-for="(variable, key) in testData.variables">
                                <td 
                                    :set="resultsVar = data.total.tests[testData.test.test_id][variable.name]"
                                    class="result result-red">{{resultsVar == null || !resultsVar['f_0'] ? 0 : resultsVar['f_0']}}</td>
                                <td class="result result-yellow">{{resultsVar == null || !resultsVar['f_1'] ? 0 : resultsVar['f_1']}}</td>
                                <td class="result result-green">{{resultsVar == null || !resultsVar['f_2'] ? 0 : resultsVar['f_2']}}</td>
                            </template>
                        </template>
                        <td>{{data.total.totale_studenti}}</td>
                    </tr>
                    <tr class="total">
                        <td>
                            %
                        </td>
                        <template v-for="(testData, key) in data.test_data">
                            <td :set="results = data.total.tests[testData.test.test_id]">
                                {{results == null || !results['not_set'] ? 0 : toFixedPerc( results['not_set'] / data.total.totale_studenti , 1)}}
                            </td>
                            <td>{{results == null || !results['assente'] ? 0 : toFixedPerc( results['assente'] / data.total.totale_studenti , 1) }}</td>
                            <td>{{results == null || !results['non_valida'] ? 0 : toFixedPerc( results['non_valida'] / data.total.totale_studenti , 1) }}</td>
                            <template v-for="(variable, key) in testData.variables">
                                <td 
                                    :set="resultsVar = data.total.tests[testData.test.test_id][variable.name]"
                                    class="result result-red">{{resultsVar == null || !resultsVar['f_0'] ? 0 : toFixedPerc(resultsVar['f_0'] / data.total.totale_studenti , 1)}}</td>
                                <td class="result result-yellow">{{resultsVar == null || !resultsVar['f_1'] ? 0 : toFixedPerc(resultsVar['f_1'] / data.total.totale_studenti , 1)}}</td>
                                <td class="result result-green">{{resultsVar == null || !resultsVar['f_2'] ? 0 : toFixedPerc(resultsVar['f_2'] / data.total.totale_studenti , 1)}}</td>
                            </template>
                        </template>
                        <td>{{data.total.totale_studenti}}</td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</div>
</template>

<script>
import axios from "axios"
import MbLoading from "../../ui/base/MbLoading.vue"
import MbTestFasceChart from "@/components/structure/test/common/MbTestFasceChart"
import MbSomministrazioneStatsTable from "@/components/structure/test/MbSomministrazioneStatsTable"
import MbSomministrazioneClassStatsTable from "@/components/structure/test/MbSomministrazioneClassStatsTable"
import MbGenerateExcelMixin from "@/components/structure/test/common/MbGenerateExcelMixin"

export default{
    mixins: [MbGenerateExcelMixin],
    components: {
        MbTestFasceChart,
        MbLoading,
        MbSomministrazioneStatsTable,
        MbSomministrazioneClassStatsTable
    },
    props: {
        somministrazioneId: {
            type: Number
        }
    },
    data(){
        return {
            data: {},
            isLoading: true,
            selectedRow: null,
            selectedClassRow: null
        }
    },
    mounted(){
        this.loadData()
    },
    methods: {
        toFixedPerc(value, precision) {
            return (value * 100).toFixed(precision)
        },
        loadData(){
            this.isLoading = true
            axios.get("/admin/test/SomministrazioneStatsAdminAction-loadData?id=" + this.somministrazioneId)
                .then((response) => {
                    this.data = response.data.result
                    this.isLoading = false
                })
        },
        calcolaFasce(testId, variableName, data){
            let counts = [0, 0, 0, 0, 0, 0]
            
            for (let row of data){
                if (!row.tests || !row.tests[testId]){
                    continue
                }

                counts[3] += row.tests[testId].assente ? row.tests[testId].assente : 0
                counts[4] += row.tests[testId].not_set ? row.tests[testId].not_set : 0
                counts[5] += row.tests[testId].non_valida ? row.tests[testId].non_valida : 0

                if (!row.tests[testId][variableName]){
                    continue
                }
                let varResult = row.tests[testId][variableName]

                for (let i = 0; i < 4; i++){
                    if (!varResult["f_" + i]){
                        continue
                    }

                    counts[i] += varResult["f_" + i]
                }
            }

            return counts
        },
        onClickIstitute(row){
            this.selectedRow = row
            window.scrollTo(0, 0)
        },
        onSelectedClass(classRow){
            this.selectedClassRow = classRow
            window.scrollTo(0, 0)
        },
        downloadData(){
            let data = {
                rows: [
                    {
                        index: 1,
                        isHeader: true,
                        columns: [
                            {
                                index: 1,
                                value: "Istituto"
                            }
                        ]
                    }
                ]
            }

            for (let testData of this.data.test_data){
                data.rows[0].columns.push({
                    index: data.rows[0].columns.length + 1,
                    value: testData.test.name
                })

                data.rows[0].columns.push({
                    index: data.rows[0].columns.length + 1,
                    value: "Non eseguito"
                })
                data.rows[0].columns.push({
                    index: data.rows[0].columns.length + 1,
                    value: "Assente"
                })
                data.rows[0].columns.push({
                    index: data.rows[0].columns.length + 1,
                    value: "Non valido"
                })

                for (let vi in testData.variables){
                    let variable = testData.variables[vi]
                    
                    data.rows[0].columns.push({
                        index: data.rows[0].columns.length + 1,
                        value: variable.label
                    })
                    
                    data.rows[0].columns.push({
                        index: data.rows[0].columns.length + 1,
                        value: "R"
                    })
                    data.rows[0].columns.push({
                        index: data.rows[0].columns.length + 1,
                        value: "G"
                    })
                    data.rows[0].columns.push({
                        index: data.rows[0].columns.length + 1,
                        value: "V"
                    })
                }
            }

            for (let row of this.data.table){
                let columns = [
                    {
                        index: 1,
                        value: row.structure_name
                    }
                ]

                for (let testData of this.data.test_data){
                    columns.push({
                        index: columns.length + 1,
                        value: ""
                    })
                    columns.push({
                        index: columns.length + 1,
                        value: row.tests[testData.test.test_id] && row.tests[testData.test.test_id].not_set ? row.tests[testData.test.test_id].not_set : 0
                    })
                    columns.push({
                        index: columns.length + 1,
                        value: row.tests[testData.test.test_id] && row.tests[testData.test.test_id].assente ? row.tests[testData.test.test_id].assente : 0
                    })
                    columns.push({
                        index: columns.length + 1,
                        value: row.tests[testData.test.test_id] && row.tests[testData.test.test_id].non_valida ? row.tests[testData.test.test_id].non_valida : 0
                    })

                    for (let vi in testData.variables){
                        let variable = testData.variables[vi]
                        let varResult = row.tests[testData.test.test_id][variable.name]

                        columns.push({
                            index: columns.length + 1,
                            value: ""
                        })
                        columns.push({
                            index: columns.length + 1,
                            value: varResult && varResult.f_0 ? varResult.f_0 : 0
                        })
                        columns.push({
                            index: columns.length + 1,
                            value: varResult && varResult.f_1 ? varResult.f_1 : 0
                        })
                        columns.push({
                            index: columns.length + 1,
                            value: varResult && varResult.f_2 ? varResult.f_2 : 0
                        })
                    }
                }

                data.rows.push({
                    index: data.rows.length + 1,
                    columns: columns
                })
            }

            this.generateExcel(data)
        },
    }
}

</script>
<style scoped>
thead tr:nth-child(3) th{
    position: sticky;
    top: 0;
    background-color: #eeeeee;
}
.result{
    padding: 5px;
}
.result-red{
    background-color: red;
    color: white;
}
.result-yellow{
    background-color: yellow;
}
.result-green{
    background-color: lightgreen;
}
td:not(:first-child){
    text-align: center;
}
.total td{
    font-weight: bold;
}
</style>