<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <div>
        <mb-table query-name="admin.test.TestSogliaQuery" :onPostPrepareRequest="onPostPrepareRequest">
            <template #custom-columns="{content, visibleColumns}">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    <div v-if="columnId == 'insert_date'">
                        {{content[columnId] | date-time}}
                    </div>
                    <div v-else>
                        {{content[columnId]}}
                    </div>
                </td>
            </template>
        </mb-table>
    </div>
</template>
<script>
export default{
    params: {
        test_id: {
            type: Number
        }
    },
    methods:{
        onPostPrepareRequest(request){
            request["conditions"]["test_id"] = this.test_id;
            return request;
        }
    }
}
</script>