<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
<div>
    <div class="form-group row row-100">
        <div class="columns small-12 medium-6 large-4">
            <label class="col-xs-4 col-sm-2 col-xl-1 col-form-label columns small-12 medium-6 large-4">
                Variabile:
            </label>
            <div class="xol-xs-8 col-sm-4 col-xl-3 columns medium-8">
                <multiselect
                    placeholder="Selezionare un valore" 
                    :options="variables"
                    track-by="name" label="label"
                    v-model="form.variable"
                    :allow-empty="false">
                </multiselect>
            </div>
        </div>
        <div class="columns small-12 medium-6 large-4" style="float:left;">
            <label class="col-xs-4 col-sm-2 col-xl-1 col-form-label columns small-12 medium-6 large-4">
                Anno scolastico:
            </label>
            <div class="xol-xs-8 col-sm-4 col-xl-3 columns medium-8">
                <multiselect
                    placeholder="Selezionare un valore" 
                    :options="schoolYears"
                    track-by="school_year_id" label="school_year"
                    v-model="form.schoolYear"
                    :allow-empty="false">
                </multiselect>
            </div>
        </div>
    </div>
    <div class="form-group row row-100">
        <div class="columns small-12 medium-6 large-4">
            <label class="col-xs-4 col-sm-2 col-xl-1 col-form-label columns small-12 medium-6 large-4">
                Valore minimo:
            </label>
            <div class="xol-xs-8 col-sm-4 col-xl-3 columns medium-8">
                <input type="number" v-model="form.minValue">
            </div>
        </div>
        <div class="columns small-12 medium-6 large-4" style="float:left;">
            <label class="col-xs-4 col-sm-2 col-xl-1 col-form-label columns small-12 medium-6 large-4">
                Valore massimo:
            </label>
            <div class="xol-xs-8 col-sm-4 col-xl-3 columns medium-8">
                <input type="number" v-model="form.maxValue">
            </div>
        </div>
    </div>

    <div v-if="!form.schoolYear || !form.variable">
        <div class="text-center" style="margin: 20px; padding: 20px; color: red;">
            <p>Selezionare un anno scolastico e una variabile</p>
        </div>
    </div>

    <div v-if="isLoading">
        <mb-loading></mb-loading>    
    </div>
    <div v-show="!isLoading">
        <div class="form-group row row-100" style="margin-top: 20px;">
            <div class="columns small-12">
                <canvas ref="myChart" width="800" height="200"></canvas>
            </div>
        </div>

        <div v-if="data && data.frequencyTable" class="form-group row row-100" style="margin-top: 20px;">
            <div class="columns small-6">
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Punteggio</th>
                            <th>F</th>
                            <th>FC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(row, k) in data.frequencyTable" :key="k">
                            <td>{{row.value}}</td>
                            <td>{{row.f}}</td>
                            <td>{{row.fc}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="columns small-6">
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Centile</th>
                            <th>Punteggio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(row, k) in data.centiliTable" :key="k">
                            <td>{{row.centile}}</td>
                            <td>{{row.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
</template>
<script>
import axios from "axios"
import Multiselect from "vue-multiselect"
import ChartJs from "chart.js/auto"

import MbLoading from "@/components/ui/base/MbLoading"

let myChart = null

export default{
    components: {
        Multiselect, MbLoading
    },
    props: {
        testId: {
            type: Number
        },
        schoolYears: {
            type: Number
        },
        variables: {
            type: Array
        }
    },
    data(){
        return{
            isLoading: false,
            form: {
                schoolYear: null,
                variable: null,
                minValue: null,
                maxValue: null
            },
            data: {}
        }
    },
    watch: {
        form: {
            deep: true,
            handler(){
                if (this.form.schoolYear && this.form.variable){
                    this.loadData()
                }
            }
        }
    },
    mounted(){
        this.createChart()

        this.form.variable = this.variables[0]
        for (var i = 0; i < this.schoolYears.length; i++){
            if (this.schoolYears[i].current)    {
                this.form.schoolYear = this.schoolYears[i]
            }
        }
    },
    methods: {
        createChart(){
            myChart = new ChartJs(this.$refs.myChart, {
                type: 'bar',
                data: {},
                datasets: [],
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        },
        loadData(){
            this.isLoading = true

            axios.post('/admin/test/TestStatsAdminAction-loadData', {
                testId: this.testId,
                variableName: this.form.variable.name,
                schoolYearId: this.form.schoolYear.school_year_id,
                minValue: this.form.minValue,
                maxValue: this.form.maxValue
            }).then((response) => {
                this.isLoading = false

                this.data = response.data.result
                var scores = response.data.result.chartData

                var newDataset = {
                    label: "Risultati",
                    borderWidth: 1,
                    data: [],
                    cubicInterpolationMode: 'monotone'
                }

                var labels = []
                for (var k in scores) {
                    var entry = scores[k]
                    labels.push(entry.value)
                    newDataset.data[labels.length - 1] = parseInt(entry.c)
                }

                myChart.data.labels = labels

                myChart.data.datasets = []
                myChart.data.datasets.push(newDataset)
                myChart.update()
            })
        }
    }
}
</script>