<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <div>
        <mb-table query-name="admin.test.TestQuery">
            <template #custom-columns="{content, visibleColumns}">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    <div v-if="columnId == 'class_dictionary_value'">
                        {{content[columnId].value}}
                    </div>
                    <div v-else>
                        {{content[columnId]}}
                    </div>
                </td>
                <td style="width: 240px;">
                    <a :href="'/admin/test/TestAdminAction-edit?id=' + content.test_id" 
                        class="button tiny secondary radius">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a :href="'/admin/test/TestSoglieAdminAction?test_id=' + content.test_id" 
                        class="button tiny secondary radius">
                        <i class="far fa-check-square"></i>
                    </a>
                    <a :href="'/admin/test/TestStatsAdminAction?test_id=' + content.test_id" 
                        class="button tiny secondary radius">
                        <i class="fas fa-chart-bar"></i>
                    </a>
                    <a @click="onClickRemove(content)" 
                        class="button tiny secondary radius">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </template>
        </mb-table>
    </div>
</template>
<script>
export default{
    methods:{
        onClickRemove(content){
            if (!confirm("Rimuovere il test?")){
                return
            }

            window.location = '/admin/test/TestAdminAction-remove?id=' + content.test_id
        }
    }
}
</script>