<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <MbTestRowBase 
        :value="value"
        :read-only="readOnly"
        :nonValidaFileUploadEnabled="true">
        <template #custom-columns>
            <td class="text-center">
                <input type="checkbox"
                    v-model="value.raw_data.scritte_speculari"
                    :disabled="value.status != 'somministrata' || readOnly"/>
            </td>
            <td v-for="(word, k) in words" :key="k" class="word">
                <MbTestTextField
                    :disabled="value.status != 'somministrata' || readOnly" 
                    v-model="value.raw_data[k]"
                    :reply="word"
                    :targetValue="word"
                />
            </td>
            <td :class="'score ' + scoreClass"
                v-show="value.status && value.status != 'assente'">
                {{value.scores["risposte_corrette"]}}
            </td>
        </template>
    </MbTestRowBase>
</template>
<script>

import MbTestRowBase from '../common/MbTestRowBase'
import SomministrazioneStatus from '../SomministrazioneStatus'
import MbTestTextField from '../common/MbTestTextField'
import TestService from "./../TestService"

export default{
    components: {
        MbTestTextField,
        MbTestRowBase
    },
    props: {
        value: {
            type: Object,
            default() {
                return {
                    status: '',
                    raw_data: {
                        scritte_speculari: false
                    },
                    scores: {
                        risposte_corrette: 0
                    }
                }
            }
        },
        words: {
            type: Object,
            default(){
                return {}
            }
        },
        soglie: {
            type: Object,
            default() {
                return {}
            }
        },
        readOnly: {
            type: Boolean,
            default: false
        }
    },
    data(){
        return {
            scoreClass: ''
        }
    },
    computed: {
        status(){
            return this.value.status
        }
    },
    watch: {
        status(){
            var newValue = null
            if (this.value.status == SomministrazioneStatus.SOMMINISTRATA){
                newValue = ''
            }

            for(var i in this.value.raw_data){
                this.value.raw_data[i] = newValue
            }
            this.value.raw_data.scritte_speculari = false
        },
        value: {
            deep: true,
            handler(){
                if (typeof this.value.raw_data.scritte_speculari == 'undefined'){
                    this.$set(this.value.raw_data, 'scritte_speculari', false)
                }
                this.updateScore()
            }
        }
    },
    created(){
        this.updateScore()
    },
    methods: {
        updateScore(){
            if (!this.value.scores){
                this.value.scores = {}
            }

            this.value.scores["risposte_corrette"] = 0
            if (this.status == SomministrazioneStatus.ASSENTE){
                return
            }
            if (this.status == SomministrazioneStatus.NON_VALIDA){
                this.scoreClass = 'red'
                return
            }

            for (let i in this.words){
                if (this.value.raw_data[i] == null){
                    continue
                }

                if (this.value.raw_data[i].trim().toLowerCase() == this.words[i].trim().toLowerCase() || this.value.raw_data[i] == ''){
                    this.value.scores["risposte_corrette"]++
                }
            }

            let soglia = this.soglie["risposte_corrette"]
            let value = this.value.scores["risposte_corrette"]
            let fascia = TestService.evaluate(soglia, value)

            this.scoreClass = ''
            if (fascia == 2){
                this.scoreClass = 'green'
            } else if (fascia == 1) {
                this.scoreClass = 'yellow'
            } else if (fascia == 0) {
                this.scoreClass = 'red'
            }
        }
    }
}
</script>
<style scoped>
input[type="radio"]{
    width: 30px;
    height: 30px;
    margin-bottom: 0px;
}
.studente{
    width: 100px;
}
.score{
    text-align: center;
    font-size: 20px !important;
}
.green{
    background-color: lightgreen;
}
.yellow{
    background-color: lightyellow;
}
.red{
    background-color: red;
    color: white;
}
td.word{
    padding: 0px;
}
input[type='checkbox']{
    width: 30px;
    height: 30px;
    margin-bottom: 0px;
}
</style>