<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
<div>
    <MbTestBase
        :isLoading="isLoading"
        :backAction="backAction"
        :noteCompilazione="noteCompilazione"
        :isExportEnabled="true"
        :displayAlert="displayAlert"
        @onClickExport="onClickExport"
        @onClickSubmit="onClickSubmit">
        <template #header-additional-columns>
            <th>Scritte speculari</th>
            <th v-for="(word, k) in parameters" :key="k" class="words">
                {{word}}
            </th>
            <th>Corrette</th>    
        </template>
        <template #table-body>
            <MbTestRow 
                v-for="(student, k) in results.students" 
                :key="k"
                v-model="results.students[k]"
                :read-only="readOnly"
                :words="parameters"
                :soglie="soglie">
            </MbTestRow>
        </template>
        <template #after-export-button>
            <a @click="onClickExportDifficultSorted" class="button radius secondary margin-right"><i class="fas fa-file-excel margin-right"></i>Export con parole divise per difficoltà</a>
        </template>
    </MbTestBase>
</div>
</template>
<script>
import MbTextMixin from "../common/MbTestMixin"
import MbTestRow from "./MbTestRow"
import MbTestBase from "../common/MbTestBase"
import TestService from "../TestService"

export default{
    mixins: [MbTextMixin],
    components: {
        MbTestRow,
        MbTestBase
    },
    methods: {
        onClickExport(){
            var headerCols = [
                    {
                        index: 1, value: 'Studente'
                    },
                    {
                        index: 2, value: 'Stato'
                    },
                    {
                        index: 3, value: 'Scritte speculari'
                    }
                ]

            let cIndex = 4;
            for (let i in this.parameters){
                headerCols.push({
                    index: cIndex, value: this.parameters[i]
                })
                cIndex++
            }

            headerCols.push({
                index: cIndex++, value: "Corrette"
            }, {
                index: cIndex++, value: "Fascia"
            })

            let data = {
                rows: [
                    {
                        index: 1,
                        isHeader: true,
                        columns: headerCols
                    }
                ]
            }

            for (let i = 0; i < this.data.length; i++){
                let dataRow = this.data[i]

                let columns = [{
                        index: 1, value: dataRow.user.name + ' ' + dataRow.user.surname
                    }, {
                        index: 2, value: dataRow.status  
                    }, {
                        index: 3, value: dataRow.raw_data.scritte_speculari
                    }]

                cIndex = 4
                for (let i in this.parameters){
                    columns.push({
                        index: cIndex, value: dataRow.raw_data[i]
                    })
                    cIndex++
                }

                columns.push({
                    index: cIndex++, value: dataRow.scores['risposte_corrette']
                })

                let soglia = this.soglie["risposte_corrette"]
                let value = dataRow.scores["risposte_corrette"]
                let fascia = TestService.evaluate(soglia, value)
                columns.push({
                    index: cIndex, value: fascia
                })

                let row = {
                    index: i + 2,
                    columns: columns
                }
                data.rows.push(row)
            }

            this.generateExcel(data)
        },
        onClickExportDifficultSorted() {
            var headerCols = [
                {
                    index: 1, value: 'Studente'
                },
                {
                    index: 2, value: 'Stato'
                },
                {
                    index: 3, value: 'Scritte speculari'
                }
            ]

            let cIndex = headerCols.length + 1
            for (let i in this.parameters) {
                let pIndex = cIndex - 4
                let r = pIndex % 4
                let d = Math.floor(pIndex / 4)
                let index = d + r * 4

                headerCols[index + 3] = {
                    index: index + 4, value: this.parameters[i]
                }

                cIndex++
            }
            
            headerCols.push({
                index: cIndex++, value: "Corrette"
            }, {
                index: cIndex++, value: "Fascia"
            })

            let data = {
                rows: [
                    {
                        index: 1,
                        isHeader: true,
                        columns: headerCols
                    }
                ]
            }

            for (let i = 0; i < this.data.length; i++){
                let dataRow = this.data[i]

                let columns = [{
                        index: 1, value: dataRow.user.name + ' ' + dataRow.user.surname
                    }, {
                        index: 2, value: dataRow.status  
                    }, {
                        index: 3, value: dataRow.raw_data.scritte_speculari
                    }]

                cIndex = 4
                for (let i in this.parameters) {
                    let pIndex = cIndex - 4
                    let r = pIndex % 4
                    let d = Math.floor(pIndex / 4)
                    let index = d + r * 4
                
                    columns[index + 3] = {
                        index: index + 4, value: dataRow.raw_data[i]
                    }
                    cIndex++
                }

                columns.push({
                    index: cIndex++, value: dataRow.scores['risposte_corrette']
                })

                let soglia = this.soglie["risposte_corrette"]
                let value = dataRow.scores["risposte_corrette"]
                let fascia = TestService.evaluate(soglia, value)
                columns.push({
                    index: cIndex, value: fascia
                })

                let row = {
                    index: i + 2,
                    columns: columns
                }
                data.rows.push(row)
            }

            this.generateExcel(data)
        }
    }
}
</script>
<style>
.words{
    text-transform: uppercase;
    text-align: center;
}
</style>