<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <MbTestBase
        :isLoading="isLoading"
        :backAction="backAction"
        :noteCompilazione="noteCompilazione"
        :isExportEnabled="true"
        :displayAlert="displayAlert"
        @onClickExport="onClickExport"
        @onClickSubmit="onClickSubmit">
        <template #header-additional-columns>
            <th class="text-center">Confronto n*</th>
            <th class="text-center">Conteggio</th>
            <th class="text-center">Scrittura n*</th>
            <th class="text-center">Lettura n*</th>
            <th class="text-center">Dita</th>
            <th class="text-center">Numeri e cuoricini</th>
            <th class="text-center">Totale</th>
        </template>
        <template #table-body>
            <MbTestRow 
                v-for="(student, k) in results.students" 
                :key="k"
                v-model="results.students[k]"
                :read-only="readOnly"
                :replies="parameters"
                :soglie="soglie">
            </MbTestRow>
        </template>
    </MbTestBase>
</template>
<script>
import MbTextMixin from "../common/MbTestMixin"
import MbTestBase from "../common/MbTestBase"
import MbTestRow from "./MbTestRow"
import TestService from "./../TestService"
import SomministrazioneService from "../SomministrazioneService"

export default{
    mixins: [MbTextMixin],
    components: {
        MbTestBase,
        MbTestRow
    },
    methods: {
        validateData(){
            return SomministrazioneService.validate(this.results)
        },
        onClickExport(){
            let data = {
                rows: [
                    {
                        index: 1,
                        isHeader: true,
                        columns: [
                            {
                                index: 1, value: 'Studente'
                            },
                            {
                                index: 2, value: 'Stato'
                            }
                        ]
                    }
                ]
            }

            let columns = [
                {
                    label: "Confronto n°",
                    key: 'confronto'
                }, 
                {
                    label: "Conteggio",
                    key: 'conteggio'
                }, 
                {
                    label: "Scrittura n*",
                    key: 'scrittura'
                }, 
                {
                    label: "Lettura n*",
                    key: 'lettura'
                }, 
                {
                    label: "Dita",
                    key: 'dita'
                }, 
                {
                    label: "Numeri e cuoricini",
                    key: 'quantita'
                }, 
                {
                    label: "Totale",
                    key: 'totale'
                }
            ]

            let cIndex = data.rows[0].columns.length + 1
            for (let i = 0; i < columns.length; i++){
                data.rows[0].columns.push({
                    index: cIndex++, value: columns[i].label
                })
                data.rows[0].columns.push({
                    index: cIndex++, value: "Fascia"
                })
            }
            
            for (let i = 0; i < this.data.length; i++){
                let dataRow = this.data[i]
                
                let row = {
                    index: i + 2,
                    columns: [
                        {
                            index: 1, value: dataRow.user.name + ' ' + dataRow.user.surname
                        }, 
                        {
                            index: 2, value: dataRow.status  
                        }
                    ]
                }

                cIndex = row.columns.length + 1
                for (let i = 0; i < columns.length; i++){
                    let key = columns[i].key

                    row.columns.push({
                        index: cIndex++, value: dataRow.scores[key]  
                    })
                    row.columns.push({
                        index: cIndex++, value: TestService.evaluate(this.soglie[key], dataRow.scores[key])
                    })
                }

                data.rows.push(row)
            }

            this.generateExcel(data)
        }
    }
}
</script>