<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <MbTestRowBase 
        :value="value"
        :read-only="readOnly">
        <template #custom-columns>
            <td>
                <MbTextFieldWithSoglie 
                    v-model="value.raw_data.confronto"
                    :soglia="getSoglia('confronto')"
                    :disabled="value.status != 'somministrata' || readOnly"
                    :required="true"
                    ></MbTextFieldWithSoglie>
            </td>
            <td>
                <MbTextFieldWithSoglie 
                    v-model="value.raw_data.conteggio"
                    :soglia="getSoglia('conteggio')"
                    :disabled="value.status != 'somministrata' || readOnly"
                    :required="true"
                    ></MbTextFieldWithSoglie>
            </td>
            <td>
                <MbTextFieldWithSoglie 
                    v-model="value.raw_data.scrittura"
                    :soglia="getSoglia('scrittura')"
                    :disabled="value.status != 'somministrata' || readOnly"
                    :required="true"
                    ></MbTextFieldWithSoglie>
            </td>
            <td>
                <MbTextFieldWithSoglie 
                    v-model="value.raw_data.lettura"
                    :soglia="getSoglia('lettura')"
                    :disabled="value.status != 'somministrata' || readOnly"
                    :required="true"
                    ></MbTextFieldWithSoglie>
            </td>
            <td>
                <MbTextFieldWithSoglie 
                    v-model="value.raw_data.dita"
                    :soglia="getSoglia('dita')"
                    :disabled="value.status != 'somministrata' || readOnly"
                    :required="true"
                    ></MbTextFieldWithSoglie>
            </td>
            <td>
                <MbTextFieldWithSoglie 
                    v-model="value.raw_data.quantita"
                    :soglia="getSoglia('quantita')"
                    :disabled="value.status != 'somministrata' || readOnly"
                    :required="true"
                    :customValidateFunction="numeriECuoriciniValidate"
                    ></MbTextFieldWithSoglie>
            </td>
            <td>
                <MbTextFieldWithSoglie 
                    v-model="value.scores.totale"
                    :soglia="getSoglia('totale')"
                    :disabled="true"
                    ></MbTextFieldWithSoglie>
            </td>
        </template>
    </MbTestRowBase>
</template>
<script>
import MbTestRowMixin from "../common/MbTestRowMixin"
import SomministrazioneStatus from '../SomministrazioneStatus'
import MbTestRowBase from '../common/MbTestRowBase'
import MbTextFieldWithSoglie from "../common/MbTextFieldWithSoglie"

export default{
    mixins: [MbTestRowMixin],
    components: {
        MbTestRowBase,
        MbTextFieldWithSoglie
    },
    props: {
        value: {
            type: Object,
            default() {
                return {
                    "status": '',
                    "raw_data": {},
                    "scores": {}
                }
            }
        },
        soglie: {
            type: Object,
            default() {
                return {}
            }
        },
        readOnly: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        status(){
            return this.value.status
        }
    },
    watch: {
        status(){
            var newValue = null
            if (this.value.status == SomministrazioneStatus.SOMMINISTRATA){
                newValue = ''
            }

            for(var i in this.value.raw_data){
                this.value.raw_data[i] = newValue
            }
        },
        value: {
            deep: true,
            handler(){
                this.updateScore()
            }
        }
    },
    created(){
        if (typeof this.value.scores == "undefined"){
            this.value.scores = {}
        }
        if (typeof this.value.scores.totale == "undefined"){
            this.value.scores.totale = 0
        }
        this.updateScore()
    },
    methods: {
        numeriECuoriciniValidate(value){
            if (typeof value === 'undefined' || value == null || !value.replace){
                return value
            }

            value = value.replace(',', '.').replace(/[^0-9.]/g, '')
            if (value.length > 0 && (value.indexOf(".") == -1 || value.indexOf(".") != value.length -1)){
                value = parseFloat(value)

                let dec = value % 1
                if (dec != 0 && dec != 0.5){
                    value = parseInt(value)  + '.'
                }
            }
            
            return value
        },
        updateScore(){
            if (typeof this.value.scores == "undefined"){
                this.value.scores = {}
            }

            this.value.scores.totale = 0
            for(var name in this.value.raw_data){
                this.value.scores[name] = parseFloat(this.value.raw_data[name])

                if(name != 'totale'){
                    this.value.scores.totale += this.value.scores[name]
                }
            }

            if (isNaN( this.value.scores.totale )){
                this.value.scores.totale = null
            }
        }
    }
}
</script>
<style scoped>
</style>