/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-mar-2014, 9.59.56
    Author     : marco.buccio
*/

body{
    background-color: white;
}

.date_select_field select{
    width: 30%;
}

.elenco_documento{
    height: 50px;
    width: 95%;
    margin: 20px 20px 20px 20px;
    padding-top: 10px;
    border: 1px solid #d4ecd2;
    font-size: 1.3em;
}

.float_right{
    float: right;
}

textarea{
    resize: none;
}
tiny
.reply input[type="checkbox"] + label, .reply input[type="radio"] + label {
    width: 74%;
}

.margin-bottom{
    margin-bottom: 20px !important;
}
margin-top{
    margin-top: 20px;
}

.sub_menu{
    list-style: none;
}

a i{
    margin-right: 10px;
}

input[type="checkbox"] + label, input[type="radio"] + label{
    max-width: 79%;
    vertical-align: top;
    margin-bottom: 10px;
    margin-top: 0px;
}

input[type="file"], input[type="checkbox"], input[type="radio"], select{
    margin-top: 5px;
}

.header-buttons{
    padding-top:10px;
    text-align: right;
}
.header-buttons a{
    padding-top:12px;
    padding-left: 10px;
    display: inline-block;
}

.student-buttons{
    text-align: left;
}
.sezioni{
    padding-left: 10px;
}

.message{
    padding: 20px;
}
.message p{
    line-height: 0.3;
}

.padding-top{
    padding-top: 20px;
}

.margin-top{
    margin-top: 10px;
}

.student-buttons{
    margin-top: 10px;
}

.student-buttons a{
    width: 132px;
}

#header-logo{
    height: 49px;
    margin-bottom: 7px;
    margin-left: 14px;
}

#logo-right{
    margin-top: 12px;
}

.attachment-line{
    border-bottom: 1px solid #CCC;
    padding: 10px;
}
#tab-portfolio .attachment{
    margin-bottom: 10px;
}



#tab-portfolio .ambito{
    padding: 15px;
}

#tab-portfolio .ambito h4,
#tab-portfolio .ambito h5{
    margin-left: 0px;
}

#tab-portfolio .ambito h4{
    border-bottom: 1px solid #DDD;
}

#tab-portfolio .documento{
    margin: 15px 0px 40px 0px;
}

#tab-portfolio .documento .number{
    //text-align: right;
}

#tab-portfolio .documento-number{
    font-weight: bolder;
    color: white;
    text-align: center;
    line-height: 1.5;
}

#tab-portfolio .download-area{
    text-align: center;
}
#tab-portfolio .download-area a{
    margin-left: 30px;
    padding: 5px;
}
#tab-portfolio .download-area a:hover{
    border: 1px solid blue;
}

#tab-portfolio .attachments{
    display: block;
    margin-top: 20px;
    padding: 15px;
}

.tabs-content .button:hover, .tabs-content .button.elimina:hover, .header .sofiatoolbar .areacrediti .button:hover {
    background-color: #5b7cf76e;
}

a i{
    margin-right: 0px;
}

.user-ref table td:last-child {
    width: 171px !important;
    text-align: right;
}

.my-tabs{
    width: 100%;
    margin: 15px 0px 15px 0px;
}
.my-tabs .tab-header{
    padding: 15px;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    color: black;
}
.my-tabs .tab-header:hover{
    background-color: rgb(0.7,1,0.7, 0.1);
}
.my-tabs .tab-header.active{
    border-bottom: 3px solid black;
    cursor: default;
    pointer-events: none;
}

.with-itocn i{
    margin-right: 10px;
}

.download-file{
    display: inline-block;
    width: 100px;
}

#redirect_message{
    font-size: 1.1rem;
    padding: 10px;
    color: red;
    background-color: yellow;
    position: fixed;
    top: 0px;
    width: 50%;
    left: 30px;
    text-align: center;
}

.semaforo{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.semaforo.red{
    background-color: red;
}
.semaforo.green{
    background-color: green;
}
.semaforo.white{
    background-color: white;
    color: black !important;
    border: 1px solid black;
}

#home-documents .button{
    width: 100%;
}

.row-100 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
}
.row-100:before, .row-100:after {
  content: " ";
  display: table;
}
.row-100:after {
  clear: both;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
    margin: 0px;
}

label.inline{
    margin: 0px;
}

.form_field_note{
    font-size: 0.9rem;
    font-style: italic;
}

.columns.float-left{
    float: left !important;
}

#prev-access-message{
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
    position: absolute;
    z-index: 999;
    background-color: white;
    right: 20px;
    -webkit-box-shadow: -16px 10px 34px -4px rgba(0,0,0,0.32);
    -moz-box-shadow: -16px 10px 34px -4px rgba(0,0,0,0.32);
    box-shadow: -16px 10px 34px -4px rgba(0,0,0,0.32);
}

.float-right{
    float:right;
}

.multiselect .multiselect__input{
    display: none; 
}
.multiselect.multiselect--active .multiselect__input{
    display: block; 
    position: absolute;
    top: 0px;
    left: 0px;
}

.button.expanded{
    width:100%;
}