/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-set-2014, 9.33.48
    Author     : marco.buccio
*/

.row.error input{
    margin-bottom: 0px;
    border: 1px solid #cccccc;
    background-color: white!important;
}

.row.error label{
    border: none;
}