
.jstree {
	overflow: auto;
	white-space: nowrap;  
}
.jstree-default-large .jstree-node {
	margin-left:8px;
}
.jstree ul li.father {
	background-color: #eeeeee;
	border-bottom: 2px solid #ffffff;

}

.jstree .jstree-node {
	background-image: none;
}

.jstree .jstree-leaf .jstree-themeicon {
	background-position: -96px -64px;
}

.jstree-default .jstree-clicked {
	background-color: #d4ecd2;
}

.jstree-default .jstree-hovered {
	background-color: #d4ecd2;	
}

.jstree .jstree-anchor {
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.jstree.personalizza-pei {
	background-color: #eeeeee;
	padding-left: 10px;
}

.jstree.personalizza-pei ul li.father {
	border: none;
}

.jstree.personalizza-pei .jstree-icon {
	display: none;
}

.jstree-anchor {
	font-weight: bold;
}

.jstree-leaf .jstree-anchor {
	font-weight: normal;
}

.jstree.personalizza-pei .jstree-open > a.jstree-hovered {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.personalizza-pei li.compiled {
	color: #3ea436;
}
