// Small screens 
@media only screen { } 
@media only screen and (max-width: 40em) {
	.tab-procedimento-pei .orbit-bullets {
    	display: block;
    	text-align: left;
    	margin-left: 10px;
	}
}
/* Define mobile styles */ 
@media only screen and (max-width: 26em) {
	.logo-erickson img {
		width: 42px;
		margin-top: 6px;
	}


	.header .sofiatoolbar .areacrediti a.button {
		font-size: 0.8em;
		width: 30px;
		height: 30px;
		padding: 2px;
		line-height: 13px;
	}

	.logo-sofia img {
		width: 100px;
	}


	.header {
		height: 80px;
	}

	.header .sofiatoolbar .areacrediti {
		margin-top: 24px;
		text-align: left;
	}

	.header .sofiatoolbar .areacrediti a:first-child {
		margin-right: 2px;
	}

	.header .sofiatoolbar .areabottoni {
		margin-left: 4px;
		margin-top: 9px;
	}

	.header .sofiatoolbar .button.logout,
	.header .sofiatoolbar .button.profile {
		margin: 20px 0 0 10px;
	}

	.header .sofiatoolbar .button.logout {
		margin-top: 10px;
	}

	.header .sofiatoolbar.small-toolbar {
		text-align: right;
	}

	label.search-wrap {
		margin: 0 10px;
	}

	.small-newimport .button.nuovo {
		margin-left: 10px;
	}

	.tabs .tab-title > a {
		padding: 1em 15px;
	}

	.tabs .tab-title.active a {

	}

	table.elenco.studenti .button.pei,
	table.elenco.studenti .button.pdp,
	table.elenco.studenti .button.nopath {
		display: block;
		margin-bottom: 5px;
	}

	.operatori .button.nuovo {
		margin-left: 10px;
	}

	
	ul.dettaglio-studente li div.etichetta {
		width: 100%;
		float: none;
	}

	ul.dettaglio-studente li div.contenuto {
		float: none;
	}

	ul.elenco.studenti li ul {
		clear: both;
		margin: 0;
	}
}

@media only screen and (min-width:26em) and (max-width: 40.063em) {
	.logo-sofia img {
		width: 110px;
	}

	.logo-erickson img {
		width: 64px;
	}

	.header {
		height: 100px;
	}

	.header .sofiatoolbar .areacrediti {
		margin-top: 22px;
		text-align: left;
	}

	.header .sofiatoolbar .areacrediti a:first-child {
		margin-right: 0px;
	}

	.header .sofiatoolbar .areacrediti a.button {
		font-size: 0.9em;
		width: 30px;
		height: 38px;
		padding: 4px 2px;
		line-height: 15px;
	}

	.header .sofiatoolbar .areabottoni {
		margin-top: 12px;
	}

	.header .sofiatoolbar .button.logout,
	.header .sofiatoolbar .button.profile {
		margin: 20px 0 0 10px;
	}

	.header .sofiatoolbar .button.logout {
		margin-top: 10px;
	}

	.header .sofiatoolbar.small-toolbar {
		text-align: right;
	}

	label.search-wrap {
		margin: 0 10px;
	}

	.small-newimport .button.nuovo {
		margin-left: 10px;
	}

	.tabs .tab-title > a {
		padding: 1em 18px;
	}

	.tabs .tab-title.active a {

	}

	table.elenco.studenti .button.pei,
	table.elenco.studenti .button.pdp,
	table.elenco.studenti .button.nopath {
		display: block;
		margin-bottom: 5px;
	}

	.operatori .button.nuovo {
		margin-left: 10px;
	}


	ul.dettaglio-studente li div.etichetta {
		width: 100%;
		float: none;
	}

	ul.dettaglio-studente li div.contenuto {
		float: none;
	}

} 
/* max-width 640px, mobile-only styles, use when QAing mobile issues */ 
// Medium screens 
@media only screen and (min-width: 40.063em) {	
} 
@media only screen and (min-width: 40.063em) and (max-width: 790px) { 
	.header .sofiatoolbar .button.profile {
		margin-right: 5px;
		margin-left: 5px;
		font-size: 0.95em;
	}

	.logo-erickson img {
		width: 72px;
		height: auto;
	}

	.logo-sofia img {
		width: 200px;
		height: auto;
	}
	.header .sofiatoolbar .areacrediti a:first-child {
		margin-right: 10px;
	}

	.header .sofiatoolbar .areacrediti {
		
	}

	.header .sofiatoolbar .button.logout {
		margin-right: 0;
		font-size: 0.95em;
	}


	label.search-wrap {
		margin-right: 10px;
	}

	.header .areabottoni {
		margin-left: 0px;
	}


}
/* min-width 641px, medium screens */ 
@media only screen and (min-width: 790px) and (max-width: 64em) {
	.logo-sofia img {
		width: 200px;
		height: auto;
	}

	.logo-erickson img {
		width: 80px	;
	}

	.header .sofiatoolbar .button.logout {
		margin-right: 0;
	}


	label.search-wrap {
		margin-right: 10px;
	}

} 
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */ 
// Large screens 
@media only screen and (min-width: 64.063em) { } 
/* min-width 1025px, large screens */ 
@media only screen and (min-width: 64.063em) and (max-width: 90em) { } 
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */ 
// XLarge screens 
@media only screen and (min-width: 90.063em) { }
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) and (max-width: 120em) { }
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */