@charset "utf-8";

//

@font-face {
	font-family: 'Aileron Light';
	src: url('fonts/aileron-light-webfont.eot');
	src:local('☺'), url('fonts/aileron-light-webfont.eot/aileron-light-webfont.eot?#iefix') format('embedded-opentype'),
		
		url('fonts/aileron-light-webfont.ttf') format('truetype'),
		url('fonts/aileron-light-webfont.svg#aileronlight') format('svg');
		font-weight: normal;
		font-style: normal;
}


@font-face {
	font-family: 'Aileron UltraLight';
	src: url('fonts/aileron-ultralight-webfont.eot');
	src:local('☺'), url('fonts/aileron-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/aileron-ultralight-webfont.woff') format('woff'),
		url('fonts/aileron-ultralight-webfont.ttf') format('truetype'),
		url('fonts/aileron-ultralight-webfont.svg#aileronultralight') format('svg');
		font-weight: normal;
		font-style: normal;
}


@font-face {
	font-family: 'Aileron Thin';
	src: url('fonts/aileron-thin-webfont.eot');
	src:local('☺'), url('fonts/aileron-thin-webfont.eot?#iefix') format('embedded-opentype'),
            url('fonts/aileron-thin-webfont.woff') format('woff'),
            url('fonts/aileron-thin-webfont.ttf') format('truetype'),
            url('fonts/aileron-thin-webfont.svg#aileronthin') format('svg');
        font-weight: normal;
        font-style: normal;
}
body{
	font-family: 'Aileron Thin' !important;
	background:#ffffff;
	font-weight:400;
}

button.accedi, .button.accedi {
    background-color:#D40D13;
}

button.accedi:hover, .button.accedi:hover
{
	background: -moz-linear-gradient(top, #4d4d4d 0%, #121212 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(100%,#121212)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4d4d4d 0%,#121212 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4d4d4d 0%,#121212 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4d4d4d 0%,#121212 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4d4d4d 0%,#121212 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#121212',GradientType=0 ); /* IE6-9 */
	color:#ffffff !important;
}

button.alert:hover, .button.alert:hover
{
	background: -moz-linear-gradient(top, #4d4d4d 0%, #121212 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(100%,#121212)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4d4d4d 0%,#121212 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4d4d4d 0%,#121212 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4d4d4d 0%,#121212 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4d4d4d 0%,#121212 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#121212',GradientType=0 ); /* IE6-9 */
	color:#ffffff !important;
}
.alert{
	background-color:#D40D13;
}
.radius{
	border-radius: 10px !important;
}
.error input, .error textarea, .error select{
	margin-bottom:1rem;
}
.contenitore_preheader {
    background-color: #cd0e16 !important;
}

footer{
background:#757575 !important;
margin-top:1px;
}

.testo-footer {
	color:#ffffff !important;
	font-family: "Open Sans", Sans-Serif !important;
	font-size:13px !important;
	vertical-align: middle !important;
}

.testo-footer img{
	
	margin-right:5px;
	vertical-align: middle !important;
}

.video-container{
	background:#ffffff !important;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1) !important;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1) !important;
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.1) !important;
	border:1px solid #ffffff;
	position: relative;
    padding-bottom: 46.25%;
    padding-top: 30px;
	height: 0; overflow: hidden;
}

form {
	background-color:#ffffff !important;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1) !important;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1) !important;
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.1) !important;
	border:1px solid #ffffff;
	margin-bottom:0.95rem;
}

 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
}

.error small.error {
	background:#d40d14 !important;
	color:#ffffff !important;
	font-size:11px;
	font-family: "Open Sans", Sans-Serif !important;
	text-align:left;
}

.invio-form {
	background-color:#d40d13 !important;
	border-color:#d40d13 !important;
	border-radius:10px !Important;
	font-size:18px;
	font-family: "Open Sans", Sans-Serif !important;

}

.invio-form:hover {
	background: -moz-linear-gradient(top, #4d4d4d 0%, #121212 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(100%,#121212)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4d4d4d 0%,#121212 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4d4d4d 0%,#121212 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4d4d4d 0%,#121212 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4d4d4d 0%,#121212 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#121212',GradientType=0 ); /* IE6-9 */
}

input[type="text"], input[type="password"] {
	box-shadow:inset 0 0px 0px rgba(0,0,0,0.1) !Important;
}

.ico-username {
	background:#d4ecd2;
	display: block;
	position: relative;
	z-index: 2;
	text-align: center;
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;

	border: 1px solid #cccccc;
	overflow: hidden;
	font-size: 0.875rem;
	height: 2.3125rem;
	line-height: 2.3125rem;
}


.testo {
	color:#7b7b7b !Important;
	font-size:17px;
	font-family: "Open Sans", Sans-Serif !important;
	line-height:20px;
	margin-top:5px;
}

	

.testo-verde {
	color:#3ea436;
}




a.recuperapassword:link,a.recuperapassword{
	font-size:13px;
	color:#a1a1a1 !important;
	font-family: "Open Sans", Sans-Serif !important;
	display:block;
}

form a:hover{	
	color:#d40d13 !important;
}


label.error{
	border-left:2px solid #f04124;
	border-top:2px solid #f04124;
	border-bottom:2px solid #f04124;
}
input[data-invalid]{
	border-right:2px solid #f04124;
	border-top:2px solid #f04124;
	border-bottom:2px solid #f04124;
	background:#d4ecd2!important;
}
[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
	background:#d40d13!important;
}

@media only screen and (min-width: 1025px) { 


	button.alert, .button.alert {
	margin-top:30px;
	}

	.distanza-main{

		margin-top:10px;
	}

	input[type="text"], input[type="password"] {
		height:42px !Important;	
	}
	.ico-username {
		height:42px !Important;	
	}

	.video-container {
		width:100%;
		height: 315px;
	}


	.ingradimento-1024 { 
		max-width: 64.000em !important;
	}	
	
	.contenitore_preheader {
		max-height: 15px !important;
	}
	
	.contenitore-loghi-erickson {
		margin-bottom:1px;
	}
	
	.logo{
		margin-top:18px;
	}
	
	.left {
		padding-left:0px !important;
	}

	.fullWidth {
		width: 100% !important;
		margin-left: auto !important;
		margin-right: auto !important;
		max-width: initial !important;
		max-width: 1600px !important;
	}
	
	.testo-footer{ 
		margin-top:18px;
	}
	
	.pattern-righe {
		height: 17px;
		margin-top: 0px;
	}
	
	.video-container iframe,
	.video-container object,
	.video-container embed {

		width: 100% !important;
		height: 315px !important;
	}
	.video-container {

	margin-bottom:0px !important;
	
	}
	.larghezza-form {
		max-width:497px;
	
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
	
	h3.login-form{
		text-align:left;
		font-size:26px;
		color:#252525 !important;
		font-family: 'Aileron Thin' !important;
		background-position:47%;
		margin-top:0px !important;
		padding:10px;
	}
	
	.larghezza-campi-form{
		width:450px;
		padding:0px 12px 0px 12px;
	}
}




@media only screen and (min-width: 641px) {

	button.alert, .button.alert {
	margin-top:30px;
	}

	.larghezza-campi-form{
		padding:0px 12px 0px 12px;	
	}
	
	.distanza-main{
		margin-top:10px;
	}
	
	.logo{
		margin-top:10px;
	}
	

	.testo-footer  {
		margin-top: 18px;
	}
	
	.video-container iframe,
	.video-container object,
	.video-container embed {

		width: 100%;
		height: 100%;
	}
	
	.video-container {
	margin-bottom:0px;
	}
	
	h3.login-form{
		text-align:left;
		font-size:26px;
		color:#252525 !important;
		font-family: 'Aileron Thin' !important;
		background-position:47%;
	}
}


@media only screen and (max-width:1009px){

	.larghezza-campi-form{
	padding:0px 5px 0px 5px;	
	}
	
	.logo{
		margin-top:10px;
	}
	

	.video-container iframe,
	.video-container object,
	.video-container embed {

		width: 100%;
		height: 100%;
	}
	
	.video-container {

	margin-bottom:0px;
	
	}
	
	form {
		margin-top:10px;
		
	}
	.testo-footer {
		margin-top:10px;
	}
}	


input{
    width: 50%;
}