body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    color: #4f4f4f;
    background-color: #e9f5e8;
}
html{
	scroll-behavior: smooth;
}

.has-tip {
    border:0;
    color:#ffffff;
}
b{
    font-weight:500;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    color: #4f4f4f;
}

* {
	outline: none;
}
.padding{
    padding-left: 20px;
    padding-right: 20px;
}
i.success{
	color:#43ac6a;
}
i.alert{
	color:#f04124;
}

/* sovrascrivo i default di foundation */

table tr:nth-child(2n+1) {
	background-color: #eeeeee;
}

.inline-block{
	display: inline-block;
}

table tr:nth-child(2n) {
	background-color: #e8e7e7;
}

table tr th, table tr td {
  font-size: 1rem;
  color: #4f4f4f;
}

table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
  line-height: 1.4rem;
}

table {
	border: none;
	margin-bottom: 0;
}

.tabs dd > a, .tabs .tab-title > a {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #4f4f4f;
}

/* mie classi */

.global-wrapper {
	background-color: #ffffff;
}

.button {
	font-family: 'Dosis', sans-serif;	
	font-weight: 500;
}

.tabs-content .button:hover,
.tabs-content .button.elimina:hover,
.header .sofiatoolbar .areacrediti .button:hover {
	background-color: #4f4f4f;
}

.tabs-content a.button.noMargin {
	margin: 0 10px;
}

.button.noMargin i.fa {
	margin: 0;
}

.content.operatori a.edit i.fa {
	color: #3ea436;
}

.content.operatori a.edit i.fa:hover {
	color: #4f4f4f;
}

.header {
	height: 119px;
}

.header .logo-erickson {
	display: inline-block;
	margin-top: 14px;
	float: right;
}

.header .areabottoni {
	padding-top: 20px;
}

.header .sofiatoolbar .areacrediti {
	text-align: center;
	margin-top: 28px;
}

.header .sofiatoolbar .areacrediti .button {
	padding: 4px;
	width: 45px;
	height: 45px;
	line-height: 18px;
	background-color: #3ea436;
	margin: 0;
	margin-right: 20px;
}

.header .sofiatoolbar .areacrediti .button:last-child {
	margin: 0;
}

.header .sofiatoolbar .areacrediti .scadenza {
	font-size: 14px;
	margin-top: 6px;
}

.header .sofiatoolbar .areacrediti span.red {
	color: red;
}

.header .sofiatoolbar .button.logout,
.header .sofiatoolbar .button.profile {
	padding: 0;
	margin: 0;
	background-color: transparent;
	color: #3ea436;
        //display: block;
        //margin-left: 30px;
	//margin-right: 20px;
	//margin-top: 5px;
}

.header .sofiatoolbar .button.profile {
//	margin-left: 20px;
}

.header .sofiatoolbar .button.logout:hover,
.header .sofiatoolbar .button.profile:hover {
	background-color: transparent;
	color: #4f4f4f;
}

.header-wrapper {
	border-top: 15px solid #3ea436;
	border-bottom: 5px solid #3ea436;
}

.footer-wrapper {
	background-color: #e9f5e8;
	min-height: 200px;
}

.fullwidth-stripe {
	height: 16px;
	background-image: url('../img/stripe.png');
	background-repeat: repeat-x;
}

.fullwidth-stripe.header-margin {
	margin-bottom: 2em;
}

.tabs .tab-title.active {
	border-top: 0.25em solid #3ea436;
}

.tabs .tab-title a {
	background-color: transparent;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 0.75em 0.5em;
}

.tabs .tab-title:first-child a {
	border-left: 1px solid #ddd;
}

.tabs .tab-title.completed a {
	color: #3ea436;
	font-weight:500;
}
.tabs .tab-title.completed {
	color:#3ea436;
}

.tabs .tab-title.active a {
	background-color: #d4ecd2;
}

.tabs-content .button {
	margin: 0;
}
.dialog .button.elimina,
.tabs-content .button.elimina {
	background-color: #d81718;
}

.tabs-content .button.importa {
 	margin-right:0;
}

.tabs-content .button.modifica,
.tabs-content .button.nuovo {
 	margin-right: 12px;
 	margin-top: 4px;
}

.tabs-content .content {
    border: 1px solid #ddd;
    padding: 5px 10px 5px 10px;
}

.tabs-content .content .section-title h3 {
	margin-left:10px;
	padding-bottom: 40px;
}

.tabs-content .content.active {
	border: 1px solid #d4ecd2;
}

.tabs-content .elenco {
	margin-top: 15px;
        width:100%;
}

label.search-wrap {
	position: relative;
}

label.search-wrap span {
	position: absolute;
	top: 10px;
	left: 11px;
}

label.search-wrap .search-box {
	border-radius: 16px;
	height: 32px;
	margin-top: 4px;
	box-shadow: none;
	padding-left: 32px;
}

ul.elenco.studenti {
	list-style: none;
	padding: 0;
	margin: 15px 2px 2px;
}

ul.elenco.studenti li {
	overflow: auto;
	margin-bottom: 2px;
}

ul.elenco.studenti li div.dettagli-scuola {
	float: left;
	padding: 10px;
	min-height: 98px;
	width: 220px;
}

ul.elenco.studenti li div.area-studente {
	float:left;
}

ul.elenco.studenti li div.dettagli-studente {
	float:left;
	padding: 10px;
	line-height: 78px;
	width: 347px;
}

ul.elenco.studenti li div.dettagli-studente div {
	float: left;
}

ul.elenco.studenti li:nth-child(2n) {
	background-color: #e8e7e7;
}

ul.elenco.studenti li:nth-child(2n+1) {
	background-color: #eeeeee;
}

ul.elenco.studenti a.codice-studente {
	color: #4f4f4f;
}

ul.elenco.studenti a.codice-studente:hover {
	color: #3ea436;
}

ul.elenco.studenti span {
	font-weight: 600px;
}

ul.elenco.studenti span.button.pei,
ul.elenco.studenti span.button.pdp {
  background-color: #ffffff;
  border: 1px solid #acacac;
  color: #4f4f4f;
  width: 46px;
  padding: 0px;
  margin: 0px 10px;
}

ul.elenco.studenti a:hover span.button.pei, 
ul.elenco.studenti a:hover span.button.pdp {
  background-color: #3ea436;
  border: 1px solid #3ea436;
  color: #ffffff;
}

ul.elenco.studenti span.button.nopath {
  background-color: transparent;
  color: red;
  margin-left: 1px;
  width: 46px;
  padding: 0px;
}

ul.livello2 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    list-style-type: none;
    margin-bottom: 20px;
}
ul.livello2 li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    list-style-type: none;
}

.crediti table.elenco tr:nth-child(2n+1),
.operatori table.elenco tr:nth-child(2n+1) {
	background-color: #eeeeee;
}

.crediti table.elenco tr:nth-child(2n),
.operatori table.elenco tr:nth-child(2n) {
	background-color: #e8e7e7;
}

.crediti table.elenco thead tr:first-child,
.operatori table.elenco thead tr:first-child {
	background-color: #d4ecd2;
}
.crediti table.elenco thead tr:first-child th,
.operatori table.elenco thead tr:first-child th {
	color: #4f4f4f;
	font-size: 16px;
}

.footer-stripe {
	//margin-top: 120px;
}

.operatori .buttontoolbar {
	text-align: right;
}

.crediti .row .columns p {
	margin-left: 10px;
	margin-right: 10px;
}

.crediti label.codice {
	margin-left: 10px;
}

.crediti .row .columns a.button {
	margin-top: 3px;
}

.crediti .button i.fa {
	margin-left: 3px;
}

.crediti .riepilogo {
	margin-top: 60px;
}

div.areagrigia {
	background-color: #eeeeee;
	border-top: 3px solid #d4ecd2;
	margin-top: 15px;
	padding-top: 15px;
}

div.areagrigia .pianodidattico {
	margin-right: auto;
	margin-left: auto;
	margin-top: 85px;
}

div.areagrigia .pianodidattico a.button {
    width: 100%;
    height: 60px;
    line-height: 33px;
    margin-top: 30px;
}

div.areagrigia .pianodidattico p {
	line-height: 20px;
	text-align: center;
	margin-top: 5px;
}

ul.dettaglio-studente {
	list-style: none;
	margin-left: 10px;
}

ul.dettaglio-studente li {
	overflow: hidden;
	margin-bottom: 10px;
}

ul.dettaglio-studente li div.etichetta {
	font-weight: bold;
	float: left;
	width: 20%;
	min-width: 200px;
}

ul.dettaglio-studente li div.contenuto {
	float: left;
}

.tab-studente .button.modifica {
	margin-left: 10px;
}

.error input.error {
	border: 2px solid #f04124;
}

.tab-nuovo-studente .campiObbligatori {
	margin-top: 30px;
}

.tab-nuovo-studente .campiObbligatori p,
.tab-procedimento-pei .campiObbligatori p {
	font-size: 0.9225rem !important;
}

.tab-nuovo-studente .section-title.margin {
	margin-top: 13px;
}

.tab-nuovo-studente .sezione {
	border-bottom: 3px solid #d4ecd2;
	padding-bottom: 5px;
}

.tab-nuovo-studente .sezione.noborder {
	border-bottom: none;
}

.tab-nuovo-studente .sezione .info {
	padding: 0 10px;
	margin-top: 22px;
}

.tab-nuovo-studente label.bold {
	font-weight: bold;
}

.tab-studente.assegnazione-profilo .pianodidattico .box {
	background-color: #ffffff;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 40px;
}

.tab-studente.assegnazione-profilo .pianodidattico .box .button {
	margin: 0px;
	font-size: 20px;
}

.tab-studente.assegnazione-profilo .pianodidattico .box p {
	text-align: justify;
	margin-bottom: 0px;
}

.tab-studente.assegnazione-profilo .pianodidattico h5 {
	margin-left: 10px;
}

.tab-procedimento-pei .sezione {
    border-top: 3px solid #d4ecd2;
    margin-top: 15px;
    padding-top: 15px;
}

.tab-procedimento-pei .sezione .guida {
	margin: 0 10px;
}

.tab-procedimento-pei .sezione .guida ul {
	list-style: none;
	margin: 0 1em;
}

.tab-procedimento-pei .sezione .guida ul li {
	margin-bottom: 0.5em;
}

.tab-procedimento-pei .sezione .guida ul li > span {
	border-radius: 16px;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	color: white;
	font-weight: bold;
	display: block;
	background-color: #3ea436;
	margin-right: 10px;
	float: left;
}

.tab-procedimento-pei .sezione .guida ul li > div {
	margin-left: 38px;
}

.tab-procedimento-pei .buttonrow {
	text-align: right;
	margin-bottom: 20px;
}

.tab-procedimento-pei .sezione .guida ul li strong,
.tab-procedimento-pei .sezione.finale ul li strong{
	color: #3ea436;
	font-weight: bold;
}

.tab-procedimento-pei .sezione.finale .fine {
	width: 70px;
	margin-right: 10px;
}

.tab-procedimento-pei .sezione.finale .elenco {
	margin-bottom: 40px;
}

.tab-procedimento-pei .button.left {
	margin-left: 15px;
}

.tab-procedimento-pei a.button.nuovo.processo {
	margin: 15px 0 40px 15px;
}

.tab-procedimento-pei table {
	width: 100%;
}

.tab-procedimento-pei .buttonBox {
	margin-top: 40px;
}

.tab-procedimento-pei .orbit-bullets li {
	width: 0.8em;
	height: 0.8em;
}

.tab-procedimento-pei span.customRadio {
	border-radius: 1000px;
	width: 32px;
	height: 32px;
	display: inline-block;
	border: 1px solid #999999;
	position: relative;
}

.tab-procedimento-pei span.customRadio:hover {
	background-color: #ddd;
	cursor: pointer;
}
.tab-procedimento-pei .customCheck {
	width: 32px;
	height: 32px;
	display: inline-block;
	position: relative;
	margin-left:0.5rem;
}

.tab-procedimento-pei .customCheck:hover {
	background-color: #ddd;
	cursor: pointer;
}
.tab-procedimento-pei span.customRadio span {
	border-radius: 1000px;
	width: 14px;
	height: 14px;
	display: block;
	position: absolute;
	top: 8px;
	left: 8px;
}

.tab-procedimento-pei span.customRadio.active span {
	background-color: #3ea436;
}

.tab-procedimento-pei table thead th:first-child {
	background-color: #ffffff;
}

.tab-procedimento-pei table thead th {
	text-align: center;
}

.icycf li {
	padding-left: 10px;
}

.icycf a {
	display: block;
	color: #4f4f4f;
}

.icycf a:hover {
	color: #3ea436;
}

.icycf a.selected {
	color: #3ea436;
	font-weight:600;
}
.icycf a.selected:before {
	content:"? ";
}

.tabs-content .right {
    background-color: #f9f9f9;
    margin-bottom: 30px;
}

.personalizza-pei .percorso {
	background-color: #eeeeee;
}

.personalizza-pei .percorso ul {
	list-style: none;
	padding: 5px 0;
}

.personalizza-pei .percorso ul a {
	color: #4f4f4f;
}

.personalizza-pei .percorso ul a:hover {
	color: #3ea436;
}

.personalizza-pei .percorso ul a.completed {
	color: #3ea436;
}

.programmazione-curriculare .personalizza,
.personalizza-pei .personalizza {
	border-bottom: 1px solid #4f4f4f;
	margin-bottom: 15px;
}

.programmazione-curriculare .personalizza a.modifica i,
.personalizza-pei .personalizza a.modifica i {
	color: #3ea436;
	margin-left: 5px;
}

.row-tab-verticale {
	padding: 0 25px;
}

.row-tab-verticale .tabs.vertical {
	border: 1px solid #dddddd;
}

.row-tab-verticale .tabs.vertical a {
	border-right: none;
}

.row-tab-verticale input[type="checkbox"],
.row-tab-verticale input[type="radio"] {
	margin-bottom: 0;
}

.row-tab-verticale input[type="radio"] + label {
	display: inline-block;
}

.accordion .accordion-navigation > a, .accordion dd > a {
	font-family: 'Dosis', sans-serif;
}

.accordion .accordion-navigation {
	border-bottom: 1px solid #ccc;
}

.accordion .content.active {
	border-bottom: 0;
}

.row-tab-verticale .tabs-content > .content.active .right-toolbar {
	margin-bottom: 10px;
	margin-top: 0;
}

.row-tab-verticale .tabs-content > .content.active {
	padding: 10px;
}

.row-tab-verticale .tabs-content .accordion .accordion-navigation {
	position: relative;
}

.row-tab-verticale .tabs-content .accordion .content.active .infobutton {
	position: absolute;
	top: 14px;
	right: -5px;
}

.infobutton a.button i.fa {
	margin: 0
}

ul.tagit {
	width: 100%;
}

.breadcrumbs {
	margin: 0 12px;
	background-color: transparent;
	border: none;
}
.breadcrumbs > * {
	font-size: 0.7225rem !important;
}

.breadcrumbs > * a {
	color: #3ea436;
}

.centered {
	text-align: center;
}

h5 {
	font-weight: bold;
	font-size: 1.1em;
}

.right-toolbar {
	text-align: right;
	margin-top: 10px;
}

.personalizza-pei .row:nth-child(2) {
	margin-right: 0;
}

.personalizza-pei .right {
	padding-bottom: 15px;
}

.programmazione-curriculare .row {
	margin: 0;
}

.programmazione-curriculare .personalizza {
	padding: 10px 0;
	background-color: #f9f9f9;
}
.programmazione-curriculare h4 {
	margin-top: 2em;
	font-weight:500;
}

.tabs-content .programmazione-curriculare h3.noMargin {
	margin-left: 0;
}

.dialog-aggiunta-processo .right-toolbar {
	margin-top: 0;
}

.dialog-aggiunta-processo .row {
	border-bottom: 1px solid #eee;
	padding: 10px 0;
}

.dialog-aggiunta-processo .row:last-child {
	border-bottom: 0;
}


.tabs-content a.button.area {
	margin-bottom: 40px;
}
.contenutotesto{
	padding:0 0.5rem;
}

@media only screen and (max-width: 639px){
 	table.responsive{
		width:100%;
	}
	table.responsive td {
		padding: 1px;
		display: block !important;
		width:100% !important; 
		text-align:left !important;
	}
	table.responsive td div{
		width:100%;
	}
	table.responsive tr {
		display: block !important;
		margin-bottom:1rem !important;
		border-bottom:2px solid  #3ea436;
	}
	table.responsive thead{ 
		display: none; 
	}
}
.grigio{
  background-color: #f9f9f9;
}
.paddingrightleft{
	padding:0 0.7rem;
}
.progress.warning .meter {
    background: none repeat scroll 0 0 #f08a24;
    display: block;
    height: 100%;
}

.not_compliance{
    padding: 5px 5px 5px 5px;
    
    border: 1px solid #FF0000;
    font-size: 0.9em;
}

.elenco_studenti_classe{
    font-weight: bold;
}

.elenco_studenti_scuola{
    font-size: 0.9em;
}

.contenitore_preheader {
    background-color: #cd0e16;
    height: 15px;
}

.logo {
    margin-top: 10px;
}

.left {
    padding-left: 0px !important;
}

.contenitore-loghi-erickson {
    margin-bottom: 1px;
}

.header-link{
    margin-top:5px;
    color: black;
    display: block;
    
}

.checkbox{
    padding-top: 10px;
}

.radio_list{
    margin-top: 11px;
}

.margin{
    margin: 10px;
}
.margin-right{
    margin-right: 10px;
}

.square{
    width: 12px;
    height: 12px;
    border: 1px solid black;
}
.red{
    background-color: red;
}
.yellow{
	background-color: yellow;
}
.green{
	background-color: green;
}

.somministrazione .right-column{
	background-color: #eeeeee;
	border-top: 3px solid #d4ecd2;
	padding: 0px 0px 0px 0px;
}

.somministrazione-test{
	padding-left: 15px;
	margin-bottom: 25px;
}

.test-files{
	margin-bottom: 10px;
}
.test-file-title{
	padding-bottom: 5px;
}

.somministrazione-status{
	text-align: center;
    padding: 15px;
	margin-bottom: 20px;
	font-weight: bolder;
}
.somministrazione-status.wait{
	background-color: yellow;
}
.somministrazione-status.open{
	background-color: lightgreen;
}
.somministrazione-status.close{
	background-color: gray;
}

.somministrazione-info{
	margin-bottom: 30px;
}
.somministrazione-info .row {
	margin-bottom: 10px;
}

