<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <div>
        <div class="section-title row-100">
            <div class="large-6 medium-4 columns">
                <h3>Gestione Strutture</h3>
            </div>
            <div class="large-4 medium-4 columns">
                <a class="button radius small float_right" href="/admin/user/StructureAdminAction-edit">
                    <i class="fa fa-plus-circle"></i>
                    Nuova
                </a>
            </div>
        </div>

        <mb-table query-name="admin.structure.StructureAdminQuery">
            <template #custom-columns="{ content, visibleColumns }">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    <div v-if="columnId == 'plessi'">
                        <div v-for="(plesso, pk) in content.plessi" :key="pk">
                            {{plesso.name}}
                        </div>
                    </div>
                    <div v-else-if="columnId == 'enabled'">
                        <template v-if="content.enabled == 1">
                            Sì
                        </template>
                        <template v-else>
                            No
                        </template>
                    </div>
                    <div v-else-if="columnId == 'is_scuola_professionale'">
                        <template v-if="content.is_scuola_professionale == 1">
                            Sì
                        </template>
                        <template v-else>
                            No
                        </template>
                    </div>
                    <div v-else-if="columnId == 'is_scuola_paritaria'">
                        <template v-if="content.is_scuola_paritaria == 1">
                            Sì
                        </template>
                        <template v-else>
                            No
                        </template>
                    </div>
                    <div v-else v-html="content[columnId]"></div>
                </td>
                <td>
                    <a class="button tiny secondary radius" :href="'/admin/user/StructureAdminAction-edit?id=' + content.structure_id">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a class="button tiny secondary radius" @click="onClickRemove(content)">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </template>
        </mb-table>

        <MbConfirmTextModal  ref="confirm" confirmWord="rimuovi definitivamente">
            <template #message>
                <p>
                    <strong>Attenzione:</strong> tutti i dati dell'istituto verranno rimossi!
                </p>

                <p>
                    Per confermare l'operazione digitare: "<i>rimuovi definitivamente</i>" nel box sotto.
                </p>
            </template>
        </MbConfirmTextModal>
    </div>
</template>
<script>

import MbConfirmTextModal from "@/components/ui/modal/MbConfirmTextModal"

export default {
    components: {
        MbConfirmTextModal
    },
    methods: {
        onClickRemove(content) {
            this.$refs.confirm.open(() => {
                window.location = "/admin/user/StructureAdminAction-delete?id=" + content.structure_id;  
            })
        }
    }
}
</script>
<style scoped>

</style>