<template>
    <div v-if="internalValue">
        <div class="referent-header">
            <h4 class="">{{internalValue.referenceName}}</h4>
        </div>

        <div class="referent-body">
            <div v-if="typeof internalValue.users === 'undefined' || Object.keys(internalValue.users).length == 0">
                <p>
                    Nessun referente impostato selezionare un nominativo dalla lista.
                </p>
            
                <multiselect
                    placeholder="Aggiungi" 
                    :options="users"
                    track-by="user_id" 
                    label="name"
                    @select="onSelectUser"
                    >
                    <template #option="{option}">
                        {{option.name}} {{option.surname}}
                    </template>
                </multiselect>
            </div>
            <table v-else>
                <thead>
                    <th style="width: 200px;"></th>
                    <th>Tutti i plessi</th>
                    <th v-for="(s, sk) in structures" :key="sk">
                        {{s.name}}
                    </th>
                    <th style="width: 50px !important;"></th>
                </thead>
                <tbody>
                    <tr v-for="(u, uk) in internalValue.users" :key="uk">
                        <td>
                            <a :href="'/structure/UserRefAction-edit?userId=' + u.user_id" target="_blank">
                                {{u.name}}
                                {{u.surname}}
                            </a>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" 
                                :checked="u.structures.length == structures.length"
                                @click="onClickSelectAll(u)">
                        </td>
                        <td v-for="(s, sk) in structures" :key="sk"
                                class="text-center">
                            <input type="checkbox" 
                                v-model="u.structures" 
                                :value="s.structure_id"
                                @change="onStructuresChange(u)"
                                >
                        </td>
                        <td style="width: 50px !important;">
                            <a @click="onClickRemove(uk)">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td v-if="users">
                            <multiselect
                                placeholder="Aggiungi" 
                                :options="visibleUsers"
                                track-by="user_id" 
                                label="name"
                                @select="onSelectUser"
                                >
                                <template #option="{option}">
                                    {{option.name}} {{option.surname}}
                                </template>
                            </multiselect>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>

import axios from "axios"
import multiselect from "vue-multiselect"

export default{
    components: {
        multiselect
    },
    props: {
        value: Object,
        structures: Array,
        users: Array
    },
    data(){
        return {
            internalValue: null
        }
    },
    computed: {
        visibleUsers(){
            function userSelected(u, users){
                if (!users){
                    return false
                }

                for (let userId in users){
                    if (userId == u.user_id){
                        return true
                    }
                }

                return false
            }

            let result = []
            if (!this.users || !Array.isArray(this.users)){
                return result
            }

            for (let u of this.users){
                if (userSelected(u, this.internalValue.users)){
                    continue;
                }

                result.push(u)
            }

            return result
        }
    },
    watch: {
        value(){
            this.internalValue = this.value
        }
    },
    mounted(){
        this.internalValue = this.value
    },
    methods: {
        onStructuresChange(user){
            axios.post('/structure/referent/ReferentAction-postUpdate', {
                user_id: user.user_id,
                ref_value: this.internalValue.referenceValue,
                structures: user.structures
            })
        },
        onClickSelectAll(u){
            if (u.structures.length == this.structures.length){
                u.structures = []
            } else {
                u.structures = []
                for(let s of this.structures){
                    u.structures.push(s.structure_id)
                }
            }

            this.onStructuresChange(u)
        },
        onClickRemove(userId){
            if (confirm("Rimuovere linsegnante dal ruolo?")){
                let user = this.internalValue.users[userId]
                user.structures = []
                this.onStructuresChange(user)

                delete this.internalValue.users[userId]
                this.$forceUpdate()
            }
        },
        onSelectUser(selectedOption){
            if (!this.internalValue["users"]){
                this.$set(this.internalValue, "users", {})
            }

            if (!this.internalValue.users[selectedOption.user_id]){
                let allStructures = []
                for(let s of this.structures){
                    allStructures.push(s.structure_id)
                }

                this.$set(this.internalValue.users, selectedOption.user_id, selectedOption)
                this.$set(this.internalValue.users[selectedOption.user_id], "structures", allStructures)

                this.onStructuresChange(this.internalValue.users[selectedOption.user_id])
            }
        }
    }
}

</script>
<style scoped>
.referent-row{
    padding: 5px;
    margin: 5px;
    width: 100%;
}
.referent-header{
    position: relative;
    margin:10px;
    padding: 10px;
    border-bottom: 1px solid black;
}

.referent-body{
    padding: 10px;
}

table{
    width: 100%;
}

thead th{
    padding: 7px;
    text-align: center;
}

input[type="checkbox"]{
    transform: scale(2);
    margin-top: 12px;
}
</style>