<template>
    <div class="tabs-content user-ref">
        <div class="content operatori active">
            <div class="section-title row-100">
                <div class="large-8 medium-7 columns">
                    <h3>Referenti</h3>
                </div>
                <div class="large-4 medium-3 small-5 columns buttontoolbar">
                    
                </div>
            </div>

            <button class="myTopBtn" v-if="topButtonVisible" @click="onClickTopButton">
                <i class="fas fa-arrow-up"></i>
                Torna su
            </button>

            <div v-if="isLoading">
                <mb-loading></mb-loading>
            </div>
            <div v-else class="table-row row-100">
                <div class="large-3 columns">
                    <a v-for="(r, rk) in sortedReferences" :key="rk" style="display: block; margin-bottom: 10px; "
                        @click="onClickReferentIndex(r.value)">
                        {{r.label}}
                    </a>
                </div>
                <div class="large-9 columns">
                    <div
                        v-for="(row, rk) in internalValue" :key="rk"
                        class="'referent-row" :ref="row.referenceValue">
                        
                        <MbStructureUserRefRole v-model="internalValue[rk]"
                            :structures="structures"
                            :users="users"></MbStructureUserRefRole>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import axios from "axios"
import MbLoading from '@/components/ui/base/MbLoading.vue'
import MbStructureUserRefRole from "./MbStructureUserRefRole"

export default{
	components: { MbLoading, MbStructureUserRefRole },
    props: {
        references: Array,
        structures: Array,
        users: Array
    },
    data(){
        return {
            isLoading: true,
            internalValue: [],
            topButtonVisible: false
        }
    },
    computed: {
        sortedReferences(){
            let out = []
            for(let k in this.references){
                out.push({
                    label: this.references[k],
                    value: k
                })
            }

            return out
        }
    },
    mounted(){
        this.loadData()
        window.onscroll = this.scrollHandler
    },
    methods: {
        scrollHandler(){
            if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
                this.topButtonVisible = true
            } else {
                this.topButtonVisible = false
            }
        },
        loadData(){
            this.isLoading = true
            axios.get('/structure/referent/ReferentAction-getData')
                .then((response) => {
                    this.internalValue = response.data
                    this.isLoading = false
                })
        },
        onClickReferentIndex(key){
            window.scroll(0,  window.$(this.$refs[key]).offset().top)
        },
        onClickTopButton(){
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    }
}

</script>
<style scoped>
.myTopBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: blue; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.myTopBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

</style>