<template>
    <div>
        <mb-table query-name="admin.user.UserQuery">
            <template #custom-columns="{content, visibleColumns}">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    <div v-if="columnId == 'role'">
                        <div v-for="(role, rk) in content[columnId]" :key="rk">
                            {{role}}
                        </div>
                    </div>
                    <div v-else>
                        {{content[columnId]}}
                    </div>
                </td>
                <td>
                    <a :href="'/admin/user/UserAction-edit?user_id=' + content['user_id']"
                        class="button tiny secondary radius">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a :href="'/admin/user/UserAction-access?user_id=' + content['user_id']"
                        class="button tiny secondary radius">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                    <a @click="onClickImpersonificate(content['user_id'])"
                        class="button tiny secondary radius">
                        <i class="fas fa-street-view"></i>
                    </a>
                </td>
            </template>
        </mb-table>
    </div>
</template>
<script>

export default{
    methods: {
        onClickImpersonificate(userId){
            if(!confirm('Impersonificare l\'utente?')){
                return
            }

            window.location = '/admin/user/UserAction-impersonificate?user_id=' + userId;
        }
    }
}

</script>