<template>
    <div>
        <mb-table query-name="admin.user.UserTransferRequestQuery">
            <template #custom-columns="{content, visibleColumns}">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    <div v-if="columnId == 'insert_date'">
                        {{content[columnId] | date-time}}
                    </div>
                    <div v-else-if="columnId == 'status'">
                        {{content[columnId].value}}
                    </div>
                    <div v-else-if="columnId == 'type'">
                        {{content[columnId].value}}
                    </div>
                    <div v-else>
                        {{content[columnId]}}
                    </div>
                </td>
            </template>
        </mb-table>
    </div>
</template>
<script>

</script>