<template>
    <div>
        <mb-table query-name="admin.user.UserAccessQuery"
            :onPostPrepareRequest="onPostPrepareRequest">
            <template #custom-columns="{content, visibleColumns}">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    <div v-if="columnId == 'date'">
                        {{ content[columnId] | formatDate }}
                    </div>
                    <div v-else-if="columnId == 'date_last_access'">
                        {{ content[columnId] | formatDate }}
                    </div>
                    <div v-else>
                        {{content[columnId]}}
                    </div>
                </td>
            </template>
        </mb-table>
    </div>
</template>
<script>

export default{
    props: {
        userId: {
            type: Number,
            required: true
        }
    },
    methods: {
        onPostPrepareRequest(request){
            request.conditions["user_id"] = this.userId
            return request
        }
    }
}

</script>