<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <div>
        <mb-table query-name="admin.user.RoleQuery">
            <template #custom-columns="{content, visibleColumns}">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    {{content[columnId]}}
                </td>
                <td>
                    <a :href="'/admin/user/RoleAction-edit?role_id=' + content.role_id"
                        class="button tiny secondary radius">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a @remove="onClickRemove()"
                        class="button tiny secondary radius">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </template>
        </mb-table>
    </div>
</template>
<script>
export default{
    methods: {
        onClickRemove(content){
            if (!confirm("Si desidere rimuovere il ruolo?")){
                return;
            }
            window.location = '/admin/user/RoleAction-remove?role_id=' + content.role_id;
        }
    }
}
</script>