<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <div>
        <mb-table query-name="admin.user.UserIcQuery">
            <template #additional-columns="{content}">
                <td>
                    <a v-if="canUserAccessUrl('/admin/user/UserAction-impersonificate')" 
                        @click="onClickImpersonificate(content['user_id'])"
                        class="button tiny secondary radius">
                        <i class="fas fa-street-view"></i>
                    </a>
                </td>
            </template>
        </mb-table>
    </div>
</template>
<script>
import MbTable from "@/components/ui/table/MbTable.vue";
import UserServiceMixin from "@/service/UserServiceMixin";

export default{
    mixins: [
        UserServiceMixin
    ],
    components: {
        "mb-table": MbTable
    },
    methods: {
        onClickImpersonificate(userId){
            if(!confirm('Impersonificare l\'utente?')){
                return
            }

            window.location = '/admin/user/UserAction-impersonificate?user_id=' + userId;
        }
    }
}
</script>