<template>
    <div>
        <MbLoading v-if="isLoading"></MbLoading>
        <div v-else>
            <div class="section">
                <h3>Aziende</h3>
                <p>
                    Inserire le aziende nelle quali si svolge l'attività di tirocinio durante l'anno.
                </p>
            </div>

            <div class="pdt_box" v-for="(azienda, ak) in internalValue.aziende" :key="ak">
                <div style="margin-left: 10px; margin-bottom: 10px; display: flex;">
                    <h3 style="flex: 1;">Azienda {{ak + 1}}</h3>
                    
                    <a @click="onClickRemove(ak)" class="ms-5 button radius alert remove">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>

                <MbPeiTirocinioAziendaForm v-model="internalValue.aziende[ak]"></MbPeiTirocinioAziendaForm>
            </div>

            <div style="margin: 10px; text-align: center; display: flex;">
                <a @click="onClickAdd()" class="button radius salva" style="flex: 1;">
                    <i class="fas fa-plus"></i>
                    Aggiungi azienda
                </a>
            </div>

            <MbFormSubmit
                @onClickCancell="onClickCancell"
                @onClickSubmit="onClickSubmit"
                >
            </MbFormSubmit>
        </div>

        <MbConfirm ref="confirm"></MbConfirm>
        <MbAlert ref="alert"></MbAlert>
    </div>
</template>
<script>

import MbLoading from '../../ui/base/MbLoading'
import MbFormSubmit from '@/components/ui/form/MbFormSubmit'
import MbAlert from "../../ui/modal/MbAlert"
import MbConfirm from "@/components/ui/modal/MbConfirm"
import MbPeiTirocinioAziendaForm from "./MbPeiTirocinioAziendaForm"
import axios from "axios"

export default {
    components: {
        MbLoading,
        MbFormSubmit,
        MbAlert,
        MbPeiTirocinioAziendaForm,
        MbConfirm
    },
    props: {
        data: Object,
        documentId: Number
    },
    data() {
        return {
            isLoading: false,
            internalValue: []
        }
    },
    mounted() {
        this.internalValue = this.data
    },
    methods: {
        onClickAdd() {
            this.internalValue.aziende.push({})
        },
        onClickRemove(i) {
            this.$refs.confirm.show('Rimuovere i dati dell\'azienda?', () => {
                this.internalValue.aziende.splice(i, 1)
            })
        },
        onClickCancell() { 
            window.location = "/structure/UserAction?documentId=" + this.documentId
        },
        onClickSubmit() {
            this.isLoading = true

            axios.post("/structure/pei_tirocinio/AziendaAction-submit?documentId=" + this.documentId, this.internalValue)
                .then(() => {
                    this.onClickCancell()
                })
                .catch((error) => {
                    this.$refs.alert.show("Attenzione", error)
                })
        }
    }
}

</script>
<style scoped>
input{
    display: inline-block;
    width: 300px;
}
.input_number{
    width: 60px;
    display: inline-block;
}

.pdt_box{
    border-left: 1px solid grey;
    margin: 10px 10px 48px;
}
</style>