<template>
    <div>
        <MbLoading v-if="isLoading"></MbLoading>
        <div v-else>
            <div class="section">
                <h3>Proposta di progetto</h3>
                <p>
                    Vengono sviluppate le seguenti ipotesi:
                </p>
                <ul>
                    <li>
                        Continuazione del percorso formativo in continuità con il calendario predisposto per 
                        <input type="number" class="input_number" v-model="internalValue.p1_1" min="0" max="100"/> 
                        giornate alla settimana presso il corso <input type="text" v-model="internalValue.p1_2" maxlength="200"/> Tale frequenza ha lo scopo di sviluppare
                        <input type="text" v-model="internalValue.p1_3" maxlength="200"/>
                    </li>
                    <li>
                        Secondo quanto concordato, e ritenendo utile lo sviluppo di un percorso di orientamento lavorativo, la frequenza di
                        uno stage aziendale per 
                        <input type="number" class="input_number" v-model="internalValue.p2_1" min="0" max="100"/> giorni alla settimana, per un totale settimanale di 
                        <input type="number" class="input_number" v-model="internalValue.p2_2" min="0" max="100"/> ore
                    </li>
                </ul>
            </div>

            <div class="section">
                <h3>Obiettivi e modalità di svolgimento dello stage</h3>

                <p>
                    L’allievo/a sarà affiancato/a dal tutor di progetto prof/essa <input type="text" v-model="internalValue.p3_1" maxlength="200" />;
                    Tale affiancamento ha lo scopo primario di favorire l’inserimento dell’alunno/a in un ambiente “nuovo”, quello
                    lavorativo, in modo da facilitargli/le l’esperienza e l’approccio con i colleghi con i quali si troverà a lavorare. Il
                    tutor avrà inoltre il compito di sovrintenderne al buon funzionamento dello stesso verificando e controllando che ogni
                    variabile metodologica ed organizzativa sia allineata con le finalità del corso; predisporrà inoltre il materiale per
                    l’osservazione e la valutazione dell’esperienza lavorativa.
                </p>

                <p>
                    L’inserimento lavorativo dell’alunno/a nella struttura, oltre ad avere come finalità quella di sviluppare competenze ed
                    abilità socio-cognitive, ovvero arricchire il suo bagaglio di esperienze personali e formative in funzione di un futuro
                    collocamento in azienda, si prefigge lo scopo di incentivare anche quelle abilità complementari al lavoro quali il
                    comportamento adeguato alle diverse circostanze, l’autonomia personale e di esecuzione delle mansioni, l’orientamento
                    spazio-temporale, le relazioni interpersonali.
                </p>
            </div>

            <div class="section">
                <h3>Contesto</h3>

                <textarea v-model="internalValue.contesto" rows="5"></textarea>
            </div>

            <div class="section">
                <h3>Interessi particolari e capacità specifiche</h3>
            
                <textarea v-model="internalValue.interessi" rows="5"></textarea>
            </div>

            <div class="section">
                <h3>Altri interventi specifici</h3>
                <p>(accompagnamento terapia, cooperazione con…,progetti, laboratori)</p>
            
                <textarea v-model="internalValue.interventi_specifici" rows="5"></textarea>
            </div>

            <div class="row-100 campiObbligatori">
                <div class="large-3 medium-3 columns">
                </div>
                <div class="large-5 medium-5 end columns">
                    <a @click="onClickSubmit()" class="button radius salva"><i
                            class="far fa-save margin-right"></i>Salva</a>
                    <a @click="onClickCancell()" class="button radius alert ms-2"><i
                            class="fa fa-undo margin-right"></i>Annulla</a>
                </div>
            </div>
        </div>

        <MbAlert ref="alert"></MbAlert>
    </div>
</template>
<script>

import MbLoading from '../../ui/base/MbLoading'
import MbAlert from "../../ui/modal/MbAlert"
import axios from "axios"

export default {
    components: {
        MbLoading,
        MbAlert
    },
    props: {
        data: Object
    },
    data() {
        return {
            isLoading: false,
            internalValue: {}
        }
    },
    mounted() {
        this.internalValue = this.data
        this.$nextTick(() => {
            window.pushDown()
            window.updateSubmitPosition()
        })
    },
    methods: {
        onClickCancell() { 
            window.location = "/structure/UserAction?documentId=" + this.documentId
        },
        onClickSubmit() {
            this.isLoading = true

            axios.post("/structure/pei_tirocinio/PropostaProgettoAction-submit?documentId=" + this.documentId, this.internalValue)
                .then(() => {
                    this.onClickCancell()
                })
                .catch((error) => {
                    this.$refs.alert.show("Attenzione", error)
                })
        }
    }
}

</script>
<style scoped>
input{
    display: inline-block;
    width: 300px;
}
.input_number{
    width: 60px;
    display: inline-block;
}
.section{
    margin-bottom: 80px;
    padding: 5px 0px 0px 15px;
}
</style>