<template>
    <div>
        <div class="row-100 form-row ">
            <div class="large-3 medium-3 columns">
                <label class="inline codice  bold">Sede di stage:</label>
            </div>
            <div class="large-9 medium-9 columns">
                <input v-model="internalValue.sede" type="text" maxlength="255" />
            </div>
        </div>

        <div class="row-100 form-row ">
            <div class="large-3 medium-3 columns">
                <label class="inline codice  bold">Città:</label>
            </div>
            <div class="large-9 medium-9 columns">
                <input v-model="internalValue.citta" type="text" maxlength="100" />
            </div>
        </div>

        <div class="row-100 form-row ">
            <div class="large-3 medium-3 columns">
                <label class="inline codice  bold">Telefono:</label>
            </div>
            <div class="large-9 medium-9 columns">
                <input v-model="internalValue.telefono" type="text" maxlength="40" />
            </div>
        </div>

        <div class="row-100 form-row ">
            <div class="large-3 medium-3 columns">
                <label class="inline codice  bold">Durata dello stage:</label>
            </div>
            <div class="large-9 medium-9 columns">
                <input v-model="internalValue.dateFrom" type="date" maxlength="40" />
                <input v-model="internalValue.dateTo" type="date" maxlength="40" />
            </div>
        </div>

        <div class="row-100 form-row ">
            <div class="large-3 medium-3 columns">
                <label class="inline codice  bold">Giornate di stage:</label>
            </div>
            <div class="large-9 medium-9 columns">
                <input v-model="internalValue.giornate" type="number" maxlength="3" max="100" />
            </div>
        </div>

        <div class="row-100 form-row ">
            <div class="large-3 medium-3 columns">
                <label class="inline codice  bold">Tutor aziendale:</label>
            </div>
            <div class="large-9 medium-9 columns">
                <input v-model="internalValue.tutorAziendale" type="text" maxlength="100" />
            </div>
        </div>

        <div class="row-100 form-row ">
            <div class="large-3 medium-3 columns">
                <label class="inline codice  bold">Funzione aziendale:</label>
            </div>
            <div class="large-9 medium-9 columns">
                <input v-model="internalValue.funzioneAziendale" type="text" maxlength="100" />
            </div>
        </div>

        <div class="row-100 form-row ">
            <div class="large-3 medium-3 columns">
                <label class="inline codice  bold">Mansioni di tirocinio:</label>
            </div>
            <div class="large-9 medium-9 columns">
                <textarea v-model="internalValue.mansioni"></textarea>
            </div>
        </div>
    </div>
</template>
<script>

export default {
    props: {
        value: Object
    },
    computed: {
        internalValue: {
            get() {
                return this.value
            },
            set(value) {
                this.$emit("update", value)
            }
        }
    },
    mounted() {
        this.$nextTick(() => {
            window.pushDown()
            window.updateSubmitPosition()
        })
    }
}

</script>