<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
	<div v-if="values">
		<multiselect v-model="selectedValue" 
			:options="values" placeholder="Selezionare un valore" 
			label="text" track-by="value"
			:allow-empty="allowEmpty">
		</multiselect>
		<input :id="inputName" :name="inputName" v-model="outValue" type="hidden" />
	</div>
</template>

<script>
import Multiselect from 'vue-multiselect'
import { setTimeout } from 'timers';

export default {
	components: {
		Multiselect
	},
	props: {
		inputName: {
			type: String
		},
		value: {
			type: [String, Number, Object]
		},
		values:{
		},
		allowEmpty: {
			type: Boolean,
			default: true
		}
	},
	data() {
		return {
			selectedValue: null
		};
	},
	computed: {
		outValue(){
			if (this.selectedValue){
				if (this.selectedValue.value){
					return this.selectedValue.value;
				}
			}
			this.selectedValue = null;
			return null;
		}
	},
	watch:{
		value(){
			this.updateSelectedValue();
		},
		selectedValue(newValue){
			if (newValue){
				this.$emit('input', newValue.value);
			} else {
				this.$emit('input', null);
			}
		},
		outValue(){
			setTimeout(() => {
				this.emitChange();
			}, 10);
		},
		values(){
			if (!this.values){
				return;
			}

			this.updateSelectedValue();
		}
	},
	mounted(){
		this.updateSelectedValue();
	},
	methods:{
		updateSelectedValue(){
			if (!this.value || this.value == null){
				return;
			}
			this.values.forEach(element => {
				if (element.value == this.value){
					this.selectedValue = element;
				}
			});
		},
		emitChange(){
			let el = document.getElementById(this.inputName);
			if (el == null){
				return;
			}

			if ("createEvent" in document) {
				var evt = document.createEvent("HTMLEvents");
				evt.initEvent("change", false, true);
				el.dispatchEvent(evt);
			} else {
				el.fireEvent("onchange");
			}
		}
	}
};
</script>

