<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
	<div class="query-api">
		<div v-if="isPreparingExcel" style="text-align: center;">
			<div class="loadme-circular">
				<img src="/img/loading.gif" width="50">
			</div>
			<h5>Generazione file excel</h5>
			<h5>Attendere...</h5>
			<h6>Se la richiesta comprende molti dati potrebbero essere necessari svariati minuti.</h6>
		</div>
		<div v-else>
			<form
				class="query-form card"
				v-if="displayTools && queryDescriptor != null && queryDescriptor.conditions"
				@submit.prevent
			>
				<div class="card-body">
					<div class="form-group row row-100">
						<div 
							v-for="(filter, filterName) in visibleFilters" :key="filterName"
							class="filter columns small-12 medium-6 large-4">
							<label class="col-xs-4 col-sm-2 col-xl-1 col-form-label columns small-12 medium-6 large-4">
								{{filter.label != null ? filter.label : filterName}}:
							</label>
							<div class="xol-xs-8 col-sm-4 col-xl-3 columns medium-8">
								<div v-if="filter.type == 'List<String>'">
									<span v-for="(value, key) in filter.allowedValues" :key="key">
										<input v-model="form[filterName]" :value="key" type="checkbox"> {{value}}
									</span>
								</div>		
								<div v-else-if="filter.values">
									<multiselect 
										v-model="form[filterName]" 
										:options="filter.values" 
										placeholder="Selezionare un valore" 
										label="text" track-by="value"
										:allow-empty="filter.addEmptyValue">
									</multiselect>
								</div>
								<input
									v-else-if="filter.type == 'date'"
									v-bind:data-field-name="filterName"
									class="form-control datapickerelement"
									type="text"
									v-model="form[filterName]"
									v-datepicker
								>
								<input v-else v-model="form[filterName]" class="form-control" type="text">
							</div>
							<div class="note">{{filter.note}}</div>
						</div>
					</div>

					<div v-if="!loading" class="form-group text-right">
						<div class="row row-100" style="margin-top: 10px;">
							<div class="col-12" style="text-align: center;" v-if="Object.keys(visibleFilters).length > 0">
								<button @click="doSearch" class="button btn-success ">
									<i class="fas fa-search"></i> Cerca
								</button>
								<button @click="doClearFilters" class="button btn-secondary ml-5">
									Rimuovi filtri
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>

			<transition name="fade">
				<div
					class="table-right-panel"
					v-show="form.displaySettings"
					v-closable="{
							exclude: ['button-columns'],
							handler: 'onSettingsHide'
						}"
				>
					<div v-show="form.displaySettings" class="request-fields card">
						<div class="card-body">
							<div class="margin" style="margin: 30px 0px 20px 0px;">
								<h5>Auto reload</h5>
								<div v-if="displayPageSizeSelector">
									Reload automatico dei dati:
									<mb-select-2 
										v-model="form.autoReload" 
										:values="autoReloadValues" 
										:addEmptyValue="false"></mb-select-2>
								</div>
							</div>

							<div class="margin" style="margin: 30px 0px 20px 0px;">
								<h5>Impostazioni</h5>
								<div v-if="displayPageSizeSelector">
									Risultati per pagina:
									<mb-select-2 
										v-model="form.rowPerPage" 
										:values="pageSizeSelectorValues" 
										:addEmptyValue="false"></mb-select-2>
									</select>
								</div>
							</div>

							<h5>Colonne visualizzate</h5>
							<div v-for="(column, columnName) in columns" :key="columnName" class="form-group">
								<label>
									<input v-model="requestColumns" v-bind:value="columnName" :disabled="column.Role == 0" type="checkbox">
									{{column.label}}
								</label>
							</div>
							<div class="form-group text-right">
								<button v-on:click="doSearch" class="btn btn-primary">
									<i class="fas fa-sync-alt"></i>
									Aggiorna
								</button>
							</div>
						</div>
					</div>
				</div>
			</transition>

			<transition name="fade">
				<div class="table-right-panel"
					v-show="form.displayExportExcel"
					v-closable="{
							exclude: ['button-export'],
							handler: 'onExcelExportHide'
						}">
					<div v-show="form.displayExportExcel" class="request-fields card">
						<div class="card-body">
							<div class="margin">
								<div>
									<h5>Esporta Excel</h5>
								</div>
								<div>
									<div class="scroll-container">
										<div class="form-group" style="border-bottom: 1px solid gray;">
											<label>
												<input v-model="areAllExcelColumnSelected" type="checkbox"> Seleziona tutto
											</label>
										</div>
										<div v-for="(column, columnName) in excelColumns" :key="columnName" class="form-group">
											<label v-if="column.displayAsTableColumn">
												<input v-model="requestExcelColumns" v-bind:value="columnName" type="checkbox">
												{{column.label}}
											</label>
										</div>
									</div>
									<div class="form-group text-right">
										<button v-on:click="doExcelExport" class="btn btn-primary">
											<i class="fas fa-download"></i>
											Scarica
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</transition>

			<div v-if="hasErrors">
				<h6>Attenzione</h6>
				<ul>
					<li v-for="(error, index) in errors" :key="index">{{error}}</li>
				</ul>
			</div>
			<div v-else-if="loading" style="text-align: center; margin-top: 5px;">
				<div class="loadme-circular">
					<img src="/img/loading.gif" width="50">
				</div>
			</div>
			<div v-else>
				<div v-if="paginatorType == 'PAGINATOR'" class="row row-100">
					<div class="inline-block">
						<ul class="pager pagination">
							<li class="page-item" v-if="paginator.hasPreview" v-on:click="openPage(form.pageNum - 1)">
								<span class="page-link">«</span>
							</li>
							<li
							class="page-item"
							v-for="page in paginator.pages" :key="page"
							:class="{'on active': page == form.pageNum}"
							@click="onClickPage(page)"
							>
								<span class="page-link">{{page + 1}}</span>
							</li>
							<li class="page-item" v-if="paginator.hasNext" v-on:click="openPage(form.pageNum + 1)">
								<span class="page-link">»</span>
							</li>
						</ul>
					</div>

					<div v-if="paginator.totalPages > 1" class="inline-block page-input">
						<label>Vai a:</label>
						<div class="inline-block">
							<input type="text" maxlength="6" placeholder="Pagina" :value="form.pageNum + 1" @change="onClickPage($event.target.value - 1)" class="form-control" />
						</div>
					</div>

					<div class="inline-block" style="margin-left: 10px;">
						<span v-if="paginatorType == 'PAGINATOR'">
							Pagine: {{paginator.totalPages}}, Risultati: <strong>{{paginator.totalResults}}</strong>
						</span>
					</div>

					<div v-if="displayTools" class="table-tools inline-block">
						<a
							v-if="queryDescriptor && queryDescriptor.enableOptions"
							ref="button-columns"
							:class="{'ms-5 button button-info hollow tiny':true, 'active': form.displaySettings}"
							@click.prevent="onToggleSettings"
							data-toggle="button"
							aria-pressed="false"
							autocomplete="off"
						>
							<i class="fas fa-cogs"></i>
						</a>
						<a
							v-if="queryDescriptor && queryDescriptor.excelExportEnabled"
							ref="button-export"
							:class="{'ms-5 button button-info hollow tiny':true, 'active': form.displayExportExcel}"
							@click.prevent="onToggleExcelExport"
							data-toggle="button"
							aria-pressed="false"
							autocomplete="off"
						>
							<i class="fas fa-file-excel"></i>
						</a>
					</div>
				</div>

				<slot name="custom-content" :contents="contents">
					<div class="table-container">
						<table class="table displaytable table-striped table-sm table-hover">
							<thead>
								<tr>
									<th v-for="(column, columnId) in visibleColumns" :key="columnId" scope="col" class="stiky-head"
										:style="theadStyle[columnId]">
										<a v-if="column.enableSorting" v-on:click="updateOrders(columnId)" class="sortable">
											{{column.label}}
											<span v-if="form.orders[columnId]">
												<i v-if="form.orders[columnId] == 'ASC'" class="fas fa-sort-alpha-up"></i>
												<i v-else-if="form.orders[columnId] == 'DESC'" class="fas fa-sort-alpha-down"></i>
												{{getOrderIndex(columnId)}}
											</span>
											<i v-else class="fa fa-sort"></i>
										</a>
										<span v-else>{{column.label}}</span>
									</th>
									<slot name="additional-headers"></slot>
								</tr>
							</thead>
							<tbody>
								<slot name="custom-table-body" :contents="contents" :visibleColumns="visibleColumns">
									<tr v-for="(content, index) in contents" :key="index">
										<slot name="custom-columns" :content="content" :visibleColumns="visibleColumns">
											<td v-for="(column, columnId) in visibleColumns" :key="columnId" v-html="content[columnId]"></td>
										</slot>
										<slot name="additional-columns" :content="content"></slot>
									</tr>
								</slot>
							</tbody>
						</table>
					</div>
				</slot>

				<div v-if="paginatorType == 'PAGINATOR'" class="row row-100">
					<div class="inline-block">
						<ul class="pager pagination">
							<li class="page-item" v-if="paginator.hasPreview" v-on:click="openPage(form.pageNum - 1)">
								<span class="page-link">«</span>
							</li>
							<li
							class="page-item"
							v-for="page in paginator.pages" :key="page"
							:class="{'on active': page == form.pageNum}"
							@click="onClickPage(page)"
							>
								<span class="page-link">{{page + 1}}</span>
							</li>
							<li class="page-item" v-if="paginator.hasNext" v-on:click="openPage(form.pageNum + 1)">
								<span class="page-link">»</span>
							</li>
						</ul>
					</div>

					<div v-if="paginator.totalPages > 1" class="inline-block page-input">
						<label>Vai a:</label>
						<div class="inline-block">
							<input type="text" maxlength="6" placeholder="Pagina" :value="form.pageNum + 1" @change="onClickPage($event.target.value - 1)" class="form-control" />
						</div>
					</div>

					<div class="inline-block" style="margin-left: 10px;">
						<span
						v-if="paginatorType == 'PAGINATOR'">
							Pagine: {{paginator.totalPages}}, Risultati: <strong>{{paginator.totalResults}}</strong>
						</span>
					</div>
				</div>

				<div v-if="paginatorType == 'MORE_RESULTS' && hasMoreResults" class="more-results">
					<a @click="openPage(form.pageNum + 1)">Show more</a>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import axios from "axios";
	import QueryUtils from "@/utils/QueryUtils.js";
	import Closable from "../directive/Closable.js";
	import Datepicker from "../directive/Datepicker";
	import Multiselect from 'vue-multiselect'
	import MbSelect2 from './MbInputSelect2.vue'
	import StoreService from "@/service/LocalStoreService";
	
    let URL_DESCRIPTOR = "/public/api/query/QueryAction-descriptor";
    let URL_FIND = "/public/api/query/QueryAction-find";
    let URL_EXPORT = "/public/api/query/QueryAction-export";

	export default {
		components:{
			Multiselect, MbSelect2
		},
		directives: {
			closable: Closable,
			datepicker: Datepicker
		},
		props: {
			autoload: {
				type: Boolean,
				default: true
			},
			paginatorType: {
				type: String,
				default: 'PAGINATOR'
			},
			queryName: {
				type: String,
				required: true
			},
			queryNameDataStore: {
				type: String,
				required: false,
				default(){
					return this.queryName;
				}
			},
			displayTools: {
				type: Boolean,
				default: true
			},
			displayPageSizeSelector: {
				type: Boolean,
				default: true
			},
			onPostPrepareRequest: {
				type: Function
			},
			theadStyle: {
				type: Object,
				default(){
					return {}
				}
			},
		},
		data() {
			return {
				autoreloadInterval: null,
				loading: false,
				isPreparingExcel: false,
				hasErrors: false,
				errors: [],
				queryDescriptor: null,
				columns: null,
				requestColumns: [],
				excelColumns: null,
				requestExcelColumns: [],
				areAllExcelColumnSelected: false,
				form: {
					displaySettings: false,
					displayExportExcel: false,
					pageNum: 0,
					rowPerPage: 20,
					autoReload: 0,
					orders: {}
				},
				queryRequest: {
					queryName: "",
					firstResult: 0,
					numResults: 0,
					conditions: {},
					orders: {},
					fields: null,
					excelFields: null
				},
				contents: [],
				paginator: {
					showPreview: false,
					showNext: false,
					pages: [],
					totalPagess: 0,
					totalResults: 0,
					hasMoreResults: false
				},
				pageSizeSelectorValues: [
					{ value: 10, text: 10 },
					{ value: 20, text: 20 },
					{ value: 50, text: 50 },
					{ value: 100, text: 100 }
				],
				autoReloadValues: [
					{ value: 0, text: "Disabilitato" },
					{ value: 30, text: "30 sec" },
					{ value: 60, text: "1 min" },
					{ value: 300, text: "5 min" },
					{ value: 600, text: "10 min" }
				]
			};
		},
		computed: {
			visibleColumns() {
				var vcol = {};
				for (var k in this.columns) {
					if (
						!this.requestColumns ||
						this.requestColumns.indexOf(k) != -1
					) {
						vcol[k] = this.columns[k];
					}
				}
				return vcol;
			},
			visibleFilters() {
				var filters = {};
				for (var f in this.queryDescriptor.conditions) {
					if (this.queryDescriptor.conditions[f].displayAsTableFilter) {
						filters[f] = this.queryDescriptor.conditions[f];
					}
				}
				return filters;
			},
			hasCustomContentSlot() {
				return true;
			}
		},
		beforeMount: function() {
			this.load();
		},
		watch: {
			"form.rowPerPage" (newVal, oldVal){
				this.openPage(0);
			},
			"form.autoReload" (newVal, oldVal){
				this.openPage(0);
			},
			"form.Origine" (newVal, oldVal){
				console.log(newVal);
			},
			requestExcelColumns: function(newValue) {
				if (newValue.length < Object.keys(this.excelColumns).length) {
					this.areAllExcelColumnSelected = false;
				} else {
					this.areAllExcelColumnSelected = true;
				}
			},
			areAllExcelColumnSelected: function(newValue) {
				if (newValue) {
					for (var k in this.excelColumns) {
						if (this.requestExcelColumns.indexOf(k) == -1) {
							this.requestExcelColumns.push(k);
						}
					}
					this.$forceUpdate();
				}
			}
		},
		mounted: function() {
			var _this = this;
			window.addEventListener("keyup", function(event) {
				if (event.keyCode == 27) {
					_this.closeAllPanels();
				}
			});
		},
		updated: function() {},
		methods: {
			closeAllPanels() {
				this.form.displaySettings = false;
				this.form.displayExportExcel = false;
				this.storeStatus();
			},
			doClearFilters(){
				if (this.queryDescriptor){
					for (var key in this.queryDescriptor.conditions) {
						if (this.form[key] == "") {
							continue;
						}

						this.form[key] = null
					}
				}
				this.openPage(0)
			},
			load: function() {
				var _this = this;
				_this.loading = true;

				axios
					.post(URL_DESCRIPTOR, {
						queryName: this.queryName
					})
					.then(data => {
						this.queryDescriptor = data.data
						if (this.queryDescriptor == null) {
							this.hasErrors = true
							this.errors = "Descrittore non trovato"
							this.loading = false
							return
						}

						var localQueryVersion = StoreService.storeGet(this.queryNameDataStore + ":version")
						if (this.queryDescriptor.version != localQueryVersion) {
							this.cleanStore()
							StoreService.storePut(this.queryNameDataStore + ":version", this.queryDescriptor.version)
						}

						if (this.queryDescriptor.conditions) {
							for (let filterName in _this.queryDescriptor.conditions) {
								let filter = this.queryDescriptor.conditions[filterName];
								if (filter.type == "List<String>") {
									this.form[filterName] = []
								}

								if (filter.allowedValues){
									var values = []

									if (filter.addEmptyValue){
										values.push({
											value: "",
											text: ""
										})
									}

									for (var k in filter.allowedValues){
										if (filter.allowedValues[k] instanceof Object){
											values.push(filter.allowedValues[k])
										} else {
											values.push({
												value: k,
												text: filter.allowedValues[k]
											});
										}
									}

									filter.values = values
								}

								if (filter.allowedValuesList){
									let values = []
									for (var k in filter.allowedValuesList){
										if (filter.allowedValuesList[k].key){
											values.push({
												value: filter.allowedValuesList[k].Key,
												text: filter.allowedValuesList[k].Value
											})
										} else {
											values.push(filter.allowedValuesList[k])
										}
									}
									filter.values = values
								}

								if (filter.defaultValue) {
									this.form[filterName] = filter.defaultValue
								}
							}
						}

						this.buildColumnsFromDescriptor()
						this.buildExcelColumnsFromDescriptor()

						var form = StoreService.storeGet(this.queryNameDataStore + ":form")
						if (form != null) {
							this.form = form
						}

						if (this.queryDescriptor.conditions) {
							for (let filterName in this.queryDescriptor
								.conditions) {
								if (
									QueryUtils.getQueryStringParByName(filterName)
								) {
									this.form[
										filterName
									] = QueryUtils.getQueryStringParByName(
										filterName
									)
								}
							}
						}

						this.updateResults()
					});
			},
			prepareRequest: function() {
				var request = this.queryRequest;
				request.firstResult = this.form.pageNum * this.form.rowPerPage;
				request.numResults = this.form.rowPerPage;
				request.orders = this.form.orders;
				request.queryName = this.queryName;
				request.paginator = this.paginatorType;
				request.conditions = {};

				if (this.queryDescriptor){
					for (var key in this.queryDescriptor.conditions) {
						if (this.form[key] == "") {
							continue;
						}

						var value = this.form[key];

						if (
							this.queryDescriptor &&
							this.queryDescriptor.conditions[key]
						) {
							var filter = this.queryDescriptor.conditions[key];
							if (filter.type == "Date") {
								var date = new Date(Date.parse(value));
								value = date.toJSON();
							} else if (filter.allowedValues){
								if (value instanceof Object){
									value = value.value;
								}
							} else if (filter.allowedValuesList){
								if (value instanceof Object){
									value = value.value;
								}
							}
						}

						if (!value){
							continue;
						}
						
						request.conditions[key] = value;
					}
				}

				request.fields = null;
				if (this.requestColumns && this.requestColumns.length > 0) {
					request.fields = [];
					for (var k in this.requestColumns) {
						request.fields.push(this.requestColumns[k]);
					}

					StoreService.storePut(this.queryNameDataStore + ":requestColumns", request.fields);
				}

				request.excelFields = null;
				if (
					this.requestExcelColumns &&
					this.requestExcelColumns.length > 0
				) {
					request.excelFields = [];
					for (let k in this.requestExcelColumns) {
						request.excelFields.push(this.requestExcelColumns[k]);
					}
					
					StoreService.storePut(this.queryNameDataStore + ":requestExcelColumns", request.excelFields)
				}

				if (this.onPostPrepareRequest) {
					request = this.onPostPrepareRequest(request);
				}

				return request;
			},
			updateAutoreload: function() {
				var _this = this;

				clearInterval(this.autoreloadInterval);

				if (this.form.autoReload && this.form.autoReload != 0) {
					this.autoreloadInterval = setInterval(function() {
						_this.updateResults(true);
					}, this.form.autoReload * 1000);
				}
			},
			storeStatus: function() {
				StoreService.storePut(this.queryNameDataStore + ":form", this.form)
			},
			cleanStore(){
				StoreService.storePut(this.queryNameDataStore + ":form", null)
				StoreService.storePut(this.queryNameDataStore + ":requestColumns", null)
				StoreService.storePut(this.queryNameDataStore + ":requestExcelColumns", null)
			},
			updateResults: function(isAutoreload) {
				var _this = this;
				isAutoreload =
					typeof isAutoreload == "undefined" ? false : isAutoreload;

				if (!isAutoreload) {
					this.loading = true;
				}

				this.hasErrors = false;
				this.error = [];

				this.storeStatus();

				var request = this.prepareRequest();

				axios
					.post(URL_FIND, request)
					.then(response => {
						this.loading = false;
						this.hasErrors = response.data.info.hasErrors

						if (response.data == null) {
							this.errors.push("Errore ricezione dati.");
							return;
						}

						if (response.data.info.hasErrors) {
							this.hasErrors = true;
							this.errors = response.data.info.errors;
							this.cleanStore()
							return;
						}

						this.preparePages(response.data);
						this.updateAutoreload();

						if (_this.paginatorType == "MORE_RESULTS") {
							_this.paginator.hasMoreResults =
								response.data.hasMoreResults;
							response.data.results.forEach(function(v) {
								_this.contents.push(v);
							}, _this.contents);
						} else {
							this.$set(this, 'contents', response.data.results)
						}

						if (_this.contents != null && _this.contents.length > 0) {
							_this.buildColumnsFromData(_this.contents[0]);
						}
					})
					.catch(error => {
						_this.errors.push(error);
					})
					.then(() => {
						_this.loading = false;
					});
			},
			onToggleExcelExport: function() {
				this.form.displayExportExcel = !this.form.displayExportExcel;
				this.storeStatus();
			},
			onToggleSettings: function() {
				this.form.displaySettings = !this.form.displaySettings;
				this.storeStatus();
			},
			onExcelExportHide: function() {
				this.form.displayExportExcel = false;
				this.storeStatus();
			},
			onSettingsHide: function() {
				this.form.displaySettings = false;
				this.storeStatus();
			},
			buildColumnsFromDescriptor: function() {
				if (!this.queryDescriptor.fields) {
					return;
				}

				this.columns = {};

				for (var k in this.queryDescriptor.fields) {
					var field = this.queryDescriptor.fields[k];
					if (field.displayAsTableColumn) {
						this.columns[k] = field;
					}
				}
				this.buildRequstColumns();
			},
			buildColumnsFromData: function(row) {
				if (this.columns) {
					return;
				}

				var columns = {};
				for (var key in row) {
					columns[key] = { label: key };
				}
				this.columns = columns;

				this.buildRequstColumns();
			},
			buildRequstColumns: function() {
				if (this.displayColumns){
					this.requestColumns = this.displayColumns
					return
				}

				var storedRequestColumns = StoreService.storeGet(
					this.queryNameDataStore + ":requestColumns"
				);

				for (var k in this.columns) {
					if (
						!storedRequestColumns ||
						storedRequestColumns.indexOf(k) != -1
					) {
						this.requestColumns.push(k)
					}
				}
			},
			buildExcelColumnsFromDescriptor: function() {
				if (
					!this.queryDescriptor.excelExportEnabled ||
					!this.queryDescriptor.excelFields
				) {
					return;
				}

				this.excelColumns = this.queryDescriptor.excelFields;
				this.buildRequstExcelColumns();
			},
			buildRequstExcelColumns: function() {
				var storedRequestExcelColumns = StoreService.storeGet(
					this.queryNameDataStore + ":requestExcelColumns"
				);

				for (var k in this.excelColumns) {
					if (
						!storedRequestExcelColumns ||
						storedRequestExcelColumns.indexOf(k) != -1
					) {
						this.requestExcelColumns.push(k);
					}
				}
			},
			doSearch: function() {
				this.contents = [];
				this.openPage(0);
			},
			doExcelExport: function() {
				this.isPreparingExcel = true;
				var request = this.prepareRequest();
				request.numResults = -1;
				request.exportFileName = "";
				this.downloadFile(URL_EXPORT, request);
			},
			onClickPage: function(page) {
				page = parseInt(page);

				if (page >= this.paginator.totalPages){
				page = this.paginator.totalPages - 1;
				}

				if (page < 0){
				page = 0;
				}

				if (page == this.form.pageNum) {
                    return;
				}
        
				this.openPage(page);
			},
			openPage: function(page) {
				this.form.pageNum = page;
				this.updateResults();
			},
			preparePages: function(data) {
				this.paginator.pages = [];
				this.paginator.hasNext = false;
				this.paginator.hasPreview = false;
				var numPages = 1;

				this.paginator.totalResults = data.info.availlableResults;
				this.paginator.totalPages = Math.ceil(
					data.info.availlableResults / this.form.rowPerPage
				);

				if (data.info.availlableResults > this.form.rowPerPage) {
					numPages = Math.ceil(
						data.info.availlableResults / this.form.rowPerPage
					);

					var fromPage = 0;
					if (this.form.pageNum >= 3) {
						fromPage = this.form.pageNum - 2;
					}

					var toPage = numPages;
					if (this.form.pageNum + 3 < numPages) {
						toPage = this.form.pageNum + 3;
					}

					for (var i = fromPage; i < toPage; i++) {
						this.paginator.pages.push(i);
					}
				}

				if (this.form.pageNum > 0) {
					this.paginator.hasPreview = true;
				}

				if (this.form.pageNum < numPages - 1) {
					this.paginator.hasNext = true;
				}
			},
			updateOrders: function(columnId) {
				if (!columnId) {
					return;
				}

				if (this.queryRequest.orders[columnId] == null) {
					this.queryRequest.orders[columnId] = "ASC";
				} else if (this.queryRequest.orders[columnId] == "ASC") {
					this.queryRequest.orders[columnId] = "DESC";
				} else if (this.queryRequest.orders[columnId] == "DESC") {
					delete this.queryRequest.orders[columnId];
				}

				this.updateResults();
			},
			hasConditions: function() {
				if (!this.queryDescriptor) {
					return false;
				}
				for (var filter in this.queryDescriptor.conditions) {
					if (this.form[filter]) {
						return true;
					}
				}
				return false;
			},
			getOrderIndex: function(columnId) {
				var i = 1;
				for (var k in this.queryRequest.orders) {
					if (k == columnId) {
						return i;
					}
					i++;
				}
			},
			isEmptyObject: function(obj) {
				if (!obj) {
					return true;
				}

				for (var prop in obj) {
					if (Object.prototype.hasOwnProperty.call(obj, prop)) {
						return false;
					}
				}
				return true;
			},
			format: function(content, columnId) {
				if (!this.formatter) {
					return content[columnId];
				} else {
					return window[this.formatter](content, columnId);
				}
			},
			downloadFile: function(url, params) {
				var _this = this;

				var xhr = new XMLHttpRequest();
				xhr.open("POST", url, true);
				xhr.responseType = "arraybuffer";
				xhr.onload = function() {
					_this.isPreparingExcel = false;

					if (this.status === 200) {
						var filename = "";
						var disposition = xhr.getResponseHeader(
							"Content-Disposition"
						);
						if (
							disposition &&
							disposition.indexOf("attachment") !== -1
						) {
							var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
							var matches = filenameRegex.exec(disposition);
							if (matches != null && matches[1])
								filename = matches[1].replace(/['"]/g, "");
						}
						var type = xhr.getResponseHeader("Content-Type");

						var blob =
							typeof File === "function"
								? new File([this.response], filename, {
										type: type
								  })
								: new Blob([this.response], { type: type });
						if (typeof window.navigator.msSaveBlob !== "undefined") {
							// IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
							window.navigator.msSaveBlob(blob, filename);
						} else {
							var URL = window.URL || window.webkitURL;
							var downloadUrl = URL.createObjectURL(blob);

							if (filename) {
								// use HTML5 a[download] attribute to specify filename
								var a = document.createElement("a");
								// safari doesn't support this yet
								if (typeof a.download === "undefined") {
									window.location = downloadUrl;
								} else {
									a.href = downloadUrl;
									a.download = filename;
									document.body.appendChild(a);
									a.click();
								}
							} else {
								window.location = downloadUrl;
							}

							setTimeout(function() {
								URL.revokeObjectURL(downloadUrl);
							}, 100); // cleanup
						}
					} else {
						alert(this.statusText);
					}
				};
				xhr.setRequestHeader(
					"Content-type",
					"application/x-www-form-urlencoded"
				);
				//xhr.send($.param({'body': JSON.stringify(params)}));
				xhr.send(JSON.stringify(params));
			}
		}
	};
</script>
<style scoped>
.card-body{
	padding: 0px 10px 0px 10px;
}

.filter{
	min-height: 47px;
}
.filter:last-child{
	float: left;
}

.stiky-head{
	position: sticky;
	top: 0px;
	background-color: #eeeeee;
}

.page-input{
  margin-left: 10px;
}
.page-input label {
  display: inline-block;
  margin-right: 10px;
}
.page-input input {
  width: 60px;
}
.query-api {
    position: relative;
}

table{
	width: 100%;
	font-size: 0.9rem;  
}
td{
	font-size: 0.9rem;
}
.table-hover tbody tr:hover:not(.no-hover){
    background-color: rgba(200,255,200,0.5);
}

.table-right-panel {
    position: absolute;
    right: 0px;
    width: 30%;
    background-color: #f4f5ea;
    -webkit-box-shadow: -27px 15px 51px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: -27px 15px 51px -16px rgba(0,0,0,0.75);
    box-shadow: -27px 15px 51px -16px rgba(0,0,0,0.75);
    z-index: 2;
    min-width: 369px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s
}

.fade-enter,
.fade-leave-to
{
  opacity: 0
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #5867dd;
    border-color: #5867dd;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #5867dd;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

</style>
