<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
	<div 
		:class="{'cd-panel cd-panel-right-panel cd-panel--from-right js-cd-panel-main': true, 'cd-panel--is-visible': visible}"
		>
		<header class="cd-panel__header">
			<h3>{{title}}</h3>
			<a @click="onClickClose" class="cd-panel__close js-cd-close">Close</a>
		</header>
		<div class="cd-panel__container" v-closable="{
				handler: 'onClickClose',
				excludeParentClasses: ['jsoneditor-menu', 'jsoneditor-tree', 'jsoneditor-modal']
			}">
			<div class="cd-panel__content" ref="content">
			</div>
		</div>
	</div>
</template>
<script>
import Closable from "../directive/Closable.js";
import { setTimeout } from 'timers';
import { Widgets } from '@/widgets';

export default{
	directives: {
		Closable
	},
	data(){
		return{
			visible: false,
			title: ""
		}
	},
	mounted(){
		window.vueBus = window.vueBus ? window.vueBus : new Vue()

		window.vueBus.$on("right-panel-show", (data) => {
			this.$refs["content"].innerHTML = ""

			this.title = data.title

			if (typeof data.componentType === "string") {
				if (Widgets[data.componentType]) {
					data.componentType = Widgets[data.componentType]
				} else {
					return
				}
			}

			if (!data.componentType){
				return
			}

			if (!this.isFunction(data.componentType)) {
				this.addComponent(data)	
			} else {
				data.componentType().then((res) => {
					data.componentType = res.default
					this.addComponent(data)
				}).catch((error) => {
					console.log("Error loading component: " + error)
				})
			}
			
			setTimeout(() =>{
				this.visible = true;	
			}, 10);
		});
	},
	methods: {
		addComponent(data) {
			var ComponentClass = window.Vue.extend(data.componentType)
			var instance = new ComponentClass()
			if (data.parameters){
				for(var p in data.parameters){
					instance[p] = data.parameters[p]
				}
			}

			instance.$mount()
			this.$refs["content"].appendChild(instance.$el)
		},
		onClickClose(){
			this.visible = false;
			var iframes = this.$refs["content"].getElementsByTagName("iframe");
			
			for (var i = 0; i < iframes.length; i++){
				iframes[i].contentWindow.postMessage('{"event":"command","func":"stopVideo","args":""}', '*');	
				iframes[i].contentWindow.postMessage('{"method":"pause"}', '*');
			}
		},
		isFunction(functionToCheck) {
			return functionToCheck && {}.toString.call(functionToCheck) === '[object Function]';
		}
	}
}
</script>
<style scoped>
.cd-panel {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	-webkit-transition: visibility 0s 0.6s;
	transition: visibility 0s 0.6s;
}

.cd-panel::after {
	/* overlay layer */
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	cursor: pointer;
	-webkit-transition: background 0.3s 0.3s;
	transition: background 0.3s 0.3s;
}

.cd-panel.cd-panel--is-visible {
	visibility: visible;
	-webkit-transition: visibility 0s 0s;
	transition: visibility 0s 0s;
}

.cd-panel.cd-panel--is-visible::after {
	background: rgba(0, 0, 0, 0.6);
	-webkit-transition: background 0.3s 0s;
	transition: background 0.3s 0s;
}

.cd-panel__header {
	position: fixed;
	width: 90%;
	height: 50px;
	line-height: 50px;
	background: rgba(255, 255, 255, 0.96);
	z-index: 2;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
	-webkit-transition: -webkit-transform 0.3s 0s;
	transition: -webkit-transform 0.3s 0s;
	transition: transform 0.3s 0s;
	transition: transform 0.3s 0s, -webkit-transform 0.3s 0s;
	-webkit-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cd-panel__header {
	color: black;
    padding: 11px 15px;
}

.cd-panel--from-right .cd-panel__header {
	right: 0;
}

.cd-panel--from-left .cd-panel__header {
	left: 0;
}

.cd-panel--is-visible .cd-panel__header {
	-webkit-transition: -webkit-transform 0.3s 0.3s;
	transition: -webkit-transform 0.3s 0.3s;
	transition: transform 0.3s 0.3s;
	transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

@media only screen and (min-width: 768px) {
	.cd-panel__header {
		width: 70%;
	}
}

@media only screen and (min-width: 1170px) {
	.cd-panel__header {
		width: 50%;
	}
}

.cd-panel__close {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 60px;
	/* image replacement */
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.cd-panel__close::before,
.cd-panel__close::after {
	/* close icon created in CSS */
	content: "";
	position: absolute;
	top: 22px;
	left: 20px;
	height: 3px;
	width: 20px;
	background-color: #424f5c;
	/* this fixes a bug where pseudo elements are slighty off position */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.cd-panel__close::before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cd-panel__close::after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.cd-panel__close:hover {
	background-color: #424f5c;
}

.cd-panel__close:hover::before,
.cd-panel__close:hover::after {
	background-color: #ffffff;
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
}

.cd-panel__close:hover::before {
	-webkit-transform: rotate(220deg);
	-ms-transform: rotate(220deg);
	transform: rotate(220deg);
}

.cd-panel__close:hover::after {
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

.cd-panel--is-visible .cd-panel__close::before {
	-webkit-animation: cd-close-1 0.6s 0.3s;
	animation: cd-close-1 0.6s 0.3s;
}

.cd-panel--is-visible .cd-panel__close::after {
	-webkit-animation: cd-close-2 0.6s 0.3s;
	animation: cd-close-2 0.6s 0.3s;
}

@-webkit-keyframes cd-close-1 {
	0%,
	50% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

@keyframes cd-close-1 {
	0%,
	50% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

@-webkit-keyframes cd-close-2 {
	0%,
	50% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}

@keyframes cd-close-2 {
	0%,
	50% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}

.cd-panel__container {
	position: fixed;
	width: 90%;
	height: 100%;
	top: 0;
	background: #dbe2e9;
	z-index: 1;
	-webkit-transition: -webkit-transform 0.3s 0.3s;
	transition: -webkit-transform 0.3s 0.3s;
	transition: transform 0.3s 0.3s;
	transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.cd-panel--from-right .cd-panel__container {
	right: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.cd-panel--from-left .cd-panel__container {
	left: 0;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.cd-panel--is-visible .cd-panel__container {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

@media only screen and (min-width: 768px) {
	.cd-panel__container {
		width: 70%;
	}
}

@media only screen and (min-width: 1170px) {
	.cd-panel__container {
		width: 50%;
	}
}

.cd-panel__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 70px 5%;
	overflow: auto;
	/* smooth scrolling on touch devices */
	-webkit-overflow-scrolling: touch;
}

.cd-panel__content p {
	font-size: 1.4rem;
	color: #424f5c;
	line-height: 1.4;
	margin: 2em 0;
}

.cd-panel__content p:first-of-type {
	margin-top: 0;
}

@media only screen and (min-width: 768px) {
	.cd-panel__content p {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}
</style>