<template>
    <div class="section-title row-100">
        <div class="large-6 medium-4 columns">
            <h3>{{title}}</h3>
        </div>
        <div class="large-4 medium-4 columns">
            
        </div>
    </div>
</template>
<script>

export default{
    props: {
        title: ''
    },
    data(){
        return {
        }
    }
}

</script>