<template>
    <div>
        <mb-admin-page title="Scheduler"></mb-admin-page>
        
        <mb-table 
            query-name="admin.Scheduler">
            <template #custom-columns="{ content, visibleColumns }">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    {{ content[columnId] }}
                </td>
                <td style="width: 80px;">
                    <a @click="execute(content)" class="button tiny secondary radius">
                        <i class="fas fa-play"></i>
                    </a>
                </td>
            </template>
        </mb-table>
    </div>
</template>
<script>
import MbAdminPage from "@/page/admin/MbAdminPage"

export default{
    components: {
        MbAdminPage
    },
    methods: {
        execute(content) {
            if (!confirm("Eseguire il trigger?")) {
                return
            }

            window.location = '/admin/technical/SchedulerAdminAction-execute?schedulerId=' + content.scheduler_id
        }
    }
}

</script>