.square[data-v-208e3021]{display:inline-block;width:15px;height:15px;border:1px solid #000}.waiting[data-v-208e3021]{background-color:#ff0}.open[data-v-208e3021]{background-color:#90ee90}.closed[data-v-208e3021]{background-color:red}