div[data-v-5a75c0d9]{position:relative}input[data-v-5a75c0d9]{text-align:center;border:none}.required[data-v-5a75c0d9]{position:absolute;top:12px;left:6px}.green[data-v-5a75c0d9]{border:2px solid #90ee90}.yellow[data-v-5a75c0d9]{border:2px solid #ffffe0}.red[data-v-5a75c0d9]{border:2px solid red}