<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <MbTestBase
        :isLoading="isLoading"
        :backAction="backAction"
        :noteCompilazione="noteCompilazione"
        :isExportEnabled="true"
        :displayAlert="displayAlert"
        @onClickExport="onClickExport"
        @onClickSubmit="onClickSubmit">
        <template #header-additional-columns>
            <th class="text-center">Aquilone</th>
            <th class="text-center">Razzo</th>
            <th class="text-center">Lett/Num</th>
            <th class="text-center">Nome</th>
            <th class="text-center">Totale</th>
        </template>
        <template #table-body>
            <MbTestRow 
                v-for="(student, k) in results.students" 
                :key="k"
                v-model="results.students[k]"
                :read-only="readOnly"
                :replies="parameters"
                :soglie="soglie">
            </MbTestRow>
        </template>
    </MbTestBase>
</template>
<script>
import MbTextMixin from "../common/MbTestMixin"
import MbTestBase from "../common/MbTestBase"
import MbTestRow from "./MbTestRow"

import TestService from "./../TestService"
import SomministrazioneService from "../SomministrazioneService"

export default{
    mixins: [MbTextMixin],
    components: {
        MbTestBase,
        MbTestRow
    },
    methods: {
        validateData(){
            return SomministrazioneService.validate(this.results)
        },
        onClickExport(){
            let columns = [
                {
                    "key": "aquilone",
                    "label": "Aquilone"
                },
                {
                    "key": "razzo",
                    "label": "Razzo"
                },
                {
                    "key": "lett_num",
                    "label": "Lett/Num"
                },
                {
                    "key": "nome",
                    "label": "Nome"
                },
                {
                    "key": "totale",
                    "label": "Totale"
                }
            ]

            let data = {
                rows: [
                    {
                        index: 1,
                        isHeader: true,
                        columns: [
                            {
                                index: 1, value: 'Studente'
                            },
                            {
                                index: 2, value: 'Stato'
                            }
                        ]
                    }
                ]
            }

            let colIndex = 3;
            for(let i in columns){
                data.rows[0].columns.push({
                    index: colIndex++, value: columns[i].label
                });
                data.rows[0].columns.push({
                    index: colIndex++, value: "Fascia"
                })
            }

            for (let i = 0; i < this.data.length; i++){
                let dataRow = this.data[i]
                
                let row = {
                    index: i + 2,
                    columns: [
                        {
                            index: 1, value: dataRow.user.name + ' ' + dataRow.user.surname
                        }, 
                        {
                            index: 2, value: dataRow.status  
                        }
                    ]
                }

                let colIndex = 3;
                for(let i in columns){
                    row.columns.push({
                        index: colIndex++, value: dataRow.scores[columns[i].key]
                    });
                    row.columns.push({
                        index: colIndex++, value: TestService.evaluate(this.soglie[columns[i].key], dataRow.scores[columns[i].key])
                    })
                }
                data.rows.push(row)
            }

            this.generateExcel(data)
        }
    }
}
</script>