<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <MbTestRowBase 
        :value="value"
        :read-only="readOnly">
        <template #custom-columns>
            <td>
                <MbTextFieldWithSoglie 
                    v-model="value.raw_data.aquilone"
                    :soglia="getSoglia('aquilone')"
                    :disabled="value.status != 'somministrata' || readOnly"
                    :required="true"
                    :maxLength="2"
                    :maxValue="10"
                    :minValue="0"
                    ></MbTextFieldWithSoglie>
            </td>
            <td>
                <MbTextFieldWithSoglie 
                    v-model="value.raw_data.razzo"
                    :soglia="getSoglia('razzo')"
                    :disabled="value.status != 'somministrata' || readOnly"
                    :required="true"
                    :maxLength="2"
                    :maxValue="10"
                    :minValue="0"
                    ></MbTextFieldWithSoglie>
            </td>
            <td>
                <MbTextFieldWithSoglie 
                    v-model="value.raw_data.lett_num"
                    :soglia="getSoglia('lett_num')"
                    :disabled="value.status != 'somministrata' || readOnly"
                    :required="true"
                    :maxLength="2"
                    :maxValue="10"
                    :minValue="0"
                    ></MbTextFieldWithSoglie>
            </td>
            <td>
                <MbTextFieldWithSoglie 
                    v-model="value.raw_data.nome"
                    :soglia="getSoglia('nome')"
                    :disabled="value.status != 'somministrata' || readOnly"
                    :required="true"
                    :maxLength="2"
                    :maxValue="10"
                    :minValue="0"
                    ></MbTextFieldWithSoglie>
            </td>
            <td>
                <MbTextFieldWithSoglie 
                    v-model="value.scores.totale"
                    :soglia="getSoglia('totale')"
                    :disabled="true"
                    ></MbTextFieldWithSoglie>
            </td>
        </template>
    </MbTestRowBase>
</template>
<script>
import MbTestRowMixin from "../common/MbTestRowMixin"
import SomministrazioneStatus from '../SomministrazioneStatus'
import MbTestRowBase from '../common/MbTestRowBase'
import MbTextFieldWithSoglie from "../common/MbTextFieldWithSoglie"

export default{
    mixins: [MbTestRowMixin],
    components: {
        MbTestRowBase,
        MbTextFieldWithSoglie
    },
    props: {
        value: {
            type: Object,
            default() {
                return {
                    "status": '',
                    "raw_data": {},
                    "scores": {}
                }
            }
        },
        soglie: {
            type: Object,
            default() {
                return {}
            }
        },
        readOnly: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        status(){
            return this.value.status
        }
    },
    watch: {
        status(){
            var newValue = null
            if (this.value.status == SomministrazioneStatus.SOMMINISTRATA){
                newValue = ''
            }

            for(var i in this.value.raw_data){
                this.value.raw_data[i] = newValue
            }
        },
        value: {
            deep: true,
            handler(){
                this.updateScore()
            }
        }
    },
    created(){
        if (typeof this.value.scores == "undefined"){
            this.value.scores = {}
        }
        if (typeof this.value.scores.totale == "undefined"){
            this.value.scores.totale = 0
        }
        this.updateScore()
    },
    methods: {
        updateScore(){
            if (typeof this.value.scores == "undefined"){
                this.value.scores = {}
            }

            if (this.value.status != 'somministrata'){
                for (let name in this.value.scores){
                    this.value.scores[name] = null
                }
                return
            }

            this.value.scores.totale = 0
            for(let i in this.value.raw_data){
                if (i == 'totale'){
                    continue;
                }

                let val = parseInt(this.value.raw_data[i])
                if (isNaN(val)){
                    val = 0
                }
                this.value.scores.totale += val
            }

            if (isNaN( this.value.scores.totale )){
                this.value.scores.totale = null
            }

            for(var name in this.value.raw_data){
                this.value.scores[name] = parseInt(this.value.raw_data[name])
            }
        }
    }
}
</script>
<style scoped>
</style>