<template>
    <div class="report">
        <div v-if="!value">
            Nessun valore trovato
        </div>
        <div v-else 
            v-for="(field, key) in fields" :key="key"
            class="row">
            <div class="small-4 columns">
                {{field.label}}
            </div>
            <div class="small-8 columns">
                <div v-if="field.type == 'MbNazionalita'">
                    {{value[field.name].nome}}
                </div>
                <div v-else-if="field.type == 'MbDictionary'">
                    {{value[field.name].value}}
                </div>
                <div v-else>
                    {{value[field.name]}}
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default{
    props: {
        value: {
            type: Object
        },
        fields: {
            type: Array,
            default(){
                return []
            }
        }
    }
}
</script>
<style scoped>
.row{
    padding: 5px 0px 10px 0px;
}
</style>