<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <mb-table query-name="pei.PeiQuery">
        <template #custom-columns="{content, visibleColumns}">
            <td v-for="(column, columnId) in visibleColumns" :key="columnId" >
                <div v-if="columnId == 'status'">
                    {{content.status}}
                    <a v-if="content.status == 'deleted'"  @click="restoreUser(content)">
                        Recupera
                    </a>
                </div>
                <div v-else-if="columnId == 'pei_status'">
                    <div class="square" :class="content.pei_status"></div>
                </div>
                <div v-else v-html="content[columnId]"></div>
            </td>
        </template>
    </mb-table>
</template>
<script>
export default{
    methods: {
        restoreUser(content){
            if (!confirm("Recuperare i dati dello studente?")){
                return;
            }

            window.location = "PeiAction-updateStatus?id=" + content.user_year_document_id;
        }
    }
}
</script>
<style scoped>

</style>