/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-ott-2018, 18.49.49
    Author     : marco
*/

.attachment-component .box
{
    font-size: 1.25rem; /* 20 */
    background-color: #c8dadf;
    position: relative;
    padding: 20px 20px;
    text-align:center;
    margin-top: 20px;
}
.attachment-component .box.has-advanced-upload
{
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.attachment-component .box.is-dragover
{
    outline-offset: -20px;
    outline-color: #c8dadf;
    background-color: #fff;
}
.attachment-component .box__dragndrop,
.attachment-component .box__icon
{
    display: none;
}
.attachment-component .box.has-advanced-upload .box__dragndrop
{
    display: inline;
}
.attachment-component .box.has-advanced-upload .box__icon
{
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
    margin-bottom: 40px;
}

.attachment-component .box.is-uploading .box__input,
.attachment-component .box.is-success .box__input,
.attachment-component .box.is-error .box__input
{
    visibility: hidden;
}

.attachment-component .box__uploading,
.attachment-component .box__success,
.attachment-component .box__error
{
    display: none;
}
.attachment-component .box.is-uploading .box__uploading,
.attachment-component .box.is-success .box__success,
.attachment-component .box.is-error .box__error
{
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    -webkit-transform: translateY( -50% );
    transform: translateY( -50% );
}
.attachment-component .box__uploading
{
    font-style: italic;
}
.attachment-component .box__success
{
    -webkit-animation: appear-from-inside .25s ease-in-out;
    animation: appear-from-inside .25s ease-in-out;
}
@-webkit-keyframes appear-from-inside{
    from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
    75%	{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
    to      { -webkit-transform: translateY( -50% ) scale( 1 ); }
}

@keyframes appear-from-inside{
    from	{ transform: translateY( -50% ) scale( 0 ); }
    75%	{ transform: translateY( -50% ) scale( 1.1 ); }
    to	{ transform: translateY( -50% ) scale( 1 ); }
}

.box__restart{
    font-weight: 700;
}
.box__restart:focus,
.box__restart:hover{
    color: #39bfd3;
}

.js .box__file{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .js .box__file + label {
        max-width: 80%;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        margin: 0px;
    }
.js .box__file + label:hover strong,
.box__file:focus + label strong,
.box__file.has-focus + label strong{
    color: #39bfd3;
}
.js .box__file:focus + label,
.js .box__file.has-focus + label{
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.js .box__file + label *{
    /* pointer-events: none; */ /* in case of FastClick lib use */
}

.no-js .box__file + label{
    display: none;
}

.no-js .box__button{
    display: block;
}
.box__button{
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    display: none;
    padding: 8px 16px;
    margin: 40px auto 0;
}
.box__button:hover,
.box__button:focus{
    background-color: #0f3c4b;
}

.attachment {
    display: inline-block;
    width: 150px;
    height: 170px;
    border: 1px solid black;
    margin: 5px;
    position: relative;
    text-align: center;
}
.attachment-component .attachment .image {
    width: 100%;
    height: 168px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}
.attachment-component .attachment .file {
    width: 100%;
    height: 128px;
    position: relative;
    font-size: 4.3rem;
    color: green;
    padding: 20px;
    display: block;
}
.attachment-component .attachment .file i {
    position: absolute;
    top: 39px;
    left: 51px;
}
.attachment-data {
    padding: 5px;
    font-size: 0.8rem;
    position: absolute;
    bottom: 0px;
    background-color: rgb(240,240,240, 0.7);
    overflow: hidden;
    width: 147px;
    text-overflow: ellipsis;
}
.attachment-tools {
    position: absolute;
    top: 5px;
    right: 5px;
}
.attachment-move {
    cursor: pointer;
}
.attachment-remove {
    color: red;
    cursor: pointer;
}
.disabled{
    cursor:default;
}

.allowed_extensions{
    font-size: 12px;
}