<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <MbTestRowBase 
        :value="value"
        :read-only="readOnly">
        <template #custom-columns>
            <td v-for="i in columns" :key="'mv_' + i">
                <MbTextFieldWithSoglie 
                    v-model="value.raw_data['prova_' + i]"
                    :disabled="value.status != 'somministrata' || readOnly"
                    :required="true"
                    :minValue="0"
                    :maxValue="1"
                    :maxLength="1"
                    ></MbTextFieldWithSoglie>
            </td>
            <td>
                <MbTextFieldWithSoglie 
                    v-model="value.scores.totale"
                    :soglia="getSoglia('totale')"
                    :disabled="true"
                    ></MbTextFieldWithSoglie>
            </td>
        </template>
    </MbTestRowBase>
</template>
<script>
import MbTestRowMixin from "../common/MbTestRowMixin"
import SomministrazioneStatus from '../SomministrazioneStatus'
import MbTestRowBase from '../common/MbTestRowBase'
import MbTextFieldWithSoglie from "../common/MbTextFieldWithSoglie"

export default{
    mixins: [MbTestRowMixin],
    components: {
        MbTestRowBase,
        MbTextFieldWithSoglie
    },
    props: {
        value: {
            type: Object,
            default() {
                return {
                    "status": '',
                    "raw_data": {},
                    "scores": {}
                }
            }
        },
        soglie: {
            type: Object,
            default() {
                return {}
            }
        },
        readOnly: {
            type: Boolean,
            default: false
        },
        columns: {
            type: Array
        }
    },
    computed: {
        status(){
            return this.value.status
        }
    },
    watch: {
        status(){
            for(var i in this.value.raw_data){
                this.value.raw_data[i] = null
            }
        },
        value: {
            deep: true,
            handler(){
                this.updateScore()
            }
        }
    },
    created(){
        this.updateScore()
    },
    methods: {
        updateScore(){
            if (typeof this.value.scores == "undefined"){
                this.value.scores = {}
            }

            if (this.value.status != 'somministrata'){
                this.value.scores['totale'] = null
                return
            }

            this.value.scores['totale'] = 0
            for (var i = 0; i < this.columns.length; i++){
                let val = parseInt(this.value.raw_data["prova_" + i])
                if (isNaN(val)){
                    val = 0
                }
                this.value.scores['totale'] += val
            }

            if (isNaN(this.value.scores['totale'])){
                this.value.scores['totale'] = 0
            }
        }
    }
}
</script>
<style scoped>
</style>