<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
<div>
    <i v-if="required && !disabled && !isValuePresent" 
        class="fas fa-exclamation-triangle required"></i>
    <input type="text"
        ref="input"
        :class="status"
        v-model="inputValue"
        :maxlength="maxLength"
        :disabled="disabled">
</div>
</template>
<script>
import TestService from "./../TestService"

export default{
    props: {
        value: {
        },
        disabled: {
            type: Boolean,
            default: false
        },
        required: {
            type: Boolean,
            default: false
        },
        soglia: {
            type: Object
        },
        regExp: {
            type: String,
            default: "[^0-9]"
        },
        maxValue: {
            type: Number,
            default: null
        },
        minValue: {
            type: Number,
            default: null
        },
        maxLength: {
            type: Number,
            default: null
        },
        customValidateFunction: Function
    },
    data(){
        return {
            inputValue: '',
            status: ''
        }
    },
    computed: {
        isValuePresent(){
            return !(typeof this.value == undefined || this.value === null || this.value === '')
        }
    },
    watch: {
        value(nv){
            this.inputValue = nv
        },
        inputValue(newVal){
            let score = null

            if (typeof this.customValidateFunction === 'undefined'){
                if (newVal && newVal.replace){
                    let re = new RegExp(this.regExp);
                    this.$set(this, 'inputValue', newVal.replace(re, ''))
                }

                score = parseInt(newVal)
                if (this.minValue != null && score < this.minValue){
                    this.$set(this, 'inputValue', this.minValue)
                }
                if (this.maxValue != null && score > this.maxValue){
                    this.$set(this, 'inputValue', this.maxValue)
                }
            } else {
                newVal = this.customValidateFunction(newVal)
                score = parseFloat(newVal)
                this.$set(this, 'inputValue', newVal)
            }

            this.$emit('input', this.inputValue)

            if (typeof this.inputValue == undefined || this.inputValue === null || this.inputValue === ''){
                this.status = null
                return
            }

            if (score != null){
                let scoreType = TestService.evaluate(this.soglia, score)
                if (typeof scoreType != 'undefined'){
                    if (scoreType == 0){
                        this.status = "red"
                    }
                    if (scoreType == 1){
                        this.status = "yellow"
                    }
                    if (scoreType == 2){
                        this.status = "green"
                    }
                }
            }
        }
    },
    created(){
        this.inputValue = this.value
    }
}
</script>
<style scoped>
div {
    position: relative;
}
input{
    text-align: center;
    border: none;
}
.required{
    position: absolute;
    top: 12px;
    left: 6px;
}
.green{
    border: 2px solid lightgreen;
}
.yellow{
    border: 2px solid lightyellow;
}
.red{
    border: 2px solid red;
}
</style>