<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <tr>
        <td class="studente" style="width: 200px;">
            <div class="d-flex flex-justify-space-between">
                <MbEntityUser :value="value.user"></MbEntityUser>
                <div v-if="!value.status">
                    <i class="fas fa-exclamation-triangle color-red" title="Indicare se lo studente è assente, se ha eseguito la prova o se la prova non è valida"></i>
                </div>
            </div>
        </td>
        <td class="radio" style="width: 80px;">
            <input type="radio" 
                v-model="value.status"
                value="assente"
                :disabled="readOnly" />
        </td>
        <td class="radio" style="width: 80px;">
            <input type="radio" 
                v-model="value.status"
                value="non_valida"
                :disabled="readOnly"/>
        </td>
        <td class="radio" style="width: 80px;">
            <input type="radio" 
                v-model="value.status"
                value="somministrata"
                :disabled="readOnly"/>
        </td>

        <td v-if="value.status == 'non_valida' && nonValidaFileUploadEnabled" colspan="4">
            <MbTestFileUpload :value="value.nonValidaAttachments"
                :readOnly="readOnly"
                :maxAttachments="1"
                :uploadUrl="'/public/api/file/UploadAction'"></MbTestFileUpload>
        </td>
        <slot v-else name="custom-columns"></slot>        
    </tr>
</template>
<script>

import MbEntityUser from "@/components/ui/entity/MbEntityUser"
import MbTestFileUpload from "./MbTestFileUpload.vue";

export default{
    components: {
        MbEntityUser,
        MbTestFileUpload
    },
    props: {
        readOnly: {
            type: Boolean,
            default: false
        },
        value: {
            type: Object,
            default (){
                return {}
            }
        },
        nonValidaFileUploadEnabled: {
            type: Boolean,
            default: false
        }
    }
}
</script>
<style scoped>
input[type="radio"]{
    width: 30px;
    height: 30px;
    margin-bottom: 0px;
}
td.radio{
    width: 60px;
    text-align: center;
}
.studente{
    width: 120px;
}
</style>