<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <div class="test">
        <div v-if="isLoading">
            <mb-loading></mb-loading>    
        </div>
        <div v-else-if="errors && errors.length > 0">
            {{errors}}
        </div>
        <div v-else>
            <div
                v-if="displayAlert"
                class="alert-box warning mt-3">
                <strong>ATTENZIONE: </strong>
                indicare per ogni riga se durante la somministrazione lo studente era assente, se la somministrazione non è valida oppure se è stata eseguita correttamente.
            </div>

            <div v-if="noteCompilazione" class="note-compilazione">
                <h4>Note per la compilazione:</h4>
                <p v-html="noteCompilazione"></p>
            </div>

            <table>
                <thead v-MbSticky on-stick="onSticky" ref="thead" style="width:100%;">
                    <slot name="pre-header-columns"></slot>
                    <tr>
                        <th style="width: 200px">Studente</th>
                        <th style="width: 80px">Non eseguita</th>
                        <th style="width: 80px">Non valida</th>
                        <th style="width: 80px">Eseguita</th>
                        
                        <slot name="header-additional-columns"></slot>
                    </tr>
                </thead>
                <tbody ref="tbody">
                    <slot name="table-body"></slot>
                </tbody>
            </table>

            <div class="row-100 campiObbligatori" style="padding-top: 30px;">
                <div class="controls">
                    <a @click="$emit('onClickSubmit')" class="button radius salva margin-right"><i class="far fa-save margin-right"></i>Salva</a>
                    <a v-if="isExportEnabled" @click="$emit('onClickExport')" class="button radius secondary margin-right"><i class="fas fa-file-excel margin-right"></i>Esporta dati</a>
                    <slot name="after-export-button"></slot>
                    <a :href="backAction" class="button radius alert"><i class="fa fa-undo margin-right"></i>Annulla</a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import MbSticky from '@/directive/MbSticky'
import MbLoading from "@/components/ui/base/MbLoading"

export default {
    directives: { MbSticky },
    components: { MbLoading },
    props: {
        isLoading: {
            type: Boolean,
            default: false
        },
        isExportEnabled: {
            type: Boolean,
            default: false
        },
        noteCompilazione: {
            type: String
        },
        backAction: {
            type: String
        },
        errors: {
            type: Array
        },
        displayAlert: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        onSticky(opt){
            let headLastRow = this.$refs.thead.children.length - 1

            if (opt.sticked){
                this.$refs.thead.style.width = '100%'
                
                if (headLastRow > 0){
                    for(let i = 0; i < headLastRow; i++){
                        this.$refs.thead.children[i].style.display = 'none'
                    }
                }

                for (let i in this.$refs.tbody.children[headLastRow].children){
                    if (!this.$refs.tbody.children[0].children[i].getBoundingClientRect){
                        continue
                    }

                    let w = this.$refs.tbody.children[0].children[i].getBoundingClientRect().width
                    w += 2
                    this.$refs.thead.children[headLastRow].children[i].style.display = 'inline-block'
                    this.$refs.thead.children[headLastRow].children[i].style.width = w +'px'
                }
            } else {
                if (headLastRow > 0){
                    for(let i = 0; i < headLastRow; i++){
                        this.$refs.thead.children[i].style.display = 'table-row'
                    }
                }

                for (let i in this.$refs.thead.children[headLastRow].children){
                    let el = this.$refs.thead.children[headLastRow].children[i]
                    if (typeof this.$refs.thead.children[headLastRow].children[i].style == "undefined"){
                        continue
                    }
                    this.$refs.thead.children[headLastRow].children[i].style.display = 'table-cell'
                }
            }
        }
    }
}
</script>
<style scoped>
table {
    width: 100%;
    position: relative;
}

#test,
#test td{
    font-size: 12px;
}
.note-compilazione{
    padding: 10px;
    margin-top:20px;
    margin-bottom:20px;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.controls .button{
    margin-right: 10px;
}

</style>