<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <div>
        <div v-if="focused && targetValue"
            class="info">
            {{targetValue}}
        </div>
        <select 
            :class="'test-select ' + status"
            v-model="inputValue"
            :disabled="disabled"
            @blur="focused = false"
            @focus="focused = true">
            <option v-for="(v, k) in options" :key="k" :value="v">
                {{v}}
            </option>
        </select>
    </div>
</template>
<script>

export default{
    props: {
        value: {
            type: String,
            default: null
        },
        disabled: {
            type: Boolean,
            default: false
        },
        reply: {
            type: String,
            default : ''
        },
        options: {
            type: Object,
            default() {
                return[]
            }
        },
        targetValue: {
            type: String,
            default : ''
        },
    },
    data(){
        return {
            inputValue: '',
            focused: false,
            status: ''
        }
    },
    watch: {
        value(nv){
            this.inputValue = nv
        },
        inputValue(nv){
            this.$emit('input', this.inputValue)
            this.evaluate()
        }
    },
    created(){
        this.inputValue = this.value
        this.evaluate()
    },
    methods: {
        evaluate(){
            this.status = ''
            if (this.inputValue == null){
                this.status = ""
            } else if (this.inputValue == '' || this.reply.toLowerCase() == this.inputValue.toLowerCase()){
                this.status = "right"
            } else {
                this.status = "wrong"
            }
        }
    }
}

</script>
<style scoped>
.info{
    text-align: center;
    text-transform: uppercase;
}

.test-select{
    text-align: center;
    margin-bottom: 5px;
}

.wrong{
}
.right{
}
</style>