<template>
    <div>
        <canvas ref="myChart"></canvas>
    </div>
</template>
<script>
import chartJs from "chart.js/auto"
import ChartDataLabels from "chartjs-plugin-datalabels"

export default{
    props: {
        data: Array
    },
    computed: {
    },
    mounted(){
        this.updateChart()
    },
    methods: {
        updateChart(){
            chartJs.register(ChartDataLabels);

            new chartJs(
                this.$refs.myChart,
                {
                    type: 'pie',
                    data: {
                        labels: [
                            'Rossi',
                            'Gialli',
                            'Verdi',
                            'Non eseguita',
                            'Non impostata',
                            'Non validi'
                        ],
                        datasets: [
                            {
                                label: 'Risultati',
                                backgroundColor: [
                                    'rgb(255, 0, 0)',
                                    'rgb(255, 255, 0)',
                                    'rgb(0, 255, 0)',
                                    'rgb(200,200,200)',
                                    'rgb(200,180,10)',
                                    'rgb(43,10,11)',
                                ],
                                data: this.data
                            }
                        ]
                    },
                    options: {
                        plugins: {
                            datalabels: {
                                formatter: (value, ctx) => {
                                    const datapoints = ctx.chart.data.datasets[0].data
                                    const total = datapoints.reduce((total, datapoint) => total + datapoint, 0)
                                    const percentage = (value / total * 100).toFixed(1)

                                    if (!percentage || percentage == 0)
                                        return null;

                                    return percentage + " %";
                                },
                                anchor: 'end',
                                color: '#000',
                                backgroundColor: '#CCC',
                                clamp: true,
                                offset: 20,
                                padding: 5,
                                display: 'auto',
                                font: {
                                    size: 12
                                }
                            }
                        }
                    }
                }
            )
        }
    }
}
</script>