<template>
    <div class="attachment-component <?= $this->readOnly ? 'read-only' : 'not-read-only' ?> attachment_<?= $this->name ?>">
        <div>
            <div v-if="attachments.length > 0" class="attachments-list">
                <div v-for="(attachment, index) in attachments" style="display: flex;">
                    <a v-if="attachment.FileName && attachment.FileName.indexOf('.png') != -1 || attachment.FileName.indexOf('.jpg') != -1" class="image" v-bind:href="attachment.Url" target="_blank" v-bind:style="{ backgroundImage: 'url(' + attachment.Url + '&disposition=inline)'}"></a>
                    <a v-else class="file" :href="attachment.Url + '&disposition=inline'" target="_blank">
                        <i class="fas fa-file" style="font-size: 2rem;"></i>
                    </a>

                    <div style="margin-left: 10px;">
                        <a :href="attachment.Url" target="_blank">
                            <strong>
                                {{attachment.FileName}}
                            </strong>
                        </a>
                        
                        ({{attachment.Size | prettyBytes}})<br/>
                        {{attachment.insertDate | dateTime }}
                    </div>
                    <template v-if="!readOnly">
                        <div style="margin-left: 10px;">
                            <a @click="onMoveLeft(index)" v-show="index > 0" class="attachment-move">
                                <i class="fas fa-caret-left"></i>
                            </a>
                            <a @click="onMoveRight(index)" v-show="index < attachments.length - 1" class="attachment-move">
                                <i class="fas fa-caret-right"></i>
                            </a>
                            <a v-if="canRemove" @click="removeAttachment(index)" class="attachment-remove">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </template>
                </div>
            </div>
            
            <template v-if="!readOnly">
                <div ref="uploadForm" v-show="maxAttachments == 0 || attachments.length < maxAttachments" method="post" enctype="multipart/form-data" class="box js" >
                    <div class="box__input">
                        <input ref="input" type="file" name="file" class="box__file" :accept="accept"/>
                        <label for="file"><strong>Scegli un file</strong><span class="box__dragndrop"> o trascinalo qui.</span>.</label>
                        <div v-if="extensions && extensions.length > 0" class="allowed_extensions">
                            Tipi consentiti: 
                            <span v-for="extension in extensions">{{extension}}</span>
                        </div>
                        <div v-if="maxSize > 0" class="allowed_extensions">
                            Dimensione massima: {{maxSize}} MB
                        </div>
                        <button type="submit" class="box__button">Carica file</button>
                    </div>

                    <div class="box__uploading">Caricamento....</div>
                    <div class="box__success">Fatto! <a href="" class="box__restart" role="button">Altro da caricare?</a></div>
                    <div class="box__error">Errore! <span></span>. <a class="box__restart" role="button">Riprova!</a></div>
                </div>
            </template>
        </div>
    </div>
</template>
<script>

export default{
    props: {
        value: {
            type: Array,
            default(){
                return []
            }
        },
        readOnly: {
            type: Boolean,
            default: false
        },
        maxAttachments: {
            type: Number,
            default: 0
        },
        canRemove: {
            type: Boolean,
            default: true
        },
        removeUrl: {
            type: String,
            default: ""
        },
        uploadUrl: {
            type: String,
            default: ""
        },
        extensions: {
            type: Array,
            default(){
                return []
            }
        },
        maxSize: {
            type: Number,
            default: 0
        },
    },
    data(){
        return {
            form: null,
            input: null,
            isAdvancedUpload: true,
            droppedFiles: null
        }
    },
    computed: {
        attachments: {
            get() {
                return this.value;
            },
            set(value) {
                this.$emit('input', value);
            }
        },
        accept() {
            if (!this.extensions) {
                return "";
            }

            let accept = "";
            for (let e of this.extensions) {
                accept += accept == "" ? "" : ",";
                accept += "." + e;
            }

            return accept;
        },
    },
    watch: {
    },
    mounted: function () {
        this.form = this.$refs.uploadForm
        this.input = this.$refs.input

        this.createUploader(this.form)
    },
    methods: {
        removeAttachment: function (index) {
            if (!confirm("Rimuovere allegato?")) {
                return;
            }

            if (this.removeUrl) {
                window.$.post(
                    this.removeUrl,
                    {
                        attachmentId: this.attachments[index].AttachmentId,
                    },
                    function () {}
                );
            }

            this.attachments.splice(index, 1);
        },
        createUploader (form) {
            let _this = this;

            let label = form.querySelector("label")
            let errorMsg = form.querySelector(".box__error span")
            let restart = form.querySelectorAll(".box__restart")
            
            let showFiles = function (files) {
                    if (files.length > 1) {
                        label.textContent = files.length + " files selected";
                    } else {
                        label.textContent = files[0].name;
                    }
                }

            let triggerFormSubmit = function () {
                    var event = document.createEvent("HTMLEvents");
                    event.initEvent("submit", true, true);
                    form.dispatchEvent(event);
                    return false;
                }

            // letting the server side to know we are going to make an Ajax request
            var ajaxFlag = document.createElement("input");
            ajaxFlag.setAttribute("type", "hidden");
            ajaxFlag.setAttribute("name", "ajax");
            ajaxFlag.setAttribute("value", 1);
            form.appendChild(ajaxFlag);

            label.addEventListener("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                _this.input.value = "";
                window.$(_this.input).click();
                return false;
            });

            // automatically submit the form on file select
            this.input.addEventListener("change", function (e) {
                showFiles(e.target.files);
                _this.droppedFiles = e.target.files;
                triggerFormSubmit();
                return false;
            });

            // drag&drop files if the feature is available
            if (this.isAdvancedUpload) {
                form.classList.add("has-advanced-upload"); // letting the CSS part to know drag&drop is supported by the browser

                [
                    "drag",
                    "dragstart",
                    "dragend",
                    "dragover",
                    "dragenter",
                    "dragleave",
                    "drop",
                ].forEach(function (event) {
                    form.addEventListener(event, function (e) {
                        // preventing the unwanted behaviours
                        e.preventDefault();
                        e.stopPropagation();
                    });
                });
                ["dragover", "dragenter"].forEach(function (event) {
                    form.addEventListener(event, function () {
                        form.classList.add("is-dragover");
                    });
                });
                ["dragleave", "dragend", "drop"].forEach(function (event) {
                    form.addEventListener(event, function () {
                        form.classList.remove("is-dragover");
                    });
                });

                form.addEventListener("drop", function (e) {
                    _this.droppedFiles = e.dataTransfer.files; // the files that were dropped
                    showFiles(_this.droppedFiles);
                    triggerFormSubmit();
                });
            }

            // if the form was submitted
            form.addEventListener("submit", this.onSubmit)
            
            // restart the form if has a state of error/success
            Array.prototype.forEach.call(restart, function (entry) {
                entry.addEventListener("click", function (e) {
                    e.preventDefault();
                    form.classList.remove("is-error", "is-success");
                    _this.input.value = "";
                    _this.input.click();
                });
            });

            // Firefox focus bug fix for file input
            this.input.addEventListener("focus", function () {
                _this.input.classList.add("has-focus");
            });
            this.input.addEventListener("blur", function () {
                _this.input.classList.remove("has-focus");
            });
        },
        onSubmit (e) {
            let _this = this;
            // preventing the duplicate submissions if the current one is in progress
            if (this.form.classList.contains("is-uploading")) {
                return false;
            }

            this.form.classList.add("is-uploading");
            this.form.classList.remove("is-error");

            // ajax file upload for modern browsers
            e.preventDefault();

            // gathering the form data
            var f = document.createElement("form");
            var ajaxData = new FormData(f);
            if (this.droppedFiles) {
                Array.prototype.forEach.call(
                    this.droppedFiles,
                    function (file) {
                        if (!_this.checkFileExtension(file.name)) {
                            alert("Formato file non valido.");
                            return;
                        }

                        if (_this.maxSize > 0) {
                            if (
                                _this.maxSize * 1024000 <
                                file.size
                            ) {
                                alert(
                                    "Il file supera le dimensioni massime consentite."
                                );
                                return;
                            }
                        }

                        ajaxData.append(
                            _this.input.getAttribute("name"),
                            file
                        );
                    }
                );
            }

            // ajax request
            var ajax = new XMLHttpRequest();
            ajax.open("post", _this.uploadUrl, true);

            ajax.onprogress = function (e) {
                if (e.lengthComputable) {
                    console.log(e.loaded + " / " + e.total);
                }
            };

            ajax.onload = function () {
                _this.form.classList.remove("is-uploading");
                if (ajax.status >= 200 && ajax.status < 400) {
                    var data = JSON.parse(ajax.responseText);
                    _this.form.classList.add(
                        data.HasErrors == false
                            ? "is-success"
                            : "is-error"
                    );
                    if (data.HasErrors) {
                        errorMsg.textContent = data.error;
                    } else {
                        _this.attachments.push(data.Attachment);
                    }
                } else {
                    alert("Error. Please, contact the webmaster!");
                }
            };

            ajax.onerror = function () {
                form.classList.remove("is-uploading");
                alert("Error. Please, try again!");
            };

            ajax.send(ajaxData);
            
            return false;
        },
        checkFileExtension(fileName) {
            if (
                !this.extensions ||
                this.extensions.length == 0 ||
                !fileName
            ) {
                return true;
            }

            var extension = fileName
                .substring(fileName.lastIndexOf(".") + 1)
                .toLowerCase()
                .trim();
            if (this.extensions.indexOf(extension) === -1) {
                return false;
            }
            return true;
        },
        onMoveLeft: function (index) {
            var tmp = this.attachments[index - 1];
            this.attachments[index - 1] = this.attachments[index];
            this.attachments[index] = tmp;
            this.$forceUpdate();
        },
        onMoveRight: function (index) {
            var tmp = this.attachments[index + 1];
            this.attachments[index + 1] = this.attachments[index];
            this.attachments[index] = tmp;
            this.$forceUpdate();
        },
    }
}

</script>
<style scoped>
.attachment-component .box{
    margin-top: 0px;
}
</style>