<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <div tabindex="0"
        @focus="onFocusIn" @click="onFocusIn">
        <div v-show="focused">
            <div v-if="targetValue" class="info">
                {{targetValue}}
            </div>
            
            <textarea
                ref="input"
                :class="status"
                @blur="focused = false"
                v-model="inputValue"
                :disabled="disabled">
            </textarea>
        </div>
        <div v-show="!focused">
            <div v-if="!errors || errors.length == 0" class="pencil">
                <i class="fas fa-pencil-alt"></i>
            </div>
            <div v-for="(error, k) in errors" :key="k" class="error">
                {{error}}
            </div>
        </div>
    </div>
</template>
<script>

export default{
    props: {
        value: {
            type: String,
            default: null
        },
        disabled: {
            type: Boolean,
            default: false
        },
        reply: {
            type: String,
            default : ''
        },
        targetValue: {
            type: String,
            default : ''
        },
    },
    data(){
        return {
            inputValue: '',
            focused: false,
            status: ''
        }
    },
    computed: {
        errors(){
            if (typeof this.inputValue == 'undefined' || !this.inputValue){
                return
            }

            let chunks = this.inputValue.split("-")
            let errors = []
            chunks.forEach(element => {
                if (element !== ''){
                    errors.push(element)
                }
            });
            return errors
        }
    },
    watch: {
        value(nv){
            this.inputValue = nv
        },
        inputValue(nv){
            this.$emit('input', this.inputValue)
            this.evaluate()
        }
    },
    created(){
        this.inputValue = this.value
        this.evaluate()
    },
    methods: {
        onFocusIn(){
            if (this.disabled){
                return
            }

            this.focused = true
            setTimeout(() => {
                this.$refs.input.focus()
            }, 10)
        },
        evaluate(){
            this.status = ''
            if (this.inputValue == null){
                this.status = ""
            } else if (this.inputValue == '' || this.reply.toLowerCase() == this.inputValue.toLowerCase()){
                this.status = "right"
            } else {
                this.status = "wrong"
            }
        }
    }
}

</script>
<style scoped>
.info{
    text-align: center;
    text-transform: uppercase;
}
select{
    text-align: center;
    margin-bottom: 0px;
}

.wrong{
    color: red;
    border-color: red;
    box-shadow: 0 1px 2px red;
}
.right{
    color: green;
    border-color: lightgreen;
    margin-bottom: 0px;
    box-shadow: 0 1px 2px lightgreen;
}
.fill-parent{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.fill-parent {
    text-align: center;
    padding-top: 30px;
}
.error{
    min-width: 150px;
    color: red;
    text-align: left;
    float:left;
}
.pencil{
    text-align: center;
}
</style>