<template>
    <div>
        <div v-show="focused && targetValue"
            class="info">
            {{targetValue}}
        </div>
        <input type="text"
            ref="input"
            :class="status"
            v-model="inputValue"
            :disabled="disabled"
            @blur="focused = false"
            @focus="focused = true">
    </div>
</template>
<script>

export default{
    props: {
        value: {
            type: String,
            default: null
        },
        disabled: {
            type: Boolean,
            default: false
        },
        reply: {
            type: String,
            default : ''
        },
        targetValue: {
            type: String,
            default: null
        }
    },
    data(){
        return {
            inputValue: '',
            focused: false,
            status: ''
        }
    },
    watch: {
        value(nv){
            this.inputValue = nv
        },
        inputValue(){
            this.$emit('input', this.inputValue)
            this.evaluate()
        }
    },
    created(){
        this.inputValue = this.value
    },
    methods: {
        evaluate(){
            this.status = ''
            if (this.inputValue == null){
                this.status = ""
            } else if (this.inputValue == '' || this.reply.toLowerCase() == this.inputValue.toLowerCase()){
                this.status = "right"
            } else {
                this.status = "wrong"
            }
        }
    }
}

</script>
<style scoped>
.info{
    text-align: center;
    text-transform: uppercase;
}
input{
    text-align: center;
}
</style>