<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
<div>
    <MbLoading v-if="isLoading"></MbLoading>
    <div v-else>
        <div v-if="selectedClass" class="title">
            <a :href="'/structure/test/SomministrazioneStructureClassDetailsAction?classId=' + classId + '&id=' + somministrazioneId">
                <i class="fas fa-arrow-left"></i>
            </a>

            {{selectedClass.name}}
        </div>
        <div class="content">

            <div v-if="data" style="margin-bottom: 40px;">
                <div v-for="(testData, tk) in data.test_data" :key="tk"
                    class="row-100 my-5">
                    <h3>{{testData.test.name}}</h3>

                    <div >
                        <div v-for="(variable, vk) in testData.variables" :key="vk"
                            class="columns large-4 small-6 float-left">
                            <h4 class="text-center">{{variable.label}}</h4>

                            <MbTestFasceChart
                                :data="calcolaFasce(testData.test.test_id, variable.name, data.table)">
                            </MbTestFasceChart>
                        </div>
                    </div>
                </div>
            </div>

            <table v-if="data" ref="table">
                <thead>
                    <tr>
                        <th>
                            <a>
                                <i class="fas fa-download" @click="downloadData()"></i>
                            </a>
                        </th>
                        <th v-for="(testData, key) in data.test_data" :key="key" :colspan="Object.keys(testData.variables).length " style="text-align:center;">
                            {{testData.test.name}}
                        </th>
                    </tr>
                    <tr>
                        <th>Studente</th>
                        <template v-for="(testData, key) in data.test_data">
                            <th v-for="(variable, key) in testData.variables">
                                {{variable.label}}
                            </th>
                        </template>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(row, key) in data.table" :key="key">
                        <td class="class_name">
                            {{row.class_user.name}}
                            {{row.class_user.surname}}
                        </td>
                        <template v-for="(testData, key) in data.test_data" >
                            <td v-if="!row.tests[testData.test.test_id] || !row.tests[testData.test.test_id].status" :colspan="Object.keys(testData.variables).length"> 
                                <i class="fas fa-exclamation-triangle color-red" title="Indicare se lo studente è assente, se ha eseguito la prova o se la prova non è valida"></i>
                            </td>
                            <td v-else-if="row.tests[testData.test.test_id].status == 'assente'"  :colspan="Object.keys(testData.variables).length">A</td>
                            <td v-else-if="row.tests[testData.test.test_id].status == 'non_valida'"  :colspan="Object.keys(testData.variables).length">NV</td>
                            <template v-else>
                                <td v-for="(variable, key) in testData.variables"
                                    :class="{
                                        'result-red': row.tests[testData.test.test_id].variables[key].fascia == 0,
                                        'result-yellow': row.tests[testData.test.test_id].variables[key].fascia == 1,
                                        'result-green': row.tests[testData.test.test_id].variables[key].fascia == 2
                                    }">
                                    {{row.tests[testData.test.test_id].variables[key].value}}
                                </td>
                            </template>
                        </template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</template>

<script>
import axios from "axios"
import MbTestFasceChart from "./common/MbTestFasceChart"
import MbLoading from "../../ui/base/MbLoading.vue"

export default{
    components: {
        MbTestFasceChart,
        MbLoading
    },
    props: {
        structureId: {
            type: Number
        },
        somministrazioneId: {
            type: Number
        },
        classId: {
            type: Number
        },
        selectedClass: {
            type: Object
        }
    },
    data(){
        return {
            data: {},
            isLoading: true
        }
    },
    mounted(){
        this.loadData()
    },
    methods: {
        loadData(){
            this.isLoading = true

            let url = "/structure/test/SomministrazioneStructureClassStatsAction-loadData?id=" + this.somministrazioneId + "&classId=" + this.classId
            if (this.structureId){
                url += "&structureId=" + this.structureId
            }

            axios.get(url)
                .then((response) => {
                    this.isLoading = false
                    this.data = response.data.result
                })
        },
        calcolaFasce(testId, variableName, data){
            let counts = [0, 0, 0, 0, 0, 0]
            
            for (let row of data){
                if (!row.tests || !row.tests[testId]){
                    continue
                }

                if (row.tests[testId].status == 'non_valida') {
                    counts[5]++
                    continue;
                }

                if (row.tests[testId].status == 'assente') {
                    counts[3]++
                    continue;
                }

                if (row.tests[testId].status == null) {
                    counts[4]++
                    continue;
                }

                if (row.tests[testId].status != 'somministrata' || !row.tests[testId].variables[variableName]){
                    continue
                }

                counts[row.tests[testId].variables[variableName].fascia]++
            }

            return counts
        },
        downloadData(){
            let data = {
                rows: [
                    {
                        index: 1,
                        isHeader: true,
                        columns: [
                            {
                                index: 1,
                                value: "Studente"
                            }
                        ]
                    }
                ]
            }

            for (let testData of this.data.test_data){
                for (let vi in testData.variables){
                    let variable = testData.variables[vi]
                    data.rows[0].columns.push({
                        index: data.rows[0].columns.length + 1,
                        value: variable.label
                    })
                    data.rows[0].columns.push({
                        index: data.rows[0].columns.length + 1,
                        value: "Punteggio"
                    })
                    data.rows[0].columns.push({
                        index: data.rows[0].columns.length + 1,
                        value: "Fascia"
                    })
                }
            }

            for (let row of this.data.table){
                let columns = [
                    {
                        index: 1,
                        value: row.class_user.name + " " + row.class_user.surname
                    }
                ]

                for (let testData of this.data.test_data){
                    if (!row.tests[testData.test.test_id] || !row.tests[testData.test.test_id].status){
                        columns.push({
                            index: columns.length + 1,
                            value: "NV"
                        })
                        continue
                    }

                    if (row.tests[testData.test.test_id].status == 'assente'){
                        columns.push({
                            index: columns.length + 1,
                            value: "A"
                        })
                        continue
                    }

                    for (let vi in testData.variables){
                        let variable = testData.variables[vi]
                        
                        columns.push({
                            index: columns.length + 1,
                            value: row.tests[testData.test.test_id].status
                        })

                        if (row.tests[testData.test.test_id].status == 'somministrata'){
                            columns.push({
                                index: columns.length + 1,
                                value: row.tests[testData.test.test_id].variables[vi].value
                            })
                            columns.push({
                                index: columns.length + 1,
                                value: row.tests[testData.test.test_id].variables[vi].fascia
                            })
                        }
                    }
                }

                data.rows.push({
                    index: data.rows.length + 1,
                    columns: columns
                })
            }

            this.generateExcel(data)
        },
        generateExcel(data){
            axios({
                url: "/public/api/xlsx/JsonToXlsxAction",
                method: 'POST',
                responseType: 'blob',
                data: data
            }).then((response) => {
                const url = window.URL.createObjectURL(new Blob([response.data]))
                const link = document.createElement('a')
                link.href = url
                link.setAttribute('download', 'report.xls')
                document.body.appendChild(link)
                link.click()
            })
        }
    }
}

</script>
<style scoped>
.title{
	background-color: #eeeeee;
    padding: 15px;
    font-weight: 800;
}
.content{
    padding: 15px;
}

table{
    width: 100%;
}
thead tr:last-child th{
    position: sticky;
    top: 0px;
    background-color: #eeeeee;
}
td{
    text-align: center;
}
.class_name{
    width: 170px;
    font-size: 12px;
    display: block;
    text-align: left;
}
.result{
    padding: 5px;
}
.result-red{
    background-color: red;
    color: white;
}
.result-yellow{
    background-color: yellow;
}
.result-green{
    background-color: lightgreen;
}
</style>