<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <div class="somministrazione-structure">
        <div class="title">
            {{ structure.name }}
        </div>
        <div class="content">
            <div class="row-100 referenti">
                <div class="columns small-3 referenti">
                    <strong>Referenti</strong>
                </div>
                <div class="columns small-9 referenti">
                    <multiselect
                        v-model="structureUsersReferent"
                        :options="structureUsers" 
                        placeholder="Selezionare un valore" 
                        label="text" 
                        track-by="value"
                        :allow-empty="true"
                        :multiple="true" 
                        :taggable="true"
                        :disabled="readOnly || !canUserAccessUrl(SOMMINISTRAZIONE_REFERENTI_PLESSO_ADD)"
                        @select="onUserSelect"
                        @remove="onUserRemove">
                    </multiselect>
                </div>
            </div>

            <div class="row-100">
                <div class="columns small-3 referenti">
                    <strong>Classi</strong>
                </div>
                <div class="columns small-9 class-content">
                    <div v-if="structureClassess.length == 0" class="class-list-message">
                        Nessuna classe inserita
                    </div>
                    <div v-else v-for="(structureClass, k) in structureClassess" :key="k" class="structure-class">
                        <a :href="'/structure/test/SomministrazioneStructureClassDetailsAction?classId=' + structureClass.structure_class_id + '&id=' + somministrazione.somministrazione_id">
                            {{structureClass.name}} / {{structureClass.section}}
                        </a>
                    </div>
                    <a v-if="!readOnly && canUserAccessUrl(SOMMINISTRAZIONE_CLASSE_ADD)" 
                        :href="'/structure/test/SomministrazioneStructureClassAction?subStructureId=' + structure.structure_id + '&id=' + somministrazione.somministrazione_id"
                        class="button radius nuovo float-right tiny">
                        <i class="fa fa-plus"> Aggiungi classe</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Multiselect from 'vue-multiselect'

import UserServiceMixin from "@/service/UserServiceMixin"
import SomministrazioneService from "./SomministrazioneService"

export default{
    mixins: [
        UserServiceMixin
    ],
    components: {
        Multiselect
	},
    props: {
        readOnly: {
            type: Boolean,
            default: false
        },
        structure: {
            type: Object
        },
        somministrazione: {
            type: Object
        },
        somministrazioneTests: {
            type: Array
        },
        structureUsers: {
            type: Array,
            default(){
                return []
            }
        },
        structureUsersReferent: {
            type: Array,
            default(){
                return []
            }
        },
        structureClassess: {
            type: Array,
            default(){
                return []
            }
        }
    },
    data(){
        return {
        }
    },
    methods: {
        onUserSelect(user){
            SomministrazioneService.addUserToStructureReferent(
                user.value,
                this.structure["structure_id"]
            ).then((data) => {
                if (!data.result){

                    return;
                }
            })
        },
        onUserRemove(user){
            SomministrazioneService.removeUserFromStructureReferent(
                user.value,
                this.structure["structure_id"]
            ).then((data) => {
                if (!data.result){

                    return;
                }
            })
        }
    }

}
</script>
<style scoped>
.somministrazione-structure{
	margin-bottom: 30px;
}
.title{
	background-color: #eeeeee;
    padding: 15px;
    font-weight: 800;
}
.content{
    padding: 15px;
}
.referenti{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.class-content{
    padding: 10px;
}
.class-list-message{
    font-style: italic;
}
.class-add{
    padding-top: 13px;
    display: block;
}
.structure-class{
    padding: 5px;
}
.structure-class .selected{
    text-decoration: underline;
}
</style>