<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <div>
        <mb-table query-name="admin.test.SomministrazioneQuery" >
            <template #custom-columns="{content, visibleColumns}">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    <div v-if="columnId == 'tests'">
                        <div v-for="(test, testId) in content.tests" :key="testId">
                            {{test.name}}
                        </div>
                    </div>
                    <div v-else-if="columnId == 'data_inizio'">
                        {{content[columnId] | date}}
                    </div>
                    <div v-else-if="columnId == 'data_fine'">
                        {{content[columnId] | date}}
                    </div>
                    <div v-else-if="columnId == 'status'">
                        <div :class="'square ' + content[columnId].key">
                        </div>
                        {{content[columnId].value}}
                    </div>
                    <div v-else>
                        {{content[columnId]}}
                    </div>
                </td>
                <td>
                    <a 
                        v-if="canUserAccessUrl('/structure/test/SomministrazioneAction')"
                        :href="'/structure/test/SomministrazioneAction?id=' + content.somministrazione_id"
                        class="button tiny secondary radius">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                    <a v-if="canUserAccessUrl('/structure/test/SomministrazioneStatsAction')"
                        :href="'/structure/test/SomministrazioneStatsAction?id=' + content.somministrazione_id" 
                        class="button tiny secondary radius">
                        <i class="fas fa-chart-bar"></i>
                    </a>
                </td>
            </template>
        </mb-table>
    </div>
</template>
<script>
import UserServiceMixin from "@/service/UserServiceMixin"

export default {
    mixins: [
        UserServiceMixin
    ]
}

</script>
<style scoped>
.square {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
}
.waiting{
    background-color: yellow;
}
.open{
    background-color: lightgreen;
}
.closed{
    background-color: red;
}
</style>
