<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <div class="somministrazione-structure">
        <div class="title">
            <a :href="'/structure/test/SomministrazioneAction?id=' + somministrazione.somministrazione_id">
                <i class="fas fa-arrow-left"></i>
            </a>

            {{selectedClass.name}}

            <div style="float: right">
                <a :href="'/structure/test/SomministrazioneStructureClassStatsAction?id=' + somministrazione.somministrazione_id + '&classId=' + selectedClass.structure_class_id" 
                    class="button tiny secondary radius"
                    style="position: relative; top: -8px;"
                    >
                    <i class="fas fa-chart-bar"></i>
                </a>
                <a v-if="canUserAccessUrl(SOMMINISTRAZIONE_CLASSE_REMOVE)"
                    @click="onClickClassRemove()"
                    class="button tiny secondary radius"
                    style="position: relative; top: -8px;"
                    >
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </div>
        <div class="content">
            <div class="row-100 referenti">
                    <div class="columns small-3 referenti">
                        <strong>Insegnanti</strong>
                    </div>
                    <div class="columns small-9 referenti">
                        <multiselect v-model="classTeachers" 
                            :options="structureUsers" 
                            placeholder="Selezionare un valore" 
                            label="text" 
                            track-by="value"
                            :allow-empty="true"
                            :multiple="true" 
                            :taggable="true"
                            :disabled="readOnly || !canUserAccessUrl(SOMMINISTRAZIONE_INSEGNANTI_CLASSE_ADD)"
                            @select="onUserSelect"
                            @remove="onUserRemove">
                        </multiselect>
                    </div>
                </div>

                <div class="row-100">
                    <div class="columns small-3 referenti">
                        <strong>Test</strong>
                    </div>
                    <div class="columns small-9 referenti">
                        <div v-for="(st, key) in somministrazioneTests" :key="key" class="test">
                            <a class="button small expanded radius"
                                :href="'/structure/test/SomministrazioneTestAction?id=' + somministrazione.somministrazione_id + '&classId=' + selectedClass.structure_class_id + '&testId=' + st.test_id">
                                {{st.test.name}}
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row-100">
                    <div class="columns small-3 referenti">
                        <strong>Studenti</strong>
                    </div>
                    <div class="columns small-9 referenti">
                        <mb-table 
                            queryName="admin.test.StructureClassUserQuery" 
                            :onPostPrepareRequest="onPostPrepareRequest"
                            paginatorType="NONE"
                            :displayTools="false">
                            <template #custom-columns="{content, visibleColumns}">
                                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                                    <div v-if="columnId == 'birth_date'">
                                        {{content[columnId] | date}}
                                    </div>
                                    <div v-else>
                                        {{content[columnId]}}
                                    </div>
                                </td>
                                <td style="width: 110px;">
                                    <a 
                                        v-if="canUserAccessUrl(SOMMINISTRAZIONE_STUDENTE_ADD)"
                                        :href="'/structure/test/SomministrazioneStructureClassDetailsAction-newUserFull?userId=' + content.user_id + '&id=' + somministrazione.somministrazione_id + '&classId=' + selectedClass.structure_class_id" class="table-button">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a 
                                        v-if="canUserAccessUrl(SOMMINISTRAZIONE_STUDENTE_REMOVE)"
                                        @click="onClickRemoveUser(content)" class="table-button">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <a 
                                        v-if="canUserAccessUrl(SOMMINISTRAZIONE_STUDENTE_TRANSFER)"
                                        :href="'/structure/test/SomministrazioneTrasferisciAction?userId=' + content.user_id" class="table-button">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </td>
                            </template>
                        </mb-table>

                        <a v-if="status != 'closed' && canUserAccessUrl(SOMMINISTRAZIONE_STUDENTE_ADD)"
                            :href="'/structure/test/SomministrazioneStructureClassDetailsAction-changeSection?id=' + somministrazione.somministrazione_id + '&classId=' + selectedClass.structure_class_id" 
                            class="button radius nuovo float-right tiny">
                                <i class="fas fa-arrow-right"></i> Sposta tutti in altra sezione
                            </a>
                        </a>
                        <a v-if="status != 'closed' && canUserAccessUrl(SOMMINISTRAZIONE_STUDENTE_ADD)"
                            :href="'/structure/test/SomministrazioneStructureClassDetailsAction-newUser?id=' + somministrazione.somministrazione_id + '&classId=' + selectedClass.structure_class_id" 
                            class="button radius nuovo float-right tiny">
                                <i class="fa fa-plus margin-right"></i> Nuovo studente
                            </a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Multiselect from 'vue-multiselect'

import SomministrazioneService from "./SomministrazioneService"
import UserServiceMixin from "@/service/UserServiceMixin"

export default{
    mixins: [
        UserServiceMixin
    ],
    components: {
        Multiselect
	},
    props: {
        readOnly: {
            type: Boolean,
            default: false
        },
        status: {
            type: String,
            default: ""
        },
        somministrazione: {
            type: Object
        },
        somministrazioneTests: {
            type: Array
        },
        classTeachers: {
            type: Array
        },
        selectedClass: {
            type: Object
        },
        structureUsers: {
            type: Array,
            default(){
                return []
            }
        }
    },
    watch: {
        
    },
    computed: {
        
    },
    methods: {
        onClickClassRemove(){
            if (!confirm('Rimuovere la classe? Attenzione, gli studenti presenti non saranno più raggiungibili!')){
                return
            }

            window.location = '/structure/test/SomministrazioneStructureClassStatsAction-remove?id=' + this.somministrazione.somministrazione_id + '&classId=' + this.selectedClass.structure_class_id
        },
        onPostPrepareRequest(request){
            request["conditions"]["structure_class_id"] = this.selectedClass.structure_class_id;
            return request
        },
        onClickRemoveUser(user){
            if (!confirm("Rimuovere lo studente dalla classe?")){
                return;
            }

            window.location = '/structure/test/SomministrazioneStructureClassDetailsAction-remove?userId=' + user.user_id + 
                '&id=' + this.somministrazione.somministrazione_id + 
                '&classId=' + this.selectedClass.structure_class_id
        },
        onUserSelect(user){
            SomministrazioneService.addUserToStructureClassTeacher(
                user.value,
                this.selectedClass["structure_class_id"]
            ).then((data) => {
                if (!data.result){
                    return;
                }
            })
        },
        onUserRemove(user){
            SomministrazioneService.removeUserFromStructureClassTeacher(
                user.value,
                this.selectedClass["structure_class_id"]
            ).then((data) => {
                if (!data.result){
                    return;
                }
            })
        }
    }
}
</script>
<style scoped>
.title{
	background-color: #eeeeee;
    padding: 15px;
    font-weight: 800;
}
.content{
    padding: 15px;
}

.row-100{
    margin-bottom: 20px;
}

.test{
    margin-bottom: 15px;
}
</style>