<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
<div>
    <input type="checkbox" :id="'structure_' + structure.id" :name="'structure_' + structure.id" v-model="value.checked" :value="structure.id"> 
    <label :for="'structure_' + structure.id">{{structure.name}}</label>
    <multiselect 
        v-if="value.checked"
        v-model="value.roles" 
        :options="roles" placeholder="Selezionare un valore" 
        label="text" track-by="value"
        :allow-empty="true"
        :multiple="true">
    </multiselect>
</div>
</template>

<script>
import Multiselect from 'vue-multiselect'

export default {
    components: {
        Multiselect
    },
    props: {
        structure: {},
        roles: {},
        value: {
            type: Object,
            defailt(){
                return {
                    checked: false,
                    roles: []
                };
            }
        }
    }
}
</script>

<style>

</style>
