<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <div>
        <template v-if="structures">
            <mb-input-structure-ref-single 
                v-for="(structure, index) in structures" :key="index"
                v-model="values[index]"
                :structure="structure"
                :roles="roles"
                >
            </mb-input-structure-ref-single>
        </template>
        <input :name="inputName" :value="outValue" type="hidden"/>
    </div>
</template>

<script>
import MbInputStructureRefSingle from "./MbInputStructureReferentSingle";
import DataUtils from '../../../utils/DataUtils';

export default {
    components: {
        MbInputStructureRefSingle
    },
    props: {
        inputName: {type: String},
        structures: {},
        roles: {},
        values: {
            default() { return [] }
        }
    },
    computed: {
        outValue(){
            return DataUtils.encodeData(this.values);
        }
    }
}
</script>

<style>

</style>
