<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
<div>
    <mb-table
        queryName="structure.UserRefQuery"
        >
        <template #custom-columns="{content, visibleColumns}">
            <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                <div v-if="columnId == 'roles'">
                    <ul>
                        <li v-for="(role, rk) in content[columnId]" :key="rk">
                            {{role}}
                        </li>
                    </ul>
                </div>
                <div v-else>
                    {{content[columnId]}}
                </div>
            </td>
            <td style="width: 80px;">
                <a v-if="content['has_portfolio']" :href="'/structure/portfolio/PortfolioAction?userId=' + content['user_id']"
                    class="button tiny secondary radius">
                    <i class="far fa-address-book"></i>
                </a>
                <a :href="'/structure/UserRefAction-edit?userId=' + content['user_id']" 
                    class="button tiny secondary radius">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a @click="removeUser(content)"
                    class="button tiny secondary radius">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </template>
    </mb-table>
</div>
</template>
<script>
export default{
    methods: {
        removeUser(content){
            if (!confirm("Rimuovere l'utente?")){
                return;
            }

            window.location = '/structure/UserRefAction-remove?userId=' + content['user_id'];
        }
    }
}
</script>
<style scoped>
ul{
    margin-bottom: 0px;
    list-style-type: none;
}
</style>