<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
<div>
    <MbTestBase
        :isLoading="isLoading"
        :backAction="backAction"
        :noteCompilazione="noteCompilazione"
        :isExportEnabled="true"
        :displayAlert="displayAlert"
        @onClickExport="onClickExport"
        @onClickSubmit="onClickSubmit">
        <template #header-additional-columns>
            <th class="text-center">Prova letta<br/>da ins.</th>
            <th v-for="(word, k) in repliesToDraw()" :key="k" class="words text-center">
                {{(parseInt(k) + 1)}} - {{word}}
            </th>
            <th>Corrette</th>    
        </template>
        <template #table-body>
            <MbTestRow 
                v-for="(student, k) in results.students" 
                :key="k"
                v-model="results.students[k]"
                :read-only="readOnly"
                :replies="parameters"
                :soglie="soglie">
            </MbTestRow>
        </template>
    </MbTestBase>
</div>
</template>
<script>
import MbTextMixin from "../common/MbTestMixin"
import MbTestRow from "./MbTestRow"
import MbTestBase from "../common/MbTestBase"
import TestService from "./../TestService"

export default{
    mixins: [MbTextMixin],
    components: {
        MbTestRow,
        MbTestBase
    },
    methods: {
        repliesToDraw(){
            let rtd = {}
            let i = 0
            for (let k in this.parameters){
                if (!this.parameters[k]){
                    continue
                }
                rtd[i] = this.parameters[k]
                i++
            }
            return rtd
        },
        onClickExport(){
            var headerCols = [
                    {
                        index: 1, value: 'Studente'
                    },
                    {
                        index: 2, value: 'Stato'
                    },
                    {
                        index: 3, value: 'Prova letta da insegnante'
                    },
                ]

            let cIndex = 4;
            for (let i in this.parameters){
                if (!this.parameters[i]){
                    continue
                }

                headerCols.push({
                    index: cIndex, value: this.parameters[i]
                })
                cIndex++
            }

            headerCols.push({
                index: cIndex++, value: "Corrette"
            }, {
                index: cIndex++, value: "Fascia"
            })

            let data = {
                rows: [
                    {
                        index: 1,
                        isHeader: true,
                        columns: headerCols
                    }
                ]
            }

            for (let i = 0; i < this.data.length; i++){
                let dataRow = this.data[i]

                let columns = [{
                        index: 1, value: dataRow.user.name + ' ' + dataRow.user.surname
                    }, {
                        index: 2, value: dataRow.status  
                    }, {
                        index: 3, value: dataRow.row_data ? dataRow.row_data.prova_letta_da_insegnante : false
                    }
                ]

                cIndex = 4
                for (let i in this.parameters){
                    if (!this.parameters[i]){
                        continue
                    }

                    columns.push({
                        index: cIndex, value: dataRow.raw_data[i]
                    })
                    cIndex++
                }

                columns.push({
                    index: cIndex++, value: dataRow.scores['risposte_corrette']
                })

                let soglia = this.soglie["risposte_corrette"]
                let value = dataRow.scores["risposte_corrette"]
                let fascia = TestService.evaluate(soglia, value)
                columns.push({
                    index: cIndex, value: fascia
                })

                let row = {
                    index: i + 2,
                    columns: columns
                }
                data.rows.push(row)
            }

            this.generateExcel(data)
        }
    }
}
</script>