<template>
    <div class="field-codes">
        <table>
            <thead>
                <tr>
                    <td>Codice diagnostico</td>
                    <td style="width: 472px;">Dicitura completa</td>
                    <td style="width: 40px !important;"></td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, i) in items" :key="i">
                    <td>
                        <input v-model="items[i].code" :disabled="read_only" type="text" maxlength="7" size="7" style="width: 60px;" />    
                    </td>
                    <td>
                        <input v-model="items[i].description" :disabled="read_only" type="text" maxlength="100" />
                        <small v-if="!items[i].description || items[i].description == '' " class="error">
                            Valore richiesto
                        </small>

                        <template v-if="displayGravita(items[i])">
                            Gravità:
                            <select v-model="items[i].gravita_dictionary_id" :disabled="read_only">
                                <option></option>
                                <option v-for="(o, ok) in gravitaOptions" :key="ok"
                                    :value="o.id">{{ o.label }}</option>
                            </select>
                        </template>
                    </td>
                    <td class="vertical-align-middle">
                        <a v-if="!read_only" v-on:click="onClickRemove(i)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr v-if="!read_only">
                    <td colspan="3" class="text-center">
                        <a v-on:click="onClickSearch()" style="margin-right: 10px;">
                            <i class="fa fa-plus"></i> Cerca
                        </a>

                        <a v-on:click="onClickAdd()">
                            <i class="fa fa-plus"></i> Aggiungi
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <span v-if="errors && errors.length > 0" class="error">
            <div v-for="(error, i) in errors" :key="i">
                {{error}}
            </div>
        </span>
    
        <MbModal ref="search">
            <template v-slot:content>
                <div>
                    <h3>Cerca codice diagnostico</h3>
                    <div>
                        <mb-table query-name="admin.eModel.EModelManageCodesAdminQuery">
                            <template #custom-columns="{content, visibleColumns}">
                                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                                    <div>
                                        {{content[columnId]}}
                                    </div>
                                </td>
                                <td style="width: 80px;">
                                    <a v-if="canAdd(content)" @click="onClickAddItem(content)"
                                        class="button tiny secondary radius">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </td>
                            </template>
                        </mb-table>
                    </div>
                    <div class="text-center">
                        <button class="button my-button" @click="close">Chiudi</button>
                    </div>
                </div>
            </template>
        </MbModal>

        <input type="hidden" :name="name + '_data'" :id="name + '_data'"
            :value="encodedValue" />
    </div>
</template>
<script>

import MbModal from '../../ui/modal/MbModal.vue'

export default {
    components: {
        MbModal
    },
    prop: {
        name: String,
        value: Array,
        errors: Array,
        read_only: Boolean,
    },
    data() {
        return {
            items: [],
            gravitaOptions: [
                { id: 593, label: 'Livello di gravità 1: è necessario supporto' },
                { id: 594, label: 'Livello di gravità 2: è necessario un supporto significativo' },
                { id: 595, label: 'Livello di gravità 3: è necessario un supporto molto significativo' },
            ],
            codes: []
        }
    },
    computed: {
        internalValue: {
            get() {
                return this.value
            },
            set(value) {
                this.items = value
            }
        },
        encodedValue() {
            var encoded = JSON.stringify(this.items);
            encoded = encoded.trim();
            encoded = encodeURI(encoded);
            return encoded
        }
    },
    mounted() {
        this.internalValue = this.value
    },
    methods: {
        displayGravita(item) {
            if (!item || !item.code) {
                return false
            }

            var cleanCode = item.code.toLowerCase().trim().replace(/\s/g, '')
            if (cleanCode == 'f84') {
                return true
            }

            return false
        },
        onClickSearch() {
            this.$refs.search.open()
        },
        onClickAdd() {
            this.items.push({
                code: "",
                description: ""
            })
        },
        canAdd(item){
            if (!this.items || this.items.length == 0){
                return true
            }

            let lastItem = this.items.find(i => i.code == item['key'])
            if (!lastItem){
                return true
            }

            return false
        },
        onClickAddItem(item) {
            this.items.push({
                code: item['key'],
                description: item['value']
            })
            this.$refs.search.close()
        },
        onClickRemove: function (index) {
            this.items.splice(index, 1)
        }
    }
}

</script>
<style scoped>
.field-codes .button.my-button {
    margin-top: 15px;
    height: 38px;
    margin-bottom: 0px;
}

.field-codes td {
    vertical-align: top;
}

.field-codes error {
    color: red;
}
</style>