<template>
    <div>
        <MbModal ref="submitModal">
            <template #content>
                <h3>Attenzione</h3>

                <div class="message">
                    Attenzione, salvando i dati il modulo verrà inviato in verifica all'amministratore e non sarà possibile apportare modifiche prima del completamento della verifica.
                    Procedere?
                </div>

                <div class="buttons">
                    <button @click="onClickNext()" style="margin-right:10px;">Procedi</button>
                    <button @click="close()" class="alert">Annulla</button>
                </div>
            </template>
        </MbModal>
    </div>
</template>
<script>

import MbModal from "@/components/ui/modal/MbModal"

export default {
    components: {
        MbModal
    },
    props: {
        primaria_school_year: Object,
        secondaria_school_year: Object,
    },
    data() {
        return {
            allowSubmit: false
        }
    },
    mounted() {
        let _this = this

        window.$(function() {
            window.$('#form_generic').submit(function (e) {
                if (!_this.allowSubmit) {
                    e.preventDefault()
                    _this.onSubmit()
                }
            })

            window.$(() => {
                window.$('#monte_ore_scolastico').on('change', _this.onUpdateMonteOre)
                _this.onUpdateMonteOre()
            })

            window.$('#class').on("change", _this.onChangeClass);
            _this.onChangeClass()
        })
    },
    beforeDestroy() {
        window.$('#monte_ore_scolastico').off('change', this.onUpdateMonteOre)
    },
    methods: {
        onChangeClass(){
            let val = window.$("#class").val()
            if (!val){
                return
            }
            
            let selectedYear = this.primaria_school_year
            if (val.indexOf("S2") !== -1){    
                selectedYear = this.secondaria_school_year
            }

            if (!vueComponents || !vueComponents["select2-school_year_id"]){
                return
            }

            vueComponents["select2-school_year_id"].value = [{
                text: selectedYear.school_year,
                value: selectedYear.school_year_id
            }];
        },
        onSubmit() {
            this.$refs.submitModal.open()
        },
        onClickNext() {
            this.allowSubmit = true
            this.$refs.submitModal.close()
            window.$('#form_generic').submit()    
        },
        close() {
            this.$refs.submitModal.close()
            window.resetFormSubmit('#form_generic');
        },
        onUpdateMonteOre(){
            let monteOre = window.$('#monte_ore_scolastico').val()
            window.$('#campo_form_unita_oraria').hide()
            if (typeof monteOre != undefined && monteOre != '' && monteOre !== 0){
                window.$('#campo_form_unita_oraria').show()
            }
        }
    }
}
</script>
