<template>
    <mb-table
        query-name="admin.drop-out.DropOutReferentiAdminQuery">
            <template #custom-columns="{content, visibleColumns}">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    <div v-if="columnId == 'insert_date'">
                        {{content[columnId] | date-time}}
                    </div>
                    <div v-else-if="columnId == 'drop_out_status'">
                        <div :class="['square', content[columnId]]"></div>
                    </div>
                    <div v-else>
                        {{content[columnId]}}
                    </div>
                </td>
                <td style="width: 80px;">
                </td>
            </template>
    </mb-table>
</template>
<script>
</script>
<style scoped>
.square{
    width: 25px;
    height: 25px;
    border: 1px solid gray;
}
.green{
    background-color: lightgreen;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
</style>