<template>
    <mb-table
        query-name="admin.drop-out.DropOutAdminQuery">
            <template #custom-columns="{content, visibleColumns}">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    <div v-if="columnId == 'insert_date'">
                        {{content[columnId] | date-time}}
                    </div>
                    <div v-else-if="columnId == 'drop_out_status'">
                        <div :class="['square', content[columnId]]"></div>
                    </div>
                    <div v-else>
                        {{content[columnId]}}
                    </div>
                </td>
                <td style="width: 80px;">
                    <a :href="'/admin/dropOut/DropOutAdminAction-details?documentId=' + content.user_year_document_id" 
                        class="button tiny secondary radius">
                        <i class="fas fa-list"></i>
                    </a>
                </td>
            </template>
    </mb-table>
</template>
<script>
</script>
<style scoped>

>>> table{
    width: max-content !important;
}

.square{
    width: 25px;
    height: 25px;
    border: 1px solid gray;
}
.green{
    background-color: lightgreen;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
</style>