<template>
    <div>
        <mb-loading v-if="isLoading"></mb-loading>
        <div v-else>
            <div ref="pivot"></div>
        </div>
    </div>
</template>
<script>
import axios from "axios"
import MbLoading from "@/components/ui/base/MbLoading"

export default {
    components: {
        MbLoading
    },
    data() {
        return {
            showFieldList: true,
            isLoading: true
        }
    },
    watch: {

    },
    mounted(){
        this.isLoading = true

        axios.get('/admin/dropOut/DropOutDashboardAdminAction-getData')
            .then((response) => {
                this.isLoading = false
                let data = response.data.map(row => {
                    let res = {}
                    for (let k in row){
                        let renamek = k
                        switch(k){
                            case 'school_year': renamek = 'Anno scolastico'; break;
                            case 'plesso': renamek = 'Plesso'; break;
                            case 'istituto': renamek = 'Istituto'; break;
                            case 'drop_out_age': renamek = 'Età alla segnalazione'; break;
                            case 'drop_out_status': renamek = 'Stato drop out'; break;
                        }

                        res[renamek] = row[k]
                    }
                    return res
                })

                this.$nextTick(() => {
                    window.$(this.$refs.pivot).pivotUI(
                        data,
                        {
                            rows: ["Istituto", "Plesso"],
                            cols: ["Anno scolastico"]
                        }
                    )
                })
            })
    },
    methods: {
        onClickExport() {
            let pivotGridObj = document.getElementById('pivotview').ej2_instances[0];
            pivotGridObj.excelExport();
        }
    }
}
</script>