<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <MbTestBase
        :isLoading="isLoading"
        :backAction="backAction"
        :noteCompilazione="noteCompilazione"
        :isExportEnabled="true"
        :displayAlert="displayAlert"
        @onClickExport="onClickExport"
        @onClickSubmit="onClickSubmit">
        <template #header-additional-columns>
            <th class="text-center">Ripetizione</th>
            <th class="text-center">Memoria lavoro</th>
        </template>
        <template #pre-header-columns>
            <tr>
                <th class="text-center" colspan="4"></th>
                <th class="text-center" colspan="6">Ripetizione</th>
                <th class="text-center" colspan="6">Memoria lavoro</th>
                <th></th>
            </tr>
        </template>
        <template #header-additional-columns>
            <th v-for="(l, i) in ripetizioneColumns" :key="'r_' + i">
                {{l}}
            </th>
            <th>Totale</th>
            <th v-for="(l, i) in memoriaColumns" :key="'l_' + i">
                {{l}}
            </th>
            <th>Totale</th>
        </template>
        <template #table-body>
            <MbTestRow 
                v-for="(student, k) in results.students" :key="k"
                v-model="results.students[k]"
                :read-only="readOnly"
                :replies="parameters"
                :soglie="soglie">
            </MbTestRow>
        </template>
    </MbTestBase>
</template>
<script>
import TestService from "./../TestService"

import MbTextMixin from "../common/MbTestMixin"
import MbTestBase from "../common/MbTestBase"
import MbTestRow from "./MbTestRow"
import SomministrazioneService from "../SomministrazioneService"

export default{
    mixins: [MbTextMixin],
    components: {
        MbTestBase,
        MbTestRow
    },
    data(){
        return {
            ripetizioneColumns: [],
            memoriaColumns: []
        }
    },
    mounted(){
        if (this.bag.somministrazione.periodo_dictionary_value == 'iniziale'){
            this.ripetizioneColumns = [
                'LUPO - TOPO - CAPRA',
                'AUTO - AEREO - MOTO',
                'COLTELLO - SCATOLA - CUSCINO',
                'LEONE - RANA - MOSCA - GALLO',
                'TRENO - TORRE - VASEO - TAVOLO'
            ]
            this.memoriaColumns = [
                'TOPO', 'AUTO', 'CUSCINO', 'MOSCA', 'TORRE'
            ]
        } else {
            this.ripetizioneColumns = [
                'LIBRO - SASSO - PALLA',
                'SCARPE - TORTA - FIUME',
                'PANE - GATTO - SOLE - NEVE',
                'MANO - NASO - COLLO - PIEDE',
                'SCIARPA - FIORE - PIZZA - CORDA'
            ]
            this.memoriaColumns = [
                'LIBRO', 'TORTA', 'SOLE', 'NASO', 'SCIARPA'
            ]
        }
    },
    methods: {
        validateData(){
            return SomministrazioneService.validate(this.results)
        },
        onClickExport(){
            let data = {
                rows: [
                    {
                        index: 1,
                        isHeader: true,
                        columns: [
                            {
                                index: 1, value: 'Studente'
                            },
                            {
                                index: 2, value: 'Stato'
                            }
                        ]
                    }
                ]
            }

            let cIndex = data.rows[0].columns.length + 1
            for (let i = 0; i < this.ripetizioneColumns.length; i++){
                data.rows[0].columns.push({
                    index: cIndex++, value: this.ripetizioneColumns[i]
                })
            }
            data.rows[0].columns.push({
                index: cIndex++, value: "Totale"
            })
            data.rows[0].columns.push({
                index: cIndex++, value: "Fascia"
            })

            for (let i = 0; i < this.memoriaColumns.length; i++){
                data.rows[0].columns.push({
                    index: cIndex++, value: this.memoriaColumns[i]
                })
            }
            data.rows[0].columns.push({
                index: cIndex++, value: "Totale"
            })
            data.rows[0].columns.push({
                index: cIndex++, value: "Fascia"
            })

            for (let i = 0; i < this.data.length; i++){
                let dataRow = this.data[i]
                
                let row = {
                    index: i + 2,
                    columns: [
                        {
                            index: 1, value: dataRow.user.name + ' ' + dataRow.user.surname
                        }, 
                        {
                            index: 2, value: dataRow.status  
                        }
                    ]
                }

                cIndex = row.columns.length + 1
                for (let i = 0; i < this.ripetizioneColumns.length; i++){
                    row.columns.push({
                        index: cIndex++, value: dataRow.raw_data["ripetizione_" + i]
                    })
                }
                row.columns.push({
                    index: cIndex++, value: dataRow.scores["ripetizione"]  
                })
                row.columns.push({
                    index: cIndex++, value: TestService.evaluate(this.soglie["ripetizione"], dataRow.scores["ripetizione"])
                })

                for (let i = 0; i < this.memoriaColumns.length; i++){
                    row.columns.push({
                        index: cIndex++, value: dataRow.raw_data["memoria_lavoro_" + i]
                    })
                }
                row.columns.push({
                    index: cIndex++, value: dataRow.scores["memoria_lavoro"]  
                })
                row.columns.push({
                    index: cIndex++, value: TestService.evaluate(this.soglie["memoria_lavoro"], dataRow.scores["memoria_lavoro"])
                })

                data.rows.push(row)
            }

            this.generateExcel(data)
        }
    }
}
</script>