<template>
    <div>
        <div
            v-if="documentToClose.length > 0"
            class="alert-box warning ">
            <strong>ATTENZIONE: </strong>
            Sono presenti documenti nei quali non è stata impostata la chiusura d'anno scolastico.<br/>

            <div v-for="(dc, dck) in documentToCloseByYear" :key="dck" class="mt-5">
                <div>
                    <strong>{{dc.school_year}}</strong>
                </div>

                <div class="mt-1 row-100">        
                    <a v-for="(row, rk) in dc.users" :key="rk"
                        :href="'/structure/dropOut/DropOutDetailsAction?documentId=' + row.user_year_document_id" 
                        class="columns small-3" style="color: white;">
                        {{row.code}}
                    </a>
                </div>
            </div>
        </div>

        <mb-table
            ref="table"
            queryName="structure.DropOutQuery"
        >
            <template #custom-columns="{content, visibleColumns}">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    <div v-if="columnId == 'drop_out_status'">
                        <div :class="['square', content[columnId]]"></div>
                    </div>
                    <div v-else>
                        {{content[columnId]}}
                    </div>
                </td>
                <td>
                    <a :href="'/structure/dropOut/DropOutDetailsAction?documentId=' + content['user_year_document_id']"
                        class="button tiny secondary radius">
                        <i class="fas fa-list"></i>
                    </a>
                </td>
            </template>
        </mb-table>
    </div>
</template>
<script>

export default{
    data() {
        return {
            documentToClose: []
        }
    },
    computed: {
        documentToCloseByYear(){
            let res = {}
            
            for(let row of this.documentToClose){
                if (!res[row.school_year]){
                    res[row.school_year] = {
                        school_year: row.school_year,
                        users: []
                    }
                }

                res[row.school_year].users.push(row)
            }
            return res
        }
    }
}
</script>
<style scoped>
.square{
    width: 25px;
    height: 25px;
    border: 1px solid gray;
}
.green{
    background-color: lightgreen;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
</style>