
#privacy_modal{
    display:none;
    background-color: #CCFFFF;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 100%;
    position: static;
    padding-bottom: 6px
}
#privacy_modal a{
  color: #0000FF  ;
  text-decoration: none;
}
#privacy_modal div{
    font-family: Candara, Arial, Helvetica, sans-serif;
    font-size:14px;
    display:block;
    color:#000;
    width:95%;
    margin: 0 auto;
}
#privacy_modal p{
	margin-top: 0px;
}
