<template>
    <mb-table
        query-name="admin.eModel.EModelAdminQuery"
        :onPostPrepareRequest="onPostPrepareRequest"
        :theadStyle="{
            'istituto': {
                'width': '200px'
            },
            'plesso': {
                'width': '200px'
            },
        }">
            <template #custom-columns="{content, visibleColumns}">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    <div v-if="columnId == 'insert_date'">
                        {{content[columnId] | date-time}}
                    </div>
                    <div v-else-if="columnId == 'last_edit_date'">
                        {{content[columnId] | date-time}}<br/>
                        {{content.last_edit_user_id}}
                    </div>
                    <div v-else-if="columnId == 'diagnosy_type_dictionary'" class="diagnosi" :title="content[columnId]">
                        {{content[columnId]}}
                    </div>
                    <div v-else-if="columnId == 'class'">
                        {{content[columnId]}}
                        <template v-if="content.sezione">
                            /{{content.sezione}}
                        </template>
                    </div>
                    <div v-else-if="columnId == 'ore_richieste'" class="text-right">
                        {{content[columnId]}}
                    </div>
                    <div v-else-if="columnId == 'ore_assegnate'">
                        <input :disabled="content.closed === 1" type="number" v-model="content[columnId]" max="100" min="0" maxlength="2" @change="onOreAssegnateChange(content)" />
                    </div>
                    <div v-else-if="columnId == 'codici'">
                        <div v-for="(c, ck) in content[columnId]" :key="ck">
                            <strong>{{c.code}}</strong> {{c.description}}
                        </div>
                    </div>
                    <div v-else-if="columnId === 'closed'" class="text-center">
                        <i v-if="content.closed" class="fas fa-lock"></i>
                        <i v-else class="fas fa-lock-open"></i>
                    </div>
                    <div v-else>
                        {{content[columnId]}}
                    </div>
                </td>
                <td style="width: 80px;">
                    <a :href="'/admin/eModel/EmodelAdminAction-edit?id=' + content.e_model_id" 
                        class="button tiny secondary radius">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </td>
            </template>
    </mb-table>
</template>
<script>

import axios from "axios"

export default {
    methods: {
        onPostPrepareRequest(request) {
            request.conditions["edited"] = 0
            return request
        },
        onOreAssegnateChange(content) {
            if (!content.ore_assegnate) {
                return;
            }
            if (content.ore_assegnate < 0) {
                content.ore_assegnate = 0
            }
            if (content.ore_assegnate > 100) {
                content.ore_assegnate = 99
            }

            axios.post('/admin/eModel/EmodelAdminAction-updateOreAssegnate', {
                "e_model_id": content.e_model_id,
                "ore_assegnate": content.ore_assegnate
            }).then()
        }
    }
}


</script>
<style scoped>
>>>table {
    width: max-content !important;
}

.diagnosi{
    max-width: 293px;
    text-overflow: ellipsis;
    height: 19px;
    overflow: hidden;
    white-space: nowrap;
}
</style>