<template>
    <div>
        <MbLoading v-if="isLoading" style="margin-top:40px;"></MbLoading>
        <div v-else>
            <div class="row-100">
                <div class="columns large-12" style="margin-bottom: 20px;">
                    <h3>Infanzia, primaria e secondaria di primo grado</h3>

                    <template v-if="primariaSchoolYear.school_year_id < currentSchoolYear.school_year_id">
                        <p>
                            Anno scolastico attuale: <strong>{{primariaSchoolYear.school_year}}</strong>
                        </p>
                        <p>
                            Anno scolastico dopo la chiusura: <strong>{{currentSchoolYear.school_year}}</strong>
                        </p>
                        <p>
                            <a @click="onClickClose('primaria')" class="button bbutton-primary">Esegui</a>
                        </p>
                    </template>
                    <template v-else>
                        <p>
                            L'anno scolastico impostato <strong>{{primariaSchoolYear.school_year}}</strong> è l'ultimo presente in piattaforma.<br/>
                            La chiusura sarà possibile solo dopo l'inserimento del nuovo anno scolastico.
                        </p>
                    </template>
                </div>
                            
                <div class="columns large-12">
                    <h3>Secondaria di secondo grado e formazione professionale</h3>

                    <template v-if="secondariaSchoolYear.school_year_id < currentSchoolYear.school_year_id">
                        <p>
                            Anno scolastico attuale: <strong>{{secondariaSchoolYear.school_year}}</strong>
                        </p>
                        <p>
                            Anno scolastico dopo la chiusura: <strong>{{currentSchoolYear.school_year}}</strong>
                        </p>
                        <p>
                            <a @click="onClickClose('secondaria')" class="button bbutton-primary">Esegui</a>
                        </p>
                    </template>
                    <template v-else>
                        <p>
                            L'anno scolastico impostato <strong>{{secondariaSchoolYear.school_year}}</strong> è l'ultimo presente in piattaforma.<br/>
                            La chiusura sarà possibile solo dopo l'inserimento del nuovo anno scolastico.
                        </p>
                    </template>
                </div>

                <div v-if="error" class="columns large-12 mt-2">
                    <span class="error">
                        {{error}}
                    </span>
                </div>
            </div>
        </div>

        <MbConfirmTextModal ref="confirm" confirmWord="conferma chiusura">
            <template #message>
                <strong>Attenzione:</strong> chiudendo i Moelli E per {{type}}:
                <ul class="my-2">
                    <li>I moduli attuali non saranno più modificabili</li>
                    <li>Verrà creata una copia del modello sul nuovo anno scolastico</li>
                    <li>I nuovi modelli saranno inseriti nel nuovo anno scolastico</li>
                </ul>

                <p>
                    Per confermare l'operazione digitare: "<i>conferma chiusura</i>" nel box sotto.
                </p>
            </template>
        </MbConfirmTextModal>
    </div>
</template>
<script>

import MbConfirmTextModal from "@/components/ui/modal/MbConfirmTextModal"
import axios from "axios"
import MbLoading from '@/components/ui/base/MbLoading'

export default {
    components: {
        MbConfirmTextModal,
        MbLoading
    },
    props: {
        currentSchoolYear: Object,
        primariaSchoolYear: Object,
        secondariaSchoolYear: Object
    },
    data() {
        return {
            isLoading: false,
            error: '',
            type: ''
        }
    },
    methods: {
        onClickClose(type) {
            this.type = type
            this.error = ""

            let p =  {
                type: type,
                to_school_year_id: this.currentSchoolYear.school_year_id
            }

            if (type == "primaria"){
                p.from_school_year_id = this.primariaSchoolYear.school_year_id
            } else {
                p.from_school_year_id = this.secondariaSchoolYear.school_year_id
            }

            this.$refs.confirm.open(() => {
                this.isLoading = true
                axios.post('/admin/eModel/EModelCloseAdminAction-close', p)
                    .then((response) => {
                        if (response.data.hasErrors) {
                            this.error = response.data.error
                            this.isLoading = false
                            return;
                        }

                        window.location = "/admin/eModel/EModelCloseAdminAction"
                    })
            })
        }
    }
}
</script>
<style scoped>
a.button{
    width: 500px;
}
</style>