<template>
    <mb-table
        query-name="admin.eModel.EModelManageCodesAdminQuery"
        :onPostPrepareRequest="onPostPrepareRequest">
            <template #custom-columns="{content, visibleColumns}">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    <div>
                        {{content[columnId]}}
                    </div>
                </td>
                <td style="width: 80px;">
                    <a :href="'/admin/eModel/EmodelManageCodesAdminAction-edit?id=' + content.dictionary_id" 
                        class="button tiny secondary radius">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </td>
            </template>
    </mb-table>
</template>
<script>

export default {
    methods: {
        onPostPrepareRequest(request) {
            return request
        }
    }
}

</script>
<style scoped>
</style>