<template>
    <mb-table query-name="admin.eModel.EModelJournalQuery" :onPostPrepareRequest="onPostPrepareRequest">
        <template #custom-content="{ contents }">
            <div v-for="(content, ck) in contents" :key="ck" class="jrow">
                <div class="header">
                    {{content.insert_date | date-time}}: {{ content.name }} {{ content.surname }} ({{content.email}})
                </div>
                <div class="content">
                    <div class="field" v-for="(change, ck) of content.changes" :key="ck">
                        <i>{{ getFieldName( change.field_name ) }}</i>
                        <template v-if="change.field_name == 'e_model_codes'">
                            <div :set="codes = getPrintableValue(change.field_name, change.old_value)" class="d-flex">
                                <div style="min-width: 20px;">
                                    da
                                    <template v-if="codes.length == 0">
                                        <strong>vuoto</strong>
                                    </template>
                                </div>
                                <div>
                                    <div v-for="(code, ck) in codes" :key="ck">
                                        {{code.code}}: {{ code.description }} - {{ code.gravita_dictionary_id }}
                                    </div>
                                </div>
                            </div>
                            <div :set="codes = getPrintableValue(change.field_name, change.new_value)" class="d-flex">
                                <div style="min-width: 20px;">
                                    a 
                                    <template v-if="codes.length == 0">
                                        <strong>vuoto</strong>
                                    </template>
                                </div>
                                <div>
                                    <div v-for="(code, ck) in codes" :key="ck">
                                        {{code.code}}: {{ code.description }} - {{ code.gravita_dictionary_id }}
                                    </div>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            da <strong>{{ getPrintableValue( change.field_name, change.old_value) }}</strong>
                            a <strong>{{ getPrintableValue(change.field_name, change.new_value) }}</strong>
                        </template>
                    </div>
                </div>
            </div>
        </template>
    </mb-table>
</template>
<script>

export default {
    props: {
        id: Number
    },
    data() {
        return {
            fieldsNames: {
                "structure_id": "Istituto",
                "plesso_structure_id": "Plesso",
                "class": "Classe",
                "sezione": "Sezione",
                "tipo_frequenza_dictionary_id": "Tipo frequenza",
                "monte_ore_scolastico": "Monte ore scolastico",
                "diagnosy_type_dictionary": "Tipo diagnosi",
                "has_ore_richieste": "Richiede ore collaboratore",
                "ore_richieste": "Ore richieste collaboratore",
                "e_model_codes": "Codici diagnosi",
                "disabilita_visiva": "Disabilità visiva",
                "disabilita_uditiva": "Disabilità uditiva",
                "disabilita_motoria": "Disabilità motoria ausilio carrozzina",
                "grave_compromissione_sociale": "Grave compromissione sociale",
                "data_emissione": "Data emissione grave compromissione sociale",
                "note_amministratore": "Note amministratore",
                "note_per_referenti": "Note per referenti",
                "data_di_accertamento": "Data dell'invio della richiesta di accertamento"
            }
        }
    },
    methods: {
        onPostPrepareRequest(request) {
            request.conditions["entity_id"] = this.id
            return request
        },
        getFieldName(fieldName) {
            if (fieldName in this.fieldsNames) {
                return this.fieldsNames[fieldName]
            }
            return fieldName
        },
        getPrintableValue(fieldName, value) {
            if (value == null) {
                return "vuoto"
            }

            if (fieldName == "e_model_codes") {
                let codes = JSON.parse(value)
                return codes
            }

            if (typeof value == 'object') {
                if ("structure_id" in value) {
                    return value.name
                } else if ("dictionary_id" in value) {
                    return value.value
                }
            } 

            return value
        }
    },
}

</script>
<style scoped>
.jrow{
    margin: 10px;
}
.jrow .header{
    background-color: #DDD;
    font-weight: bold;
    padding: 10px;
    height: auto;
}
.jrow .conten{
    padding: 10px;
}
.jrow .field {
    margin-bottom: 5px;
}
</style>