<template>
<div v-if="displayModal">
    <div ref="dialog" class="reveal-modal inactive-dialog show-dialog" >
        <div>
            <h4>Disconnessione</h4>

            <p>
                Non si sta interagendo con il sistema da più di 10 minuti.<br/>
                La sessione verrà chiusa a breve.
            </p>

            <div @click="onClickcancell()" class="text-center">
                <button>
                    Annulla
                </button>
            </div>
        </div>
        <a @click="onClickcancell()" class="close-reveal-modal">×</a>
    </div>
    <div class="reveal-modal-bg" style="display:block;"></div>
</div>
</template>
<script>

let t, t2
let timeoutPeriod = 10 * 60 * 1000
let modal

export default{
    data(){
        return {
            displayModal: false
        }
    },
    mounted(){
        this.removeLocalStorage()
        this.callUserEvents()
    },
    methods: {
        callUserEvents(){  
            window.onload = this.incrementCounter  
            window.onfocus = this.incrementCounter

            window.onscroll = this.resetUserActivity
            window.onmousemove = this.resetUserActivity
            window.ondblclick = this.resetUserActivity
            window.oncontextmenu = this.resetUserActivity
            window.onclick = this.resetUserActivity
            window.onkeypress = this.resetUserActivity
            window.onpageshow = this.resetUserActivity
            window.onresize = this.resetUserActivity
            window.ondrag = this.resetUserActivity  
            window.oncopy = this.resetUserActivity
            window.oncut = this.resetUserActivity 
            window.onpaste = this.resetUserActivity
        },
        incrementCounter() {   
            this.checkIfUserLoggedOut()

            let counter = window.localStorage.getItem("counter")
            if (counter == "NaN") {  
                counter = 0
            } else {  
                counter = parseInt(counter) + 1
            }  

            window.localStorage.setItem("counter", counter)
            window.localCounter = counter

            this.resetTimer();  
        },
        checkIfUserLoggedOut() {  
            let loggedOut = window.localStorage.getItem("loggedOut")
            if (loggedOut) {  
                window.signout()
            }
        },
        removeLocalStorage() {  
            window.localStorage.removeItem("loggedOut")
        },
        resetUserActivity() {  
            this.resetTimer()
        },
        resetTimer() {  
            clearTimeout(t)
            t = setTimeout(this.handleIdleTimedOut, timeoutPeriod)
        },
        handleIdleTimedOut() {  
            let sharedCounter = window.localStorage.getItem("counter");  
            
            if (window.localCounter == sharedCounter) {  
                clearTimeout(t)

                this.openModal()

                t2 = setTimeout(() => {
                    window.localStorage.setItem("loggedOut", "true")
                    this.checkIfUserLoggedOut()
                }, 60000)
            }   
        },
        openModal(){
            this.displayModal = true
        },
        onClickcancell(){
            if (t2){
                clearTimeout(t2)
            }
            
            this.resetTimer()
            this.displayModal = false
        }
    }
}

</script>
<style scoped>

.show-dialog{
    display: block; opacity: 1; visibility: visible; top: 100px;
}

.inactive-dialog{
    width: 50%;
    left: 64%;
}

.inactive-dialog p {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
</style>