<template>
    <Multiselect
        track-by="value"
        label="text"
        :options="options"
        v-model="value"
        @input="onSelect()"
    ></Multiselect>
</template>
<script>
import Multiselect from 'vue-multiselect'

export default{
    components: {
        Multiselect
    },
    props: {
        options: Array,
        value: Object
    },
    data(){
        return{
            internalValue: {}
        }
    },
    watch: {
        value(){
            this.internalValue = this.value
        }
    },
    methods: {
        onSelect(){
            this.$nextTick(() => {
                if (!this.internalValue){
                    return
                }
                window.location.href = "/structure/HomeAction?selected_structure_id=" + this.internalValue.value;
            })
        }
    }
}
</script>
