<template>
    <div>
        <mb-table ref="table" queryName="structure.RilevazioneCattedreQuery">
            <template #custom-columns="{content, visibleColumns}">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    <template v-if="columnId == 'last_edit_date'">
                        {{ content[columnId] | date-time }}<br/>
                        {{ content.last_edit_user_id }}
                    </template>
                    <template v-else-if="columnId == 'edited'">
                        {{ content[columnId] == 1 ? 'Attesa verifica' : 'Ricevuta' }}
                    </template>
                    <div v-else-if="columnId === 'closed'" class="text-center">
                        <i v-if="content.closed" class="fas fa-lock" title="Modello chiuso"></i>
                        <i v-else class="fas fa-lock-open" title="Modello aperto"></i>
                    </div>
                    <div v-else-if="columnId == 'codici'">
                        <div v-for="(c, ck) in content[columnId]" :key="ck">
                            <strong>{{c.code}}</strong> {{c.description}}
                        </div>
                    </div>
                    <template v-else>
                        {{content[columnId]}}
                    </template>
                </td>
                <td>
                    <a :href="'/structure/rilevazione_cattedre/RilevazioneCattedreAction-edit?id=' + content['rilevazione_cattedre_id']"
                        class="button tiny secondary radius">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a v-if="!content.closed" @click="onClickRemove(content)"
                        class="button tiny secondary radius">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </template>
        </mb-table>
    </div>
</template>
<script>
import axios from "axios";

export default {
    data() {
        return {
        }
    },
    computed: {
    },
    methods: {
        onClickRemove(content) {
            if (!confirm("Rimuovere il documento?")) {
                return
            }

            this.$refs.loading = true
            axios.get("/structure/rilevazione_cattedre/RilevazioneCattedreTableAction-remove?id=" + content['rilevazione_cattedre_id'])
                .then(() => {
                    this.$refs.table.updateResults()
                })
        }
    }
}
</script>