<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <MbTestRowBase 
        :value="value"
        :read-only="readOnly"
        :nonValidaFileUploadEnabled="true">
        <template #custom-columns>
            <td class="reply-column" style="width: 20%;">
                <MbTestTextareaField
                    v-show="value.status == 'somministrata'" 
                    :disabled="readOnly" 
                    v-model="value.raw_data['errori_f']"
                    :reply="''"
                    targetValue="Errori F"
                />
            </td>
            <td class="reply-column" style="width: 50px;">
                <MbTextFieldWithSoglie 
                    v-show="value.status && value.status != 'assente'"
                    v-model="value.scores.errori_fonologici"
                    :soglia="getSoglia('errori_fonologici')"
                    :disabled="true"
                    ></MbTextFieldWithSoglie>
            </td>
            <td class="reply-column" style="width: 20%;">
                <MbTestTextareaField
                    v-show="value.status == 'somministrata'" 
                    :disabled="readOnly" 
                    v-model="value.raw_data['errori_nf']"
                    :reply="''"
                    targetValue="Errori NF"
                />
            </td>
            <td class="reply-column" style="width: 20%;">
                <MbTestTextareaField
                    v-show="value.status == 'somministrata'" 
                    :disabled="readOnly" 
                    v-model="value.raw_data['errori_a']"
                    :reply="''"
                    targetValue="Errori A"
                />
            </td>
            <td :class="'score ' + scoreClass">
                <MbTextFieldWithSoglie 
                    v-show="value.status && value.status != 'assente'"
                    v-model="value.scores.errori"
                    :soglia="getSoglia('errori')"
                    :disabled="true"
                    ></MbTextFieldWithSoglie>
            </td>
        </template>
    </MbTestRowBase>
</template>
<script>
import MbTestRowMixin from "../common/MbTestRowMixin"
import MbTextFieldWithSoglie from "../common/MbTextFieldWithSoglie"
import MbTestRowBase from '../common/MbTestRowBase'
import SomministrazioneStatus from '../SomministrazioneStatus'
import MbTestTextareaField from '../common/MbTestTextareaField'
import TestService from "./../TestService"

export default{
    mixins: [MbTestRowMixin],
    components: {
        MbTestRowBase,
        MbTestTextareaField,
        MbTextFieldWithSoglie
    },
    props: {
        value: {
            type: Object,
            default() {
                return {
                    "status": '',
                    "raw_data": {},
                    "scores": {
                        "risposte_corrette": 0
                    }
                }
            }
        },
        words: {
            type: Object,
            default(){
                return {}
            }
        },
        soglie: {
            type: Object,
            default() {
                return {}
            }
        },
        readOnly: {
            type: Boolean,
            default: false
        }
    },
    data(){
        return {
            scoreClass: ''
        }
    },
    computed: {
        status(){
            return this.value.status
        }
    },
    watch: {
        status(){
            var newValue = null
            if (this.value.status == SomministrazioneStatus.SOMMINISTRATA){
                newValue = ''
            }

            for(var i in this.value.raw_data){
                this.value.raw_data[i] = newValue
            }
        },
        value: {
            deep: true,
            handler(){
                this.updateScore()
            }
        }
    },
    created(){
        this.updateScore()
    },
    methods: {
        countWords(value){
            if (!value){
                return 0
            }

            let result = 0
            let words = value.split("-")
            words.forEach(word => {
                if (word.trim() == ''){
                    return
                }
                result++
            })

            return result
        },
        updateScore(){
            if (!this.value.scores){
                this.value.scores = {}
            }

            this.value.scores["errori"] = 0
            if (this.status == SomministrazioneStatus.ASSENTE){
                return
            }
            if (this.status == SomministrazioneStatus.NON_VALIDA){
                this.scoreClass = 'red'
                this.value.scores["errori"] = 100
                return
            }

            this.value.scores["errori_fonologici"] = this.countWords(this.value.raw_data["errori_f"])
            this.value.scores["errori"] += this.countWords(this.value.raw_data["errori_f"])
            this.value.scores["errori"] += this.countWords(this.value.raw_data["errori_nf"])
            this.value.scores["errori"] += this.countWords(this.value.raw_data["errori_a"])

            let soglia = this.soglie["errori"]
            let value = this.value.scores["errori"]
            let fascia = TestService.evaluate(soglia, value)

            this.scoreClass = ''
            if (fascia == 2){
                this.scoreClass = 'green'
            } else if (fascia == 1) {
                this.scoreClass = 'yellow'
            } else if (fascia == 0) {
                this.scoreClass = 'red'
            }
        }
    }
}
</script>
<style scoped>
input[type="radio"]{
    width: 30px;
    height: 30px;
    margin-bottom: 0px;
}
.studente{
    width: 100px;
}
.score{
    text-align: center;
    font-size: 20px !important;
}
.green{
    background-color: lightgreen;
}
.yellow{
    background-color: lightyellow;
}
.red{
    background-color: red;
    color: white;
}
td.word{
    padding: 0px;
}
.reply-column{
    position: relative; max-width: 200px;
}
</style>