<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <MbTestBase
        :isLoading="isLoading"
        :backAction="backAction"
        :noteCompilazione="noteCompilazione"
        :isExportEnabled="true"
        :displayAlert="displayAlert"
        @onClickExport="onClickExport"
        @onClickSubmit="onClickSubmit">
        <template #header-additional-columns>
            <th class="text-center" style="width: 20%;">
                Errori F
            </th>
            <th class="text-center" style="width: 50px;">
                Totale F
            </th>
            <th class="text-center" style="width: 20%;">
                Errori NF
            </th>
            <th class="text-center" style="width: 20%;">
                Errori A
            </th>
            <th>Totale</th>     
        </template>
        <template #table-body>
            <MbTestRow 
                v-for="(student, k) in results.students" 
                :key="k"
                v-model="results.students[k]"
                :read-only="readOnly"
                :words="parameters"
                :soglie="soglie">
            </MbTestRow>
        </template>
    </MbTestBase>
</template>
<script>
import TestService from "./../TestService"
import MbTextMixin from "../common/MbTestMixin"
import MbTestBase from "../common/MbTestBase"
import MbTestRow from "./MbTestRow"

export default{
    mixins: [MbTextMixin],
    components: {
        MbTestBase,
        MbTestRow
    },
    methods: {
        onClickExport(){
            var headerCols = [
                    {
                        index: 1, value: 'Studente'
                    },
                    {
                        index: 2, value: 'Stato'
                    },
                    {
                        index: 3, value: 'Errori F'
                    },
                    {
                        index: 4, value: 'Totale F'
                    },
                    {
                        index: 5, value: 'Errori NF'
                    },
                    {
                        index: 6, value: 'Errori A'
                    },
                    {
                        index: 7, value: 'Totale'
                    },
                    {
                        index: 8, value: 'Fascia'
                    }
                ]

            let data = {
                rows: [
                    {
                        index: 1,
                        isHeader: true,
                        columns: headerCols
                    }
                ]
            }

            for (let i = 0; i < this.data.length; i++){
                let dataRow = this.data[i]
                
                let columns = [{
                        index: 1, value: dataRow.user.name + ' ' + dataRow.user.surname
                    }, {
                        index: 2, value: dataRow.status  
                    }, {
                        index: 3, value: dataRow.raw_data['errori_f']  
                    }, {
                        index: 4, value: dataRow.scores['errori_fonologici']
                    }, {
                        index: 5, value: dataRow.raw_data['errori_nf']    
                    }, {
                        index: 6, value: dataRow.raw_data['errori_a']    
                    }, {
                        index: 7, value: dataRow.scores['errori']
                    }, {
                        index: 8, value: TestService.evaluate(this.soglie["errori"], dataRow.scores["errori"])
                    }]

                let row = {
                    index: i + 2,
                    columns: columns
                }
                data.rows.push(row)
            }

            this.generateExcel(data)
        }
    }
}
</script>
<style>
.words{
    text-transform: uppercase;
    text-align: center;
}
</style>