<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <MbTestRowBase 
        :value="value"
        :read-only="readOnly">
        <template #custom-columns>
            <td v-for="i in [0,1,2,3,4,5]" :key="'f_' + i">
                <MbTextFieldWithSoglie 
                    v-model="value.raw_data['fusione_' + i]"
                    :disabled="value.status != 'somministrata' || readOnly"
                    :required="true"
                    :maxLength="1"
                    :maxValue="1"
                    :minValue="0"
                    ></MbTextFieldWithSoglie>
            </td>
            <td>
                <MbTextFieldWithSoglie 
                    v-model="value.scores.fusione"
                    :soglia="getSoglia('fusione')"
                    :disabled="true"
                    ></MbTextFieldWithSoglie>
            </td>
            <td v-for="i in [0,1,2,3,4,5]" :key="'s_' + i">
                <MbTextFieldWithSoglie 
                    v-model="value.raw_data['segmentazione_' + i]"
                    :disabled="value.status != 'somministrata' || readOnly"
                    :required="true"
                    :maxLength="1"
                    :maxValue="1"
                    :minValue="0"
                    ></MbTextFieldWithSoglie>
            </td>
            <td>
                <MbTextFieldWithSoglie 
                    v-model="value.scores.segmentazione"
                    :soglia="getSoglia('segmentazione')"
                    :disabled="true"
                    ></MbTextFieldWithSoglie>
            </td>
        </template>
    </MbTestRowBase>
</template>
<script>
import MbTestRowMixin from "../common/MbTestRowMixin"
import SomministrazioneStatus from '../SomministrazioneStatus'
import MbTestRowBase from '../common/MbTestRowBase'
import MbTextFieldWithSoglie from "../common/MbTextFieldWithSoglie"

export default{
    mixins: [MbTestRowMixin],
    components: {
        MbTestRowBase,
        MbTextFieldWithSoglie
    },
    props: {
        value: {
            type: Object,
            default() {
                return {
                    "status": '',
                    "raw_data": {},
                    "scores": {}
                }
            }
        },
        soglie: {
            type: Object,
            default() {
                return {}
            }
        },
        readOnly: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        status(){
            return this.value.status
        }
    },
    watch: {
        status(){
            var newValue = null
            if (this.value.status == SomministrazioneStatus.SOMMINISTRATA){
                newValue = ''
            }

            for(var i in this.value.raw_data){
                this.value.raw_data[i] = newValue
            }
        },
        value: {
            deep: true,
            handler(){
                this.updateScore()
            }
        }
    },
    created(){
        this.updateScore()
    },
    methods: {
        updateScore(){
            if (typeof this.value.scores == "undefined"){
                this.value.scores = {}
            }

            if (this.value.status != 'somministrata'){
                this.value.scores['fusione'] = null
                this.value.scores['segmentazione'] = null
            } else {
                this.value.scores['fusione'] = 0
                this.value.scores['segmentazione'] = 0
                for (var i = 0; i < 6; i++){
                    this.value.scores['fusione'] += parseInt(this.value.raw_data["fusione_" + i])
                    this.value.scores['segmentazione'] += parseInt(this.value.raw_data["segmentazione_" + i])
                }

                if (isNaN(this.value.scores['fusione'])){
                    this.value.scores['fusione'] = 0
                }
                if (isNaN(this.value.scores['segmentazione'])){
                    this.value.scores['segmentazione'] = 0
                }
            }
        }
    }
}
</script>
<style scoped>
</style>