<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <MbTestBase
        :isLoading="isLoading"
        :backAction="backAction"
        :noteCompilazione="noteCompilazione"
        :isExportEnabled="true"
        :displayAlert="displayAlert"
        @onClickExport="onClickExport"
        @onClickSubmit="onClickSubmit">
        <template #header-additional-columns>
            
        </template>
        <template #pre-header-columns>
            <tr>
                <th colspan="4"></th>
                <th class="text-center" colspan="7">Fusione</th>
                <th class="text-center" colspan="7">Segmentazione</th>
            </tr>
        </template>
        <template #header-additional-columns>
            <th v-for="i in [0,1,2,3,4,5]" :key="'s_' + i" class="text-center">
                {{paroleSegentazione[i]}}
            </th>
            <th class="text-center">Totale</th>
            <th v-for="i in [0,1,2,3,4,5]" :key="'f_' + i" class="text-center">
                {{paroleFusione[i]}}
            </th>
            <th class="text-center">Totale</th>
        </template>
        <template #table-body>
            <MbTestRow 
                v-for="(student, k) in results.students" 
                :key="k"
                v-model="results.students[k]"
                :read-only="readOnly"
                :replies="parameters"
                :soglie="soglie">
            </MbTestRow>
        </template>
    </MbTestBase>
</template>
<script>
import TestService from "./../TestService"
import MbTextMixin from "../common/MbTestMixin"
import MbTestBase from "../common/MbTestBase"
import MbTestRow from "./MbTestRow"
import SomministrazioneService from "../SomministrazioneService"

export default{
    mixins: [MbTextMixin],
    components: {
        MbTestBase,
        MbTestRow
    },
    data(){
        return {
            paroleSegentazione: [],
            paroleFusione: []
        }
    },
    mounted(){
        if (this.bag.somministrazione.periodo_dictionary_value == 'iniziale'){
            this.paroleSegentazione = ["RAMO", "PALCO", "TRENO", "MONETA", "BAMBOLA", "CESTINO"]
            this.paroleFusione = ["GU-FO", "FUN-GO", "RU-SPA", "MA-TI-TA", "FOR-BI-CI", "PA-STO-RE"]
        } else {
            this.paroleSegentazione = ["CORNA", "VETRO", "LAMPONI", "MESTOLO", "CANARINO", "LAVATRICE"]
            this.paroleFusione = ["VI-GI-LE", "CAM-PA-NE", "STI-VA-LI", "PE-PE-RO-NE", "PAN-TO-FO-LE", "MI-CRO-FO-NO"]
        }
    },
    methods: {
        validateData(){
            return SomministrazioneService.validate(this.results)
        },
        onClickExport(){
            let data = {
                rows: [
                    {
                        index: 1,
                        isHeader: true,
                        columns: [
                            {
                                index: 1, value: 'Studente'
                            },
                            {
                                index: 2, value: 'Stato'
                            }
                        ]
                    }
                ]
            }

            let cIndex = data.rows[0].columns.length + 1
            for (let i = 0; i < this.paroleFusione.length; i++){
                data.rows[0].columns.push({
                    index: cIndex++, value: this.paroleFusione[i]
                })
            }
            data.rows[0].columns.push({
                index: cIndex++, value: "Totale"
            })
            data.rows[0].columns.push({
                index: cIndex++, value: "Fascia"
            })

            for (let i = 0; i < this.paroleSegentazione.length; i++){
                data.rows[0].columns.push({
                    index: cIndex++, value: this.paroleSegentazione[i]
                })
            }
            data.rows[0].columns.push({
                index: cIndex++, value: "Totale"
            })
            data.rows[0].columns.push({
                index: cIndex++, value: "Fascia"
            })

            for (let i = 0; i < this.data.length; i++){
                let dataRow = this.data[i]

                let row = {
                    index: i + 2,
                    columns: [
                        {
                            index: 1, value: dataRow.user.name + ' ' + dataRow.user.surname
                        }, 
                        {
                            index: 2, value: dataRow.status  
                        }
                    ]
                }

                cIndex = row.columns.length + 1
                for (let i = 0; i < this.paroleFusione.length; i++){
                    row.columns.push({
                        index: cIndex++, value: dataRow.raw_data["fusione_" + i]
                    })
                }
                row.columns.push({
                    index: cIndex++, value: dataRow.scores["fusione"]  
                })
                row.columns.push({
                    index: cIndex++, value: TestService.evaluate(this.soglie["fusione"], dataRow.scores["fusione"])
                })

                for (let i = 0; i < this.paroleSegentazione.length; i++){
                    row.columns.push({
                        index: cIndex++, value: dataRow.raw_data["segmentazione_" + i]
                    })
                }
                row.columns.push({
                    index: cIndex++, value: dataRow.scores["segmentazione"]  
                })
                row.columns.push({
                    index: cIndex++, value: TestService.evaluate(this.soglie["segmentazione"], dataRow.scores["segmentazione"])
                })

                data.rows.push(row)
            }

            this.generateExcel(data)
        }
    }
}
</script>