.table-button{
    padding: 5px;
}
.table-button:hover{
    color: lightgreen;
}
.text-center{
    text-align: center;
}

.d-flex{
    display: flex;
}
.flex-justify-space-between{
    justify-content: space-between;
}
.flex-justify-center{
    justify-content: center;
}

.color-red{
    color: red !important;
}

.alert{
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger{
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.vertical-align-middle{
    vertical-align: middle !important;
}

.text-center{
    text-align: center !important;
}

.pt-1 {
    padding-top: 5px;
}
.pt-2 {
    padding-top: 10px;
}

.mt-1 {
    margin-top: 5px;
}
.mt-2 {
    margin-top: 10px;
}
.mt-3{
    margin-top: 12px;
}
.my-2 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.my-5{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.mt-5{
    margin-top: 20px;
}
.mb-1{
    margin-bottom: 5px !important;
}
.mb-5{
    margin-bottom: 20px !important;
}
.ml-5{
    margin-left: 20px !important;
}
.mt-10{
    margin-top: 40px;
}
.ms-5{
	margin-left: 5px !important;
}
.ms-1 {
    margin-bottom: 5px !important;
}
.ms-2 {
    margin-left: 10px !important;
}

.justify-content-md-center {
    justify-content: center!important;
}

.form-row {
    margin-bottom: 15px;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

select:disabled{
    background-color: #dddddd !important;
    opacity: 1;
}

.tabs {
    margin: 0;
    border: 1px solid #e6e6e6;
    background: #fefefe;
    list-style-type: none;
}

.tabs-title {
    float: left;
}

.tabs-title>a:focus,
.tabs-title>a[aria-selected='true'] {
    background: #e6e6e6;
    color: #1779ba;
}

[data-whatinput='mouse'] .tabs-title>a {
    outline: 0;
}

.tabs-title>a {
    display: block;
    padding: 1.25rem 1.5rem;
    font-size: 0.75rem;
    line-height: 1;
    color: #1779ba;
}

.tabs-content {
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-top: 0;
    background: #fefefe;
    color: #0a0a0a;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
    margin-top: 0px;
}

div.areagrigia .pianodidattico{
    margin-top: 0px;
}

.student-buttons a {
    width: 150px;
}

.form-submit-fixed {
    position: fixed;
    bottom: 0px;
    background-color: white;
    padding: 10px;
    width: 979px;
    z-index: 1;
}

.v-align-top{
    vertical-align: top !important;
}