<template>
<div>
    <table style="width: 100%;">
        <thead v-if="displayHeader">
            <th>Strategie e<br/>strumenti</th>
            <th v-if="displayFacilitatore">Facilitatore</th>
            <th></th>
        </thead>
        <tbody>
            <tr v-for="(option, ok) in options" :key="ok">
                <td class="text-center" style="width: 80px">
                    <input :value="option.key" v-model="internalValue.strategie" type="checkbox" />
                </td>
                <td v-if="displayFacilitatore"
                    class="text-center" style="width: 80px">
                    <input :value="option.key" v-model="internalValue.facilitatori" type="checkbox" />
                </td>
                <td>
                    {{option.value}}

                    <div v-if="keyWithTextField.indexOf(option.key) !== -1 && internalValue.text">
                        <textarea v-model="internalValue.text[option.key]"></textarea>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <input :name="inputName" :value="inputValue" type="hidden" />
</div>
</template>
<script>

import DataUtils from "@/utils/DataUtils"

export default{
    props:{
        value: {
            type: [Array, Object, String]
        },
        options: Array,
        inputName: String,
        displayHeader: Boolean,
        displayFacilitatore: Boolean
    },
    data(){
        return {
            inputValue: null,
            internalValue: {},
            keyWithTextField: [
                "sam_2_2",
                "sam_28",
                "sam_3_3"
            ]
        }
    },
    watch: {
        value(){
            let value = null

            if (!this.value){
                value = {
                    "facilitatori": [],
                    "strategie": [],
                    "text": {}
                }
            }

            if (typeof this.value == "string") {
                try {
                    if (this.value.indexOf("%7B%") == 0) {
                        value = DataUtils.decodeData(this.value)
                    } else {
                        value = JSON.parse(this.value)
                    }
                }catch(e){}
                   
                if (typeof value == "string"){
                    value = []
                }
            }

            if (!value["facilitatori"]){
                value = {
                    "facilitatori": [],
                    "strategie": value
                }
            }

            if (!value["strategie"] || !Array.isArray(value.strategie)) {
                value["strategie"] = []
            }

            if (!value["text"]){
                value["text"] = {}
            }

            this.internalValue = value
        },
        internalValue: {
            deep:true, 
            handler(){
                this.inputValue = DataUtils.encodeData(this.internalValue)
            }
        }
    }
}

</script>
<style scoped>
th{
    padding: 5px;
}
</style>