<template>
    <div>
        <MbLoading v-if="isLoading"></MbLoading>
        <div v-else-if="rows.length == 0">
            <p>
                Nessun dato da recuperare.
            </p>
        </div>
        <div v-else>
            <div class="table-container">
                <table class="table displaytable table-striped table-sm table-hover" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Utente</th>
                            <th>Contenuto</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(r, rk) in rows" :key="rk">
                            <td>{{ r.last_edit_date | date-time }}</td>
                            <td>{{ r.ue_name }} {{ r.ue_surname }}</td>
                            <td>{{ r.node_label }}</td>
                            <td>
                                <input type="checkbox" class="big-checkbox" v-model="selectedRows" :value="r.pei_row_id"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-10 text-center">
                <<button :disabled="selectedRows.length == 0" @click="onClickRecupera()">
                    Recupera {{ selectedRows.length }} righe
                </button>
            </div>
        </div>
    </div>
</template>
<script>

import MbLoading from "@/components/ui/base/MbLoading"
import axios from "axios"
import DateTime from "@/filters/DateTime"

export default {
    components: {
        MbLoading
    },
    filters: {
        DateTime
    },
    props: {
        documentId: Number
    },
    data() {
        return {
            isLoading: true,
            rows: [],
            selectedRows: []
        }
    },
    mounted() {
        this.load()
    },
    methods: {
        load() {
            this.isLoading = true
            axios.get("/structure/pei/PeiAction-loadDeletedNodes?documentId=" + this.documentId)
                .then((res) => {
                    this.isLoading = false
                    this.rows = res.data
                })
        },
        onClickRecupera() {
            this.isLoading = true
            let promises = []
            for (let r of this.selectedRows) {
                promises.push( axios.get("/structure/pei/PeiAction-changePeiRowStatusNoRedirect?documentId=" + this.documentId + "&peiRowId=" + r + "&status=SELECTED") )
            }

            Promise.all(promises)
                .then(() => {
                    window.location = "/structure/pei/PeiAction-details?documentId=" + this.documentId
                })
        }
    }
}
</script>
<style scoped>
.big-checkbox {
    -webkit-transform: scale(2);
    transform: scale(2);
    padding: 10px;
    margin-top: 10px;
}
</style>