<template>
<div>
    <table style="width: 100%;">
        <tbody>
            <tr v-for="(option, ok) in options" :key="ok">
                <td class="text-center" style="width: 80px">
                    <input :value="option.key" v-model="internalValue.modalita" :type="inputType" :disabled="readOnly" />
                </td>
                <td v-if="displayFacilitatore"
                    class="text-center" style="width: 80px">
                    <input :value="option.key" v-model="internalValue.facilitatori" type="checkbox" :disabled="readOnly" />
                </td>
                <td>
                    {{option.value}}
                    
                    <div v-if="optionsWithTextArea && optionsWithTextArea.indexOf(option.key) !== -1 
                        && internalValue.modalita && internalValue.modalita.indexOf(option.key) !== -1" class="note-field">
                        Specificare:
                        <textarea v-model="internalValue.text[option.key]" :disabled="readOnly"></textarea>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <input :name="inputName" :value="inputValue" type="hidden" />
</div>
</template>
<script>

import DataUtils from "@/utils/DataUtils"

export default{
    props:{
        value: {
            type: [Array, Object, String]
        },
        options: Array,
        inputType: {
            type: String,
            default: "checkbox"
        },
        displayFacilitatore: Boolean,
        optionsWithTextArea: {
            type: Array,
            default() {
                return []
            }
        },
        inputName: String,
        readOnly: {
            type: Boolean,
            default: false
        }
    },
    data(){
        return {
            inputValue: null,
            internalValue: {}
        }
    },
    watch: {
        value(){
            let value = null

            if (!this.value){
                value = {
                    "modalita": [],
                    "text": {}
                }
            }

            if (typeof this.value == "string" && this.value != "") {
                if (this.value.indexOf("%7B%") == 0) {
                    value = DataUtils.decodeData(this.value)
                } else {
                    value = JSON.parse(this.value)
                }
            }

            if (this.inputType == "checkbox") {
                if (!Array.isArray(value.modalita)) {
                    value.modalita = []
                }
            }

            this.internalValue = value
        },
        internalValue: {
            deep:true, 
            handler(){
                this.inputValue = DataUtils.encodeData(this.internalValue)
            }
        }
    }
}

</script>
<style scoped>
th{
    padding: 5px;
}
.note-field{
    margin-top: 5px;
}
</style>