<template>
    <div class="table-container">
        <MbLoading v-if="isLoading"></MbLoading>
        <div v-else>
            <div class="row-100">
                <div class="column small-6">    
                    <label class="column small-2">Plesso</label>
                    <select class="column small-10" v-model="plesso">
                        <option value="">Tutti</option>
                        <option v-for="(s, k) in structures" :key="k" :value="k">{{ s }}</option>
                    </select>
                </div>

                <div class="column small-6">    
                    <label class="column small-2">Classe</label>
                    <select class="column small-10" v-model="classe">
                        <option value="">Tutte</option>
                        <option v-for="(s, k) in classi" :key="k" :value="k">{{ s }}</option>
                    </select>
                </div>
            </div>

            <table class="table displaytable table-striped table-sm table-hover">    
                <thead>
                    <tr>
                        <th class="stiky-head">Classe</th>
                        <th class="stiky-head">Sezione</th>
                        <th class="stiky-head">Codice</th>
                        <th class="stiky-head text-center" v-for="(r, k) in fileTypes" :key="k">
                            {{ r }}
                            <a v-if="k == 'at_diagnosi'" class="cursor-pointer" @click="downloadFileType(k)">
                                <i class="fas fa-download"></i>
                            </a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(r, rk) in rows">
                        <tr v-if="rk == 0 || rows[rk].user.plesso_name != rows[rk - 1].user.plesso_name">
                            <td :colspan="(4 + Object.keys(fileTypes).length)" class="plesso-header">
                                <h4>{{ r.user.plesso_name }}</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>{{r.user.classe}}</td>
                            <td>{{r.user.sezione}}</td>
                            <td>{{r.user.code}}</td>
                            <td v-for="(t, tk) in fileTypes" :key="tk" class="text-center">
                                <i class="fas fa-check-circle color-green" 
                                    v-if="r.files != null && r.files.includes(tk)"></i>
                            </td>
                            <td>
                                <a :href="'/structure/pei/UserAttachmentAction?documentId=' + rk">
                                    <i class="fas fa-paperclip"></i>
                                </a>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>

import axios from "axios"
import MbLoading from "../../ui/base/MbLoading.vue"

export default {
    components: {
        MbLoading
    },
    props: {
        structures: Array,
        classi: Array
    },
    data(){
        return {
            isLoading: true,
            documentType: '',
            fileTypes: {},
            rows: [],
            plesso: '',
            classe: ''
        }
    },
    watch: {
        plesso(){
            this.loadData()
        },
        classe(){
            this.loadData()
        }
    },
    mounted(){
        this.loadData()
    },
    methods: {
        loadData(){
            this.isLoading = true
            let url = '/structure/pei/AttachmentSummaryAction-getData'

            //add query string parameters
            let params = new URLSearchParams()
            if (this.plesso != '') {
                params.append('plessoId', this.plesso)
            }

            if (this.classe != '') {
                params.append('classeId', this.classe)
            }

            axios.get(url + '?' + params.toString())
                .then((response) => {
                    this.isLoading = false
                    this.documentType = response.data.document_type
                    this.rows = response.data.students
                    this.fileTypes = response.data.file_types
                })
        },
        downloadFileType(fileType){
            this.isLoading = true
            let url = "/structure/pei/AttachmentSummaryAction-download"

            let params = new URLSearchParams()
            params.append('documentType', this.documentType)
            params.append('type', fileType)
            if (this.plesso != '') {
                params.append('plessoId', this.plesso)
            }

            if (this.classe != '') {
                params.append('classeId', this.classe)
            }

            //downlaoading file
            axios.get(url + "?" + params.toString(), {responseType: 'blob'})
                .then((response) => {
                    this.isLoading = false
                    const url = window.URL.createObjectURL(new Blob([response.data]))
                    const link = document.createElement('a')
                    link.href = url
                    link.setAttribute('download', fileType + '.zip')
                    document.body.appendChild(link)
                    link.click()

                    this.$nextTick(() => {
                        document.body.removeChild(link)
                        this.isLoading = false
                    })
                })
        }

    }
}
</script>
<style scoped>
.stiky-head{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #eee;
}

.color-green{
    color: green;
}

.plesso-header{
    background-color: #f0f0f0;
    border-top: 10px;
    top: 62px;
    position: sticky;
}
</style>