<template>
<div>
    <mb-loading v-if="isLoading"></mb-loading>
    <div v-else>
        <p>
            Selezionare i documenti dalla tabella e premere il pulsante recupera.
        </p>

        <mb-table
            ref="table"
            queryName="structure.RecuperaDocumentiQuery"
            :onPostPrepareRequest="onPostPrepareRequest"
        >
            <template #additional-headers>
                <th>
                    <a @click="onClickAddAll()">Tutti</a>
                </th>
            </template>
            <template #custom-columns="{content, visibleColumns}">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId"
                    :class="{'selected': documentIds.indexOf(content.user_year_document_id) !== -1}">
                    <div v-if="columnId == 'pei_status'">
                        <div :class="['square', content[columnId]]"></div>
                    </div>
                    <div v-else>
                        {{content[columnId]}}
                    </div>
                </td>
                <td class="tools">
                    <input type="checkbox" v-model="documentIds" :value="content['user_year_document_id']"/>
                </td>
            </template>
        </mb-table>

        <div style="text-align: center; margin: 20px;">
            <button class="" :disabled="documentIds.length == 0"
                @click="onClickRecupera()">
                Recupera {{documentIds.length}}
            </button>
        </div>
    </div>

    <MbConfirm ref="confirm"></MbConfirm>
</div>
</template>
<script>
import axios from "axios"
import MbLoading from '../../ui/base/MbLoading.vue'
import MbConfirm from "@/components/ui/modal/MbConfirm"

export default{
	components: { MbLoading, MbConfirm },
    data(){
        return {
            isLoading: false,
            documentIds: []
        }
    },
    methods: {
        onPostPrepareRequest(request){
            return request
        },
        onClickAddAll(){
            for(let c of this.$refs.table.contents){
                if (this.documentIds.indexOf(c.user_year_document_id) === -1){
                    this.documentIds.push(c.user_year_document_id)
                }
            }
        },
        onClickRecupera(){
            this.$refs.confirm.show('Importare i documenti nell\'anno scolastico corrente?', () => {
                this.isLoading = true

                let url = window.location.href.replace('-importFromPrevYear', '-updateSchoolYear')
                axios.post(url, {
                    documentIds: this.documentIds
                })
                    .then(() => {
                        this.isLoading = false
                        this.documentIds = []
                        this.$refs.table.updateResults()
                    })
            })
        }
    }
}
</script>
<style scoped>

.table td.selected{
    background-color: #f7f78e;
}

.table td.tools {
    width: 50px !important;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
}

td.tools input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  margin-top: 10px;
}

</style>