<template>
    <div>
        <mb-table
            queryName="structure.PeiPdpQuery"
            :onPostPrepareRequest="onPostPrepareRequest"
        >
            <template #custom-columns="{content, visibleColumns}">
                <td v-for="(column, columnId) in visibleColumns" :key="columnId">
                    <div v-if="columnId == 'pei_status'">
                        <div :class="['square', content[columnId]]"></div>
                    </div>
                    <div v-else-if="columnId == 'last_edit_date'">
                        {{content[columnId] | date-time}}
                    </div>
                    <div v-else>
                        {{content[columnId]}}
                    </div>
                </td>
                <td>
                    <a :href="'/structure/UserAction?documentId=' + content['user_year_document_id']"
                        class="button tiny secondary radius">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </td>
            </template>
        </mb-table>
    </div>
</template>
<script>
export default{
    methods: {
        onPostPrepareRequest(request){
            return request
        }
    }
}
</script>