<template>
    <div class="row-100 campiObbligatori">
        <div class="large-3 medium-3 columns">
            <p>*campi obbligatori</p>
        </div>
        <div class="large-5 medium-5 end columns">
            <a @click="$emit('onClickSubmit')" class="button radius salva"><i class="far fa-save margin-right"></i>Salva</a>
            <a @click="$emit('onClickCancell')" class="ms-2 button radius alert"><i class="fa fa-undo margin-right"></i>Annulla</a>
        </div>
    </div>
</template>