<template>
    <div class="row-100 form-row " id="campo_form_um_tipo_permanenza" style="">
        <div class="large-3 medium-3 columns">
            <label class="inline codice  bold">
                <slot name="label"></slot>
            </label>
        </div>
        <div class="large-9 medium-9 columns">
            <select v-model="internalValue">
                <option value=""></option>
                <option v-for="(o, ok) in options" :key="ok" :value="o.key">
                    {{ o.value }}
                </option>
            </select>                
            <div class="form_field_note"></div>
        </div>
    </div>
</template>
<script>

export default {
    props: {
        value: String,
        options: Array
    },
    computed: {
        internalValue: {
            get() {
                return this.value
            },
            set(value) {
                this.$emit('input', value)
            }
        }
    }
}

</script>