<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <div>
        <div v-if="hasErrors">
            <h3>Errori</h3>
            <div class="error" v-for="(error, ek) in errors" :key="ek">
                {{error}}
            </div>
        </div>
        <div v-else>
            <MbReport :value="user" :fields="fields"></MbReport>

            <div v-if="user.somministrazioni">
                <h3>Somministrazioni</h3>
                <div v-for="(somministrazione, sk) in user.somministrazioni" :key="sk"
                    class="somministrazione">
                    <div class="somministrazione-header">
                        {{somministrazione.classe}} - {{somministrazione.periodo}} ({{somministrazione.data_inizio | date}}) - {{somministrazione.data_fine | date}})
                    </div>
                    <div class="somministrazione-content">
                        <div v-for="(td, tdk) in somministrazione.test_data" :key="tdk">
                            <div class="test-header">
                                {{td.name}} - {{td.status}}
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Variabile</th>
                                        <th>Punteggio</th>
                                        <th>Fascia</th>
                                    </tr>
                                </thead>
                                <tr v-for="(v, vk) in td.variables" :key="vk">
                                    <td>{{v.variable_name}}</td>
                                    <td class="text-right">{{v.value}}</td>
                                    <td :class="'fascia_' + v.fascia"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Axios from "axios"
import MbReport from "@/components/ui/base/MbReport"

export default{
    components: {
        MbReport
    },
    props: {
        userId: {
            type: Number
        },
        id: {
            type: Number
        },
        classId: {
            type: Number
        },
        testId: {
            type:Number
        }
    },
    data() {
        return {
            hasErrors: false,
            errors: [],
            user: {},
            fields: [
                {
                    "label": "Codice",
                    "name": "code"
                },
                {
                    "label": "Nome",
                    "name": "name"
                },
                {
                    "label": "Cognome",
                    "name": "surname"
                },
                {
                    "label": "Plesso",
                    "name": "plesso"
                },
                {
                    "label": "Classe",
                    "name": "classe",
                    "type": "MbDictionary"
                },
                {
                    "label": "Sezione",
                    "name": "sezione"
                },
                {
                    "label": "Nazionalità",
                    "name": "nazionalita_ita_dictionary_key",
                    "type": "MbDictionary"
                },
            ]
        }
    },
    mounted(){
        Axios.post("/public/api/query/QueryAction-find", {
                "queryName": "user.UserDetailsQuery",
                "paginator": "NONE",
                "conditions": {
                    "user_id": this.userId
                }
            }).then((response) => {
                var data = response.data

                this.hasErrors = data.info.hasErrors
                if (data.info.hasErrors){
                    this.errors = data.info.errors
                    return
                }

                this.user = response.data.results[0]
            })
    }
}

</script>
<style scoped>
.somministrazione{
    margin-bottom: 20px;
}

.somministrazione-header{
        padding: 10px 0px 10px 3px;
    background-color: #2200ff42;
    font-size: 18px;
}
.somministrazione-content{
    padding-left: 10px;
}

.test-header{
    margin-top: 20px;
}

.fascia_0{
    background-color: red;
}
.fascia_1{
    background-color: yellow;
}
.fascia_2{
    background-color: green;
}
</style>