<!--
----------------------------------------------------------------------------------------- 
This file is part of the application Futura  
 
Copyright (c) 2019 Provincia Autonoma di Bolzano (http://www.provincia.bz.it/). 
 
This program is free software: you can redistribute it and/or modify it under the terms of 
the Affero GNU General Public License as published by the Free Software Foundation, either 
version 3 of the License, or (at your option) any later version. 
 
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the Affero GNU General Public License for more details. 
 
You should have received a copy of the GNU General Public License along with this program.  
If not, see <http://www.gnu.org/licenses/>. 
----------------------------------------------------------------------------------------- 

@author Marco Buccio <info@mbuccio.it> 
-->
<template>
    <div>
        <a @click="onClickOpenDetails()">
            {{value.name}} {{value.surname}}<br/>
            <small>{{value.code}}</small>
        </a>
    </div>
</template>
<script>
import MbEntityUserDetails from "./MbEntityUserDetails"

export default {
    props: {
        value: {
            type: Object,
            default() {
                return {}
            }
        }
    },
    methods: {
        onClickOpenDetails(){
            window.vueBus.$emit("right-panel-show", {
					title: "Dettagli untente",
                    componentType: MbEntityUserDetails,
                    parameters: {
                        "userId": this.value.user_id
                    }
                });
        }
    }
}
</script>