<template>
    <div>
        <MbLoading v-if="isLoading"></MbLoading>
        <div v-else>

            <MbValutazioneLinguaForm
                v-for="(f, fk) of form" :key="fk"
                :pdp_lin_livello_competenze="pdp_lin_livello_competenze"
                @onClickRemove="onClickRemove(fk)"
                v-model="form[fk]"></MbValutazioneLinguaForm>

            <div style="margin: 10px; text-align: center; display: flex;">
                <a @click="onClickAdd()" class="button radius salva" style="flex: 1;">Aggiungi lingua</a>
            </div>

            <MbFormSubmit
                @onClickCancell="onClickCancell"
                @onClickSubmit="onClickSubmit"
                >
            </MbFormSubmit>

            <MbConfirm ref="confirm"></MbConfirm>
        </div>
    </div>
</template>
<script>
import MbLoading from "@/components/ui/base/MbLoading"
import MbFormSubmit from '@/components/ui/form/MbFormSubmit'
import MbValutazioneLinguaForm from './MbValutazioneLinguaForm'
import MbConfirm from "@/components/ui/modal/MbConfirm"
import axios from "axios"

export default {
    components: {
        MbLoading,
        MbFormSubmit,
        MbValutazioneLinguaForm,
        MbConfirm
    },
    props: {
        documentId: Number,
        pdp_lin_livello_competenze: Array,
        value: Object
    },
    data() {
        return {
            isLoading: false,
            form: []
        }
    },
    computed: {
    },
    mounted() {
        this.form = this.value
        if (!this.form) {
            this.form = []
        }

        this.$nextTick(() => {
            window.pushDown()
            window.updateSubmitPosition()
        })
    },
    methods: {
        onClickAdd() {
            this.form.push({})
        },
        onClickRemove(fk) {
            this.$refs.confirm.show('Rimuovere la lingua?', () => {
                this.form.splice(fk, 1)
            })
        },
        onClickCancell() {
            window.location = "/structure/UserAction?documentId=" + this.documentId
        },
        onClickSubmit() {
            this.isLoading = true
            axios.post('/structure/pdp_lingua/CompetenzeLinguisticheAction-persist?documentId=' + this.documentId, this.form)
                .then(() => {
                    this.onClickCancell()
                })
        }
    }
}
</script>