<template>
    <div class="pdt_box">
        <div style="display: flex;">
            <input class="lingua" type="text" v-model="form.lingua" placeholder="Lingua..."></input>
            <a @click="$emit('onClickRemove')" class="ms-5 button radius alert remove">
                <i class="fa fa-trash"></i>
            </a>
        </div>
        
        <MbSelectField v-model="form.comprensioneOrale"
            :options="pdp_lin_livello_competenze">
            <template #label>Livello di comprensione orale</template>
        </MbSelectField>

        <MbSelectField v-model="form.produzioneOrale"
            :options="pdp_lin_livello_competenze">
            <template #label>Livello di produzione orale</template>
        </MbSelectField>

        <MbSelectField v-model="form.comprensioneScritta"
            :options="pdp_lin_livello_competenze">
            <template #label>Livello di comprensione scritta</template>
        </MbSelectField>

        <MbSelectField v-model="form.produzioneScritta"
            :options="pdp_lin_livello_competenze">
            <template #label>Livello di produzione scritta</template>
        </MbSelectField>

        <MbSelectField v-model="form.interazioneMediazione"
            :options="pdp_lin_livello_competenze">
            <template #label>Livello di interazione e mediazione</template>
        </MbSelectField>

        <div class="row-100 form-row" >
            <div class="large-3 medium-3 columns">
                <label class="inline codice bold" for="um_segnalazioni_famiglia">
                    Note:
                </label>
            </div>
            <div class="large-9 medium-9 columns">
                <div class="">
                    <textarea rows="3" cols="80" v-model="form.note" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 69px;"></textarea>
                </div>
                <div class="form_field_note"></div>
            </div>
        </div>
    </div>
</template>
<script>
import MbSelectField from '@/components/ui/form/MbSelectField'

export default {
    components: {
        MbSelectField
    },
    props: {
        value: {
            type: Object,
            default() {
                return {
                    comprensioneOrale: null,
                    produzioneOrale: null,
                    comprensioneScritta: null,
                    produzioneScritta: null,
                    interazioneMediazione: null,
                    note: ''
                }
            }
        },
        pdp_lin_livello_competenze: Array
    },
    computed: {
        form: {
            get() {
                return this.value
            },
            set(value) {
                this.$emit('input', value)
            }
        }
    }

}

</script>
<style #scoped>
.pdt_box{
    border-left: 1px solid grey;
    margin: 10px 10px 48px;
}

input.lingua{
    margin-bottom: 24px;
    font-size: 30px;
    height: auto;
    padding: 9px;
}

a.remove.alert.button{
    margin-bottom: 24px;
}
</style>